<template>
  <div class="archeved-Lectures">
      <div class="container">
          <Loading v-if="isLoading" />
          <NoData msg="No Data Available" v-else-if="!isLoading && Lectures.length == 0" />
          <div v-else>
              <h3>Archeved Lectures</h3>
              <div class="row">
                  <div class="col-md-3" v-for="lec in Lectures" :key="lec.id">
                      <div class="lec-card">
                          <h5> {{lec.title}} </h5>
                          <span> <span>Lecture Time :</span> {{$moment(lec.time).fromNow() }} </span>
                          <span> <span>Created At: </span> {{$moment(lec.createdAt).fromNow()}} </span>
                           <a class="btn btn-info" style="outline:none;padding:5px 10px;" :href="lec.videoUrl" target="_blank"> Recorded Video </a>
                          <div style="    text-align: right;">
                              <vs-button @click="deleteLec(lec)" style="padding: 2px 9px;" color="danger"><i class="fas fa-trash-alt"></i></vs-button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
import NoData from '@/components/NoData';
export default {
    middleware:['auth-teacher-admin'],
    components:{
        Loading,
        NoData
    },
    created(){
        this.archevedLec();
    },
    data(){
        return {
            isLoading: true,
            Lectures:[],
            currLecToDelete:{},
            notifySuccess: require("@/assets/success.mp3"),
        }
    },
    methods:{
        archevedLec(){
            this.isLoading = true;
            this.$axios.get(`/live/${this.$route.params.id}/archive`).then(res => {
                this.Lectures = res.data
            }).finally(() => this.isLoading = false)
        },
        deleteLec(lec){
            this.currLecToDelete = lec;
            this.$vs.dialog({title:"Delete Lecture", text:"Are You Sure To Delete This Lecture !", color:"danger", accept:this.deleteLecMain});
        },
        deleteLecMain(){
            this.$vs.loading();
            this.$axios.delete(`/lecture/${this.currLecToDelete.id}`).then(res => {
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({
                    title: "Success",
                    text: "Lecture Deleted Successfully",
                    color: "success"
                });
                this.archevedLec();
            }).finally(() => this.$vs.loading.close())
        }
    }
}
</script>

<style lang="scss">
.archeved-Lectures{
    padding-top:50px;
    h3{
        color: #192a44;
            margin-bottom: 19px;
    }
    .lec-card{
        padding: 15px;
        background: #FFF;
        margin-bottom: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 9px;
        transition: all .2s linear;
        h5{
            margin-bottom: 0;
            margin: 0;
            background: #192a44;
            color: #FFF;
            padding: 5px;
            border-radius: 7px;
            text-align: center;
            margin-bottom: 6px;
        }
        span{
            display: block;
            >span{
                display: inline-block;
                font-weight: bold;
                font-size: 10px;
            }
        }
        &:hover{
            transform: translateY(-5px);
        }
    }
}
</style>