<template>
  <div class="oneLive">
    <div class="container">
      <Loading v-if="isLoading" />

      <div v-else>
        <div style="display:flex;flex-wrap:wrap;margin-bottom:10px">
          <div style="flex:1;">
            <h3 style="margin-bottom:15px">
              Live Quizes
            </h3>
          </div>
          <div v-if="$auth.loggedIn && $auth.user.role == 'teacher'">
            <vs-button
              @click="
                addQuizData = !addQuizData;
                (editQuizData = false),
                  (addLectureData = false),
                  (editLectureData = false);
              "
            >
              Add Quiz
            </vs-button>
            <vs-button
              @click="
                addLectureData = !addLectureData;
                (editQuizData = false),
                  (editLectureData = false),
                  (addQuizData = false);
              "
              color="#5bc0de"
            >
              Add Lecture
            </vs-button>
            <vs-button
              color="success"
              @click="$router.push(`/lives/${$route.params.id}/archeive`)"
              >Archived Lecture</vs-button
            >
          </div>
        </div>

        <div class="live-lecture" v-if="Object.keys(allLecture).length > 0">
          <div>
            <div class="lec-operations">
              <vs-button @click="addVideoLecturePopup = true" color="success">
                <i class="fas fa-play"></i>
              </vs-button>
              <vs-button @click="addVideoUrlLivePopup = true" color="primary">
                <i class="fas fa-wifi"></i>
              </vs-button>
            </div>

            <h5>{{ allLecture.title }}</h5>
            <span> {{ $moment(allLecture.time).fromNow() }} </span>
            <!--  -->
            <div
              class="live-time"
              v-if="index == 1 && allLecture && allLecture.time"
              v-for="(x, index) in 5"
              :key="index"
            >
              <no-ssr>
                <vac @finish="endCountDown" :end-time="allLecture.time">
                  <template v-slot:process="{ timeObj }">
                    <!-- <span></span> -->
                    <div>
                      <div class="time-div">
                        <!-- <img src="@/assets/imgs/live-timer.png" alt="" /> -->
                        <span>{{ ` ${timeObj.s}` }}</span>
                      </div>
                      <h6>Seconds</h6>
                    </div>

                    <div>
                      <div class="time-div">
                        <!-- <img src="@/assets/imgs/live-timer.png" alt="" /> -->
                        <span>{{ ` ${timeObj.m}` }}</span>
                      </div>
                      <h6>Minutes</h6>
                    </div>

                    <div>
                      <div class="time-div">
                        <!-- <img src="@/assets/imgs/live-timer.png" alt="" /> -->
                        <span>{{ ` ${timeObj.h}` }}</span>
                      </div>
                      <h6>Hours</h6>
                    </div>
                    <div>
                      <div class="time-div">
                        <!-- <img src="@/assets/imgs/live-timer.png" alt="" /> -->
                        <span>{{ ` ${timeObj.d}` }}</span>
                      </div>
                      <h6>Days</h6>
                    </div>
                  </template>
                  <span slot="finish" style="font-family:'CustomFontRegular'">
                    The Time Is End!
                  </span>
                </vac>
              </no-ssr>
            </div>
            <button
              v-if="allLecture.liveUrl"
              class="btn btn-primary"
              @click="$router.push(`/lecture/${allLecture.id}/attendees`)"
            >
              Attendees
            </button>
          </div>
        </div>

        <transition
          mode="out-in"
          enter-active-class="animate__animated animate__zoomIn"
          leave-active-class="animate__animated animate__zoomOut"
        >
          <!-- Start If Statement  -->

          <!-- Start Of Add Live Data -->
          <div
            class="editQuizData"
            v-if="
              addLectureData &&
                !editLectureData &&
                !addQuizData &&
                !editLectureData
            "
          >
            <h6>Add Lecture</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Title</label>
                  <input
                    type="text"
                    v-model="addLecture.title"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Time</label>
                  <datetime :min-datetime="new Date().toISOString()" v-model="addLecture.time"  />
                </div>
              </div>

              <vs-button
                color="#5bc0de"
                style="width:100%;margin: 0 15px;outline:none"
                @click="addLectureMain"
              >
                Add Lecture
              </vs-button>
            </div>
          </div>
          <!-- End Of Add Live Data -->

          <div
            class="editQuizData"
            v-else-if="
              editQuizData &&
                !editLectureData &&
                !addLectureData &&
                !addQuizData
            "
          >
            <h6>Update Quiz</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Title</label>
                  <input
                    type="text"
                    v-model="editQuiz.title"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Points</label>
                  <input
                    type="number"
                    v-model="editQuiz.points"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Duration</label>
                  <input
                    type="number"
                    v-model="editQuiz.duration"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Availability</label>
                  <b-form-select
                    v-model="editQuiz.availability"
                    :options="availabilityOpt"
                  ></b-form-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Starts At</label>
                  <datetime :min-datetime="new Date().toISOString()" type="datetime" v-model="editQuiz.startedAt"  />
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="">Finished At</label>
                  <datetime v-model="editQuiz.finshedAt" />
                </div>
              </div> -->

              <vs-button
                color="#5bc0de"
                style="width:100%;margin: 0 15px;outline:none"
                @click="editQuizMain"
              >
                Edit Quiz
              </vs-button>
            </div>
          </div>

          <div
            class="editQuizData"
            v-else-if="
              addQuizData &&
                !editQuizData &&
                !addLectureData &&
                !editLectureData
            "
          >
            <h6>Add Quiz</h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Title</label>
                  <input
                    type="text"
                    v-model="addQuiz.title"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Points</label>
                  <input
                    type="number"
                    v-model="addQuiz.points"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Duration</label>
                  <input
                    type="number"
                    v-model="addQuiz.duration"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Availability</label>
                  <b-form-select
                    v-model="addQuiz.availability"
                    :options="availabilityOpt"
                  ></b-form-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Type</label>
                  <b-form-select
                    v-model="addQuiz.type"
                    :options="typeOpt"
                  ></b-form-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Starts At</label>
                  <datetime type="datetime" :min-datetime="new Date().toISOString()" v-model="addQuiz.startedAt" />
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="">Finished At</label>
                  <datetime v-model="addQuiz.finshedAt" />
                </div>
              </div> -->
              <vs-button
                @click="addQuizMain"
                color="#5bc0de"
                style="width:100%;margin: 0 15px;outline:none"
              >
                Add Quiz
              </vs-button>
            </div>
          </div>
        </transition>

        <!-- End Of If Statement -->

        <vs-table stripe :data="liveQuizes" style="margin-bottom:25px;">
          <template slot="thead">
            <vs-th>
              Title
            </vs-th>
            <vs-th>
              Points
            </vs-th>
            <vs-th>
              Kind
            </vs-th>
            <vs-th>
              Type
            </vs-th>
            <vs-th>
              Duration
            </vs-th>
            <vs-th>
              Starts At
            </vs-th>
            <vs-th>
              Finshed At
            </vs-th>
            <vs-th>
              availability
            </vs-th>
            <vs-th>
              Status
            </vs-th>
            <vs-th>
              Operations
            </vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" v-for="(tr, indextr) in data">
              <vs-td :data="data[indextr].title">
                {{ data[indextr].title }}
              </vs-td>
              <vs-td :data="data[indextr].points">
                {{ data[indextr].points }}
              </vs-td>
              <vs-td :data="data[indextr].kind">
                {{ data[indextr].kind }}
              </vs-td>
              <vs-td :data="data[indextr].type">
                {{ data[indextr].type }}
              </vs-td>
              <vs-td :data="data[indextr].duration">
                {{ data[indextr].duration / 60 }}m
              </vs-td>
              <vs-td :data="data[indextr].startedAt">
                {{ new Date(data[indextr].startedAt).toLocaleString() }}
              </vs-td>
              <vs-td :data="data[indextr].finshedAt">
                {{ new Date(data[indextr].finshedAt).toLocaleString() }}
              </vs-td>
              <vs-td :data="data[indextr].availability">
                <span v-if="data[indextr].availability" class="text-success">
                  Available
                </span>
                <span v-else class="text-danger"> Not Available </span>
              </vs-td>
              <vs-td :data="data[indextr].isLive">
                <span class="text-success" v-if="data[indextr].isLive">
                  Live
                </span>
                <span class="text-danger" v-else> Offline </span>
              </vs-td>
              <vs-td :data="data[indextr].isLive">
                <vs-button
                  @click="
                    $router.push(
                      `/lives/${$route.params.id}/questions?quiz=${data[indextr].id}`
                    )
                  "
                  style="outline:none"
                  color="success"
                >
                  <i class="fas fa-question"></i>
                </vs-button>
                <vs-button
                  @click="editQuizFunc(data[indextr])"
                  style="outline:none"
                  color="#5bc0de"
                >
                  <i class="fas fa-pen-alt"></i>
                </vs-button>
                <!-- <vs-button>  </vs-button> -->
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
        <NoData v-if="!isLoading && liveStudents.length == 0" />
        <div v-else class="student-department">
          <h3 style="font-size: 23px;">Students Enrolled The Live</h3>
          <div class="live-students">
            <div class="row">
              <div class="col-md-4" v-for="stud in liveStudents" :key="stud.id">
                <div class="stud_card">
                  <vs-avatar
                    size="70px"
                    :src="stud.user.photo"
                    v-if="stud.user.photo"
                  />
                  <vs-avatar
                    size="70px"
                    src="https://res.cloudinary.com/derossy-backup/image/upload/v1555206304/deross-samples/placeholder-profile-male.jpg"
                    v-else
                  />
                  <h6>{{ stud.user.username }}</h6>
                  <h6>{{ stud.user.email }}</h6>
                  <h6 :class="{ 'text-danger': !stud.user.phone }">
                    {{
                      stud.user.phone ? stud.user.phone : "No Phone Available"
                    }}
                  </h6>
                  <div>
                    <button
                      @click="
                        $router.push(
                          `/lives/${$route.params.id}/students/${stud.user.id}/exams`
                        )
                      "
                      class="btn btn-info"
                    >
                      Exams
                    </button>
                    <button
                      class="btn btn-success"
                      @click="
                        $router.push(
                          `/lives/${$route.params.id}/students/${stud.user.id}/lectures`
                        )
                      "
                    >
                      Attendees
                    </button>
                  </div>
                </div>
              </div>

              <div style="width:100%" v-if="studentTotalPage > 1">
                <vs-pagination
                  :total="studentTotalPage"
                  v-model="studentPage"
                ></vs-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <vs-popup
      :active.sync="addVideoLecturePopup"
      title="Add Video Url To Lecture"
    >
      <div class="form-group">
        <label for="addLecureArch">Video URL</label>
      </div>
      <div class="form-group">
        <div class="file-choose">
          <input
            type="file"
            @change="fileSelected"
            placeholder="Attach An Image"
          />
          <i v-if="url" style="font-size:35px" class="fas fa-video"></i>
          <span v-else>
            <img src="@/assets/imgs/noun_Camera_1903011.png" />
            Attach An Video
          </span>
        </div>
      </div>
      <vs-button color="#5bc0de" @click="addLectureArcheved"> Save </vs-button>
    </vs-popup>

    <vs-popup
      :active.sync="addVideoUrlLivePopup"
      title="Add Video Url To Lecture"
    >
      <div class="form-group">
        <label for="addLecureArch">Live URL</label>

        <input
          type="text"
          v-model="liveURL"
          id="addLecureArch"
          class="form-control"
        />
      </div>
      <vs-button color="#5bc0de" @click="addLiveURL"> Save </vs-button>
    </vs-popup>
  </div>
</template>

<script>
import Loading from "@/components/Loading";
import NoData from "@/components/NoData";
export default {
  components: {
    Loading,
    NoData
  },
  middleware: ["auth-teacher-admin"],
  data() {
    return {
      liveQuizes: [],
      editQuiz: {},
      isLoading: false,
      addVideoLecturePopup: false,
      addVideoUrlLivePopup: false,
      editQuizData: false,
      editLectureData: false,
      addLectureData: false,
      liveURL: "",
      videoURL: "",
      editQuizData: {},
      addLecture: {},
      addQuiz: {},
      addQuizData: false,
      availabilityOpt: [
        { text: "Available", value: true },
        { text: "Not Available", value: false }
      ],
      typeOpt: [
        { text: "Quiz", value: "mid" },
        { text: "Final Quiz", value: "final" }
      ],
      notifySuccess: require("@/assets/success.mp3"),
      allLecture: {},
      liveStudents: [],
      studentPage: 1,
      studentTotalPage: 1,
      url: "",
      uploadPercentage: 0,
      photo: ""
    };
  },
  created() {
    this.getQuizes();
    this.getAllLiveLecture();
    this.fetchAllLiveStudents();
    this.editQuizData = false;
    this.addQuizData = false;
  },
  watch: {
    uploadPercentage(val) {
      this.uploadPercentage = val;
    },
    studentPage(val) {
      this.isLoading = true;
      this.$axios
        .get(`/live/${this.$route.params.id}/statistics?page=${val}`)
        .then(res => {
          this.liveStudents = res.data.docs;
          this.studentPage = res.data.page;
          this.studentTotalPage = res.data.totalPages;
        })
        .finally(() => (this.isLoading = false));
    }
  },

  methods: {
    currentDate(){
      return LuxonDateTime.local().toISO();
    },
    fetchAllLiveStudents() {
      this.isLoading = true;
      this.$axios
        .get(`/live/${this.$route.params.id}/statistics`)
        .then(res => {
          this.liveStudents = res.data.docs;
          this.studentPage = res.data.page;
          this.studentTotalPage = res.data.totalPages;
        })
        .finally(() => (this.isLoading = false));
    },
    addLectureArcheved() {
      this.addVideoLecturePopup = false;
      this.$vs.loading({
        type: "sound",
        text: `The Video Uploading Now , Keep Calm`
      });
      let formData = new FormData();
      formData.append("videoUrl", this.photo);
      this.$axios
        .patch(`/lecture/${this.allLecture.id}`, formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          },
          onUploadProgress: function(progressEvent) {
            console.log(this.uploadPercentage);
            this.uploadPercentage = parseInt(
              Math.round((progressEvent.loaded / progressEvent.total) * 100)
            );
          }.bind(this)
        })
        .then(res => {
          let Notify = new Audio(this.notifySuccess);
          Notify.play();
          this.$vs.notify({
            title: "Success",
            text: "Video Url Added Successfully",
            color: "success"
          });
          this.videoURL = "";
          this.getAllLiveLecture();
        })
        .finally(() => this.$vs.loading.close());
    },
    addLiveURL() {
      this.addVideoUrlLivePopup = false;
      this.$vs.loading();
      this.$axios
        .patch(`/lecture/${this.allLecture.id}`, { liveUrl: this.liveURL })
        .then(res => {
          let Notify = new Audio(this.notifySuccess);
          Notify.play();
          this.$vs.notify({
            title: "Success",
            text: "Live Url Added Successfully",
            color: "success"
          });
          this.liveURL = "";
          this.getAllLiveLecture();
        })
        .finally(() => this.$vs.loading.close());
    },
    endCountDown() {},
    getAllLiveLecture() {
      this.isLoading = true;
      this.$axios
        .get(`/live/${this.$route.params.id}/lecture`)
        .then(res => {
          this.allLecture = res.data;
        })
        .finally(() => (this.isLoading = false));
    },
    getQuizes() {
      this.isLoading = true;
      this.$axios
        .get(`/live/${this.$route.params.id}/quiz`)
        .then(res => {
          this.liveQuizes = res.data;
        })
        .finally(() => (this.isLoading = false));
    },
    editQuizMain() {
      this.$vs.dialog({
        title: "Update Quiz Data",
        text: "Are You Sure, You Want To Update Data",
        color: "#5bc0de",
        accept: this.editQuizMain2
      });
    },
    fileSelected(e) {
        if (e.target.files.length > 0) {
          this.url = "";
          this.photo = ''
          if (e.target.files[0].name.match(/\.(mp4|webm|mov)$/)) {
            
            this.photo = e.target.files[0];
            this.url = URL.createObjectURL(this.photo);
            console.log(e.target.value);
          } else {
            e.target.value = "";
            this.addVideoLecturePopup = false;
            this.$vs.notify({
              time: 10000,
              color: "danger",
              position: "top-center",
              title: "Oops!",
              text:
                "Format Of This Video Not Supported please Convert it into One Of (Mp4 - Webm - Mov)"
            });
          }
        
      }
    },
    editQuizFunc(quiz) {
      this.editQuizData = true;
      this.addQuizData = false;
      if (this.editQuizData) {
        this.editQuiz = quiz;
      }
    },
    addLectureMain() {
      this.$vs.loading();
      this.$axios
        .post(`/live/${this.$route.params.id}/lecture`, this.addLecture)
        .then(res => {
          let Notify = new Audio(this.notifySuccess);
          Notify.play();
          this.$vs.notify({
            title: "Success",
            text: "Lecture Added Successfully",
            color: "success"
          });
          this.addVideoLecturePopup = false;
          this.addLecture.title = "";
          this.addLecture.time = "";
          this.getAllLiveLecture();
        })
        .finally(() => this.$vs.loading.close());
    },
    editQuizMain2() {
      this.editQuizData = false;
      this.$vs.loading();
      this.$axios
        .patch(`/quiz/${this.editQuiz.id}`, this.editQuiz)
        .then(res => {
          let Notify = new Audio(this.notifySuccess);
          Notify.play();
          this.$vs.notify({
            title: "Success",
            text: "Quiz Updated Successfully",
            color: "success"
          });
          this.getQuizes();
        })
        .catch(error => {
          this.$vs.notify({
            title: "Failed",
            text: "Ther Is Something Wrong",
            color: "danger"
          });
        })
        .finally(() => this.$vs.loading.close());
    },
    addQuizMain() {
      this.editQuizData = false;
      this.$vs.loading();
      this.$axios
        .post(`/live/${this.$route.params.id}/quiz`, this.addQuiz)
        .then(res => {
          let Notify = new Audio(this.notifySuccess);
          Notify.play();
          this.$vs.notify({
            title: "Success",
            text: "Quiz Added Successfully",
            color: "success"
          });
          this.addQuiz = {};
          this.getQuizes();
        })
        .catch(error => {
          this.$vs.notify({
            title: "Failed",
            text: "There Is Something Wrong",
            color: "danger"
          });
        })
        .finally(() => this.$vs.loading.close());
    }
  }
};
</script>

<style lang="scss">
.file-choose {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 13px;
  input[type="file"] {
    position: absolute;
    width: 100%;
    /* visibility: hidden; */
    opacity: 0;
    height: 100%;
    cursor: pointer;
    margin-top: 10px;
  }
  span {
    border: 1px dashed #444444;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    margin: 10px 0;
    height: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    line-height: 186px;
    color: #444444;
  }
}

.oneLive {
  .student-department {
    .stud_card {
      background: #fff;
      padding: 10px;
      border: 1px solid #ccc;
      text-align: center;
    }
  }
  padding-top: 50px;
  .editQuizData {
    margin-bottom: 15px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    > h6 {
      padding: 11px;
      background: #5bc0dea8;
      color: #fff;
      font-size: 18px;
    }
  }
  .live-lecture {
    position: relative;
    .lec-operations {
      position: absolute;
    }
    > div {
      background: #fff;
      margin-bottom: 15px;
      border: 1px solid #ececec;
      padding: 11px;
      border-radius: 10px;
      text-align: center;
      > span {
        margin-bottom: 4px;
        display: inline-block;
        color: #283850;
      }
      h5 {
        margin-bottom: 0;
      }
      > div {
        span {
          display: inline-flex;
          flex-direction: row-reverse;
          /* padding: 4px; */
          font-weight: bold;
          padding: 7px 0;
          .time-div {
            margin: 7px 7px 0;
            padding: 3px 20px;
            background: linear-gradient(
              45deg,
              #192a44,
              rgba(25, 42, 68, 0.78039)
            );
            color: #fff;
            border-radius: 6px;
            h6 {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .con-vs-pagination {
    margin: 20px auto;
    .vs-pagination--ul {
      margin-bottom: 0;
    }
  }
  .vdatetime {
    input {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}
</style>
