<template>
  <div>
    <div class="container">
      <div class="general-exam-test">
        <div class="title">
          <div class="sub-name">
            <h4 style="color:#1f74ff">Quiz Questions</h4>
          </div>
        </div>
        
        <Loading v-if="isLoading" />

        <vs-tabs color="#1f74ff" v-if="!isLoading">






          <vs-tab label="Quiz Questions">

             <!-- <div style="margin-bottom:10px;">
                <vs-pagination :total="totalPages" v-model="page" v-if="totalPages > 1"></vs-pagination>
              </div> -->


            <div>

              <Loading v-if="isLoading" />
                <NoData msg="No Questions Available" v-else-if="!isLoading && quizQuestion.length == 0" />

              <div class="compitation-question" v-for="compQuesttion in quizQuestion" :key="compQuesttion.id">
                <div class="compitation-question-head">
                  <h4> {{compQuesttion.question.head}} </h4>
                  <span> {{compQuesttion.question.type == 'truefalse' ? 'True & False' : 'MCQ'}} </span>
                </div>
                <selectedImg :imgUrl="compQuesttion.question.image" />
                <div class="compitation-question-body">
                      <div  v-if="compQuesttion.question.type == 'truefalse'">
                  <div v-if="compQuesttion.question.modelAnswer == true">
                    <div>
                                          <input class="absthalk-radio" type="radio" disabled :name="'truefalse' + compQuesttion.question.id" checked="checked" value="true">

                      <span> True </span>
                    </div>

                    <div>
                    <input type="radio" class="absthalk-radio"  :name="'truefalse' + compQuesttion.question.id"  disabled  value="false">
                                          <span>False </span>

                    </div>

                  </div>
                  <div v-else>
                    <div>

                    <input type="radio" class="absthalk-radio" disabled :name="'truefalse' + compQuesttion.question.id" value="true">
                                          <span>True</span>

                    </div>

                   <div>
                    <input type="radio" disabled class="absthalk-radio"  :name="'truefalse' + compQuesttion.question.id" checked="checked"   value="false">
                                          <span>False</span>

                   </div>
                  </div>
                </div>


                <div class="choices" v-if="compQuesttion.question.type == 'choose'">
                  <div v-for="(item,index) in compQuesttion.question.choices" :key="index">
                    <vs-button style="outline:none;color:#333" :color="'#f7f7f7'" v-if="index !== compQuesttion.question.modelAnswer" type="filled">{{item}}</vs-button>
                                        <vs-button style="outline:none;color:#fff" v-else  color="#1f74ff"   >{{item}}</vs-button>


                  </div>
                </div>
                </div>


                <div class="compitation-foot" style="">
                   <!-- <div style="width:200px;display:flex;text-align: left;">
                      <input  style="    height: 100%;" type="number" class="form-control" v-model="compQuesttion.point">
                      <button v-if="!checkInTabs(compQuesttion.question)" @click="addQuestionToTap(compQuesttion.question)" class="btn btn-primary"  style="text-align: center;display: block;">إضافة</button>
                      <button v-else @click="deleteQuestionToTap(compQuesttion.question)" class="btn btn-danger" style="text-align: center;display: block;">حذف</button>
                  </div> -->

                 <div style="display: inline-block;flex:1;text-align:right">
                      <vs-button @click="editQuestionsWithPopUp(compQuesttion.question)" color="success" type="filled"> <i class="fas fa-edit"></i>   </vs-button>
                  <vs-button color="danger" @click="delteQuestionCompitation(compQuesttion.question)" type="filled"> <i class="fas fa-trash-alt"></i>  </vs-button>
                 </div>

                 
                </div>
              
              </div>
<!-- 
              <div>
                <vs-pagination :total="totalPages" v-model="page" v-if="totalPages > 1"></vs-pagination>
              </div> -->


            </div>
          </vs-tab>





           <vs-tab label="Live Questions">

             <div style="margin-bottom:10px;">
                <vs-pagination :total="totalPages" v-model="page" v-if="totalPages > 1"></vs-pagination>
              </div>


            <div>
              <!-- {{questions}} -->
              <!-- <form action @submit.prevent> -->
              <Loading v-if="isLoading" />
                <NoData msg="No Questions Available" v-else-if="!isLoading && compitationQuestions.length == 0" />

              <div class="compitation-question" v-for="compQuesttion in compitationQuestions" :key="compQuesttion.id">
                <div class="compitation-question-head">
                  <h4> {{compQuesttion.head}} </h4>
                  <span> {{compQuesttion.type == 'truefalse' ? 'True & False' : 'MCQ'}} </span>
                </div>
                <selectedImg :imgUrl="compQuesttion.image" />
                <div class="compitation-question-body">
                      <div  v-if="compQuesttion.type == 'truefalse'">
                  <div v-if="compQuesttion.modelAnswer == true">
                    <div>
                                          <input class="absthalk-radio" type="radio" disabled :name="'truefalse' + compQuesttion.id" checked="checked" value="true">

                      <span> True </span>
                    </div>

                    <div>
                    <input type="radio" class="absthalk-radio"  :name="'truefalse' + compQuesttion.id"  disabled  value="false">
                                          <span>False </span>

                    </div>

                  </div>
                  <div v-else>
                    <div>

                    <input type="radio" class="absthalk-radio" disabled :name="'truefalse' + compQuesttion.id" value="true">
                                          <span>True</span>

                    </div>

                   <div>
                    <input type="radio" disabled class="absthalk-radio"  :name="'truefalse' + compQuesttion.id" checked="checked"   value="false">
                                          <span>False</span>

                   </div>
                  </div>
                </div>


                <div class="choices" v-if="compQuesttion.type == 'choose'">
                  <div v-for="(item,index) in compQuesttion.choices" :key="index">
                    <vs-button style="outline:none;color:#333" :color="'#f7f7f7'" v-if="index !== compQuesttion.modelAnswer" type="filled">{{item}}</vs-button>
                                        <vs-button style="outline:none;color:#fff" v-else  color="#1f74ff"   >{{item}}</vs-button>


                  </div>
                </div>
                </div>


                <div class="compitation-foot" style="">
                   <div style="width:200px;display:flex;text-align: left;">
                      <input  style="    height: 100%;" type="number" class="form-control" v-model="compQuesttion.point">
                      <button v-if="!checkInTabs(compQuesttion)" @click="addQuestionToTap(compQuesttion)" class="btn btn-primary"  style="text-align: center;display: block;">إضافة</button>
                      <button v-else @click="deleteQuestionToTap(compQuesttion)" class="btn btn-danger" style="text-align: center;display: block;">حذف</button>
                  </div>

                 <div style="display: inline-block;flex:1;text-align:right">
                      <vs-button @click="editQuestionsWithPopUp(compQuesttion)" color="success" type="filled"> <i class="fas fa-edit"></i>   </vs-button>
                  <vs-button color="danger" @click="delteQuestionCompitation(compQuesttion)" type="filled"> <i class="fas fa-trash-alt"></i>  </vs-button>
                 </div>

                 
                </div>
              
              </div>
<!-- 
              <div>
                <vs-pagination :total="totalPages" v-model="page" v-if="totalPages > 1"></vs-pagination>
              </div> -->


            </div>
          </vs-tab>



          <vs-tab label="Add Many Questions To Quiz">
            <div>
              <!-- {{questions}} -->
              <!-- <form action @submit.prevent> -->
              <Loading v-if="isLoading" />

              <div class="general-exam-content" v-else>
                <div class="row">
                  <div
                    v-for="(ques, index) in questions"
                    :key="index"
                    class="col-md-12 question-bannar"
                    style="min-height: 200px;padding: 23px 10px;border: 1px dashed #d2d2d2;margin-bottom: 30px;"
                  >
                    <div>
                      <div class="exam-cont-item">
                        <div class="questionHead" style="position: relative;">
                          <!-- {{ques.modelAnswer}} -->
                          <div class="row">
                            <div class="col-md-1 col-2">
                              <h6>{{ index + 1 }}</h6>
                              <!-- {{ques.type}} -->
                            </div>

                            <!-- <div class="col-md-5">
                              <v-select
                                style="width:100%"
                                v-model="ques.level"
                                :options="questionLevelOptions"
                                label="name"
                              ></v-select>
                            </div> -->

                            <div class="col-md-5">
                              <div class="question-type-res" style="margin-top:12px">
                                <span style="font-weight:bold;color: #1f74ff;">Question Type /</span>
                                <span style="color: #1f74ff;">
                                  {{
                                  ques.typeName
                                  }}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="delete-red-icon">
                            <i
                              style="background: rgb(241, 75, 75);font-size: 19px;cursor: pointer;color: #FFF;border-radius: 5px"
                              @click="deleteQuestion(index)"
                              class="deleteicon fas fa-trash-alt"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <transition
                      mode="out-in"
                      enter-active-class="animate__animated animate__flipInX"
                    >
                      <component
                        :index="index"
                        :type="1"
                        :is="ques.type"
                        :forQuiz='true'
                        :question="ques"
                        @set-answer="setModalAnswer"
                        @set-question-head="updateQuestionHead"
                        @set-point="updateQuestionPoint"
                      ></component>
                    </transition>
                  </div>
                </div>
              </div>
              <div class="questionHead head-bar row mb-5">
                <div class="determine-ques">
                  <h6>Determine Question</h6>
                </div>
                <div class="col-md-5">
                  <v-select v-model="questionType" label="name" :options="questionTypeOptions"></v-select>
                </div>
                <!-- <div class="col-md-5">
                  <v-select v-model="questionLevel" label="name" :options="questionLevelOptions"></v-select>
                </div> -->
                <div class="fixed-icon">
                  <i
                    style="color: rgb(255, 255, 255);font-size: 19px;cursor: pointer;background: #1f74ff;border-radius: 5px"
                    @click="addNewQuestion()"
                    class="addicon div-icon fas fa-plus"
                  ></i>
                </div>
              </div>

              <div class="col-md-12" v-if="questions.length>0">
               <div class="row">
                  <input
                  type="button"
                  @click="addQuestions"
                  value="Add The Questions"
                  
                  :class="{'basth-btn-primary':true}"

                />
               </div>
              </div>
            </div>
          </vs-tab>
          <vs-tab label="Add One With Image To Quiz">
            <div style="min-height:200px;">
              <div class="questionHead head-bar row mb-5">
                <div class="determine-ques">
                  <h6>Determine Question</h6>
                </div>
                <div class="col-md-5">
                  <v-select
                    v-model="questionSelectedType"
                    @input="createQuestion"
                    label="name"
                    :options="questionTypeOptions"
                  ></v-select>
                </div>
                <!-- <div class="col-md-5" v-if="question">
                  <v-select
                    @input="updateQuestionLevel"
                    v-model="question.level"
                    label="name"
                    :options="questionLevelOptions"
                  ></v-select>
                </div> -->
                <!-- <div class="fixed-icon">
                  <i
                    style="color: rgb(255, 255, 255);font-size: 19px;cursor: pointer;background: #058ac6;border-radius: 5px"
                    @click="createQuestion()"
                    class="addicon div-icon fas fa-plus"
                  ></i>
                </div>-->
              </div>
              <!-- {{questions}} -->
              <!-- <form action @submit.prevent> -->
              <Loading v-if="isLoading" />

              <div class="general-exam-content" v-if="question &&!isLoading">
                <div class="row">
                  <div
                    class="col-md-12"
                    style="min-height: 200px;padding: 10px;border: 1px dashed #d2d2d2;margin-bottom: 30px;"
                  >
                    <div></div>
                    <transition
                      mode="out-in"
                      enter-active-class="animate__animated animate__flipInX"
                    >
                      <component
                        :index="1"
                        :type="2"
                        :is="question.type"
                        :forQuiz='true'
                        :question="question"
                        @set-answer="setModalAnswer"
                        @set-image="setQuestionImage"
                        @set-question-head="updateQuestionHead"
                       @set-question-point="updateQuestionPoint"
                      ></component>
                    </transition>
                  </div>

                  <div class="col-md-12">
                   <div class="row">
                      <input
                      type="button"
                      :disabled="question == null"
                      @click="addQuestion"
                      value="Add The Question"
                      class="basth-btn-primary"
                      :class="{'basth-btn-primary':true}"
                    />
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </vs-tab>

          <vs-tab label="Questions To Add In Quiz">
              <div>
                  

                  <div class="compitation-question" v-for="compQuesttion in tapsQuestion" :key="compQuesttion.id">
                <div class="compitation-question-head">
                  <h4> {{compQuesttion.head}} </h4>
                  <span> {{compQuesttion.type == 'truefalse' ? 'True & False' : 'MCQ'}} </span>
                </div>
                <selectedImg :imgUrl="compQuesttion.image" />
                <div class="compitation-question-body">
                      <div  v-if="compQuesttion.type == 'truefalse'">
                  <div v-if="compQuesttion.modelAnswer == true">
                    <div>
                                          <input class="absthalk-radio" type="radio" disabled :name="'truefalse' + compQuesttion.id" checked="checked" value="true">

                      <span> True </span>
                    </div>

                    <div>
                    <input type="radio" class="absthalk-radio"  :name="'truefalse' + compQuesttion.id"  disabled  value="false">
                                          <span> False </span>

                    </div>

                  </div>
                  <div v-else>
                    <div>

                    <input type="radio" class="absthalk-radio" disabled :name="'truefalse' + compQuesttion.id" value="true">
                                          <span> True </span>

                    </div>

                   <div>
                    <input type="radio" disabled class="absthalk-radio"  :name="'truefalse' + compQuesttion.id" checked="checked"   value="false">
                                          <span> False </span>

                   </div>
                  </div>
                </div>


                <div class="choices" v-if="compQuesttion.type == 'choose'">
                  <div v-for="(item,index) in compQuesttion.choices" :key="index">
                    <vs-button style="outline:none;color:#333" :color="'#f7f7f7'" v-if="index !== compQuesttion.modelAnswer" type="filled">{{item}}</vs-button>
                                        <vs-button style="outline:none;color:#333" v-else  color="#1f74ff"   >{{item}}</vs-button>


                  </div>
                </div>
                </div>


                <!-- <div class="compitation-foot" style="">
                 <div>
                      <vs-button @click="editQuestionsWithPopUp(compQuesttion)" color="success" type="filled"> <i class="fas fa-edit"></i>   </vs-button>
                  <vs-button color="danger" @click="delteQuestionCompitation(compQuesttion)" type="filled"> <i class="fas fa-trash-alt"></i>  </vs-button>
                 </div>

                  <div style="width:200px;display:flex">
                      <input type="number" class="form-control" v-model="compQuesttion.point">
                      <button class="btn btn-primary" v-if="!checkInTabs(compQuesttion)" @click="addQuestionToTap(compQuesttion)" style="padding: 0 18px 0 9px;text-align: center;display: block;">إضافة</button>
                      <button class="btn btn-danger" v-else @click="deleteQuestionToTap(compQuesttion)" style="padding: 0 18px 0 9px;text-align: center;display: block;">حذف</button>
                  </div>
                </div> -->


                <div class="compitation-foot" style="">
                   <div style="width:200px;display:flex;text-align: left;">
                      <input  style="    height: 100%;" type="number" class="form-control" v-model="compQuesttion.point">
                      <button v-if="!checkInTabs(compQuesttion)" @click="addQuestionToTap(compQuesttion)" class="btn btn-primary"  style="text-align: center;display: block;">إضافة</button>
                      <button v-else @click="deleteQuestionToTap(compQuesttion)" class="btn btn-danger" style="text-align: center;display: block;">حذف</button>
                  </div>

                 <div style="display: inline-block;flex:1;text-align:right">
                      <vs-button @click="editQuestionsWithPopUp(compQuesttion)" color="success" type="filled"> <i class="fas fa-edit"></i>   </vs-button>
                  <vs-button color="danger" @click="delteQuestionCompitation(compQuesttion)" type="filled"> <i class="fas fa-trash-alt"></i>  </vs-button>
                 </div>

                 
                </div>

              </div>
                                        <button v-if="tapsQuestion.length > 0" @click="addManyInQuiz()" class="btn btn-primary" style="width:100%;outline:none;margin-top:20px">Add Questions</button>


              </div>

          </vs-tab>
          </vs-tabs>
         
      </div>
    </div>





      <vs-popup class="holamundo"  title="Edit The Question" :active.sync="popUpForEditQuestion">
        <div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Head Of Question" v-model="currentQuestionToEdit.head" >
          </div>
          <div class="form-group">
           <div v-if="currentQuestionToEdit.type == 'truefalse'" class="radio-form">
             <div>
             
              <input class="absthalk-radio" type="radio" name="modelAnswer" :value="true" v-model="currentQuestionToEdit.modelAnswer">
               <span>
              True
              </span>
           </div>
            <div>
              
              <input class="absthalk-radio" type="radio" name="modelAnswer" :value="false" v-model="currentQuestionToEdit.modelAnswer">
               <span>
              False
              </span>
            </div>
           </div>

           <div v-else>
             <div style="display:inline-block;margin: 5px 10px;" v-for="(choice,index) in currentQuestionToEdit.choices" :key="index"> 
                <vs-button style="color:#333;outline:none" @click="currentQuestionToEdit.modelAnswer = index" :class="{'selectedChoose':index == currentQuestionToEdit.modelAnswer?true:false}"  :color="currentQuestionToEdit.modelAnswer == index ? '#1f74ff' : '#f7f7f7'"  >{{choice}}</vs-button>
             </div>
           </div>

             <div class="form-group">
                <div class="file-choose">
                  <input type="file" @change="fileSelected" placeholder="Attach An Image" />
                  <img v-if="url" :src="url" style="max-width: 100%; max-height: 80%;" />
                  <span v-else>
                    <img src="@/assets/imgs/noun_Camera_1903011.png" /> 
                    Attach An Image
                  </span>
                </div>
              </div>
           </div>
          <vs-button color="#1f74ff" @click="editQuestionsWithPopUpMain" type="filled">Edit</vs-button>

        </div>
    </vs-popup>


  </div>
</template>

<script>
import truefalse from "@/components/questions/truefalse";
import choose from "@/components/questions/choose";
import selectedImg from '@/components/selectedImg';
import Loading from "@/components/Loading";
import NoData from "@/components/NoData";
import selectedImgVue from '~/components/selectedImg.vue';

export default {
  middleware:['auth-teacher-admin'],
//   middleware: "auth-admin-or-teacher",
  components: {
    truefalse,
    Loading,
    selectedImg,
    choose,
    NoData
  },
  created(){
    this.getCourseQuestions()
    if(this.$route.query.quiz){
      this.getQuiz()
    }
   
        if(process.client){
            if(JSON.parse(localStorage.getItem("tapQuestion"))){
            this.tapsQuestion = JSON.parse(localStorage.getItem("tapQuestion"))
        }else{
            this.tapsQuestion = []
        }
        }
        
    
  },
  data() {
    return {
      popUpForEditQuestion: false,
      compitationQuestions: [],
      e:null,
      groupQuestionId: 0,
      hover: true,
      isLoading: true,
      path: null,
      question: null,
      photo:"",
      page:0,
      sec_quiz:{},
      totalPages:0,
      tapsQuestion:[],
      quizQuestion:[],
      url:"",
      currentQuestionToEdit:{
        head: "",
        modelAnswer:""
      },
      currQuestionToDelete: {},
      // questionHeadValidation: '',
      // questionAnswerValidation: '',
      groupQuestion: {
        type: "group",
        head: "",
        unit: "",
        subject: "",
        lesson: "",
        image: "",
        level: "",
        // difficultyLevel: "",
        subQuestions: [],
      },
      questionLevel: "",

      questionLevelOptions: [
        { name: "Easy", value: "easy" },
        { name: "Meddium", value: "middle" },
        { name: "Difficult", value: "difficult" },
      ],
      questionType: "",
      questionSelectedType: "",
      questionTypeOptions: [
        { name: "True & False", value: "truefalse" },
        { name: "MCQ", value: "choose" },
     
      ],
      content: "",
      editorOption: {},
      successNotify: require("@/assets/success.mp3"),

      completeQustion: [{ num: 1 }],

      answer: ["", "", "", ""],
      selectedComponents: "ArticleQuestions",
      questions: [],
    };
  },

 

  

  computed:{
    // checkValidation(){
    //   if(this.questionAnswerValidation !== '' && this.questionHeadValidation !== ''){
    //     return true
    //   }else{
    //     return false
    //   }
    // }
  },

  watch:{
    page(val){
      this.$vs.loading()
       this.$axios.get(`live/${this.$route.params.id}/questions?page=${val}`)
      .then(res => {
        console.log(res)
        this.compitationQuestions  = res.data.docs
        this.page = res.data.page;
        this.totalPages = res.data.totalPages;
        this.compitationQuestions.forEach(e => {
            e.point = ''
        })
      }).finally(() => this.$vs.loading.close())
    }
  },

  methods: {
    getQuiz(){
      this.$axios.get(`/quiz/${this.$route.query.quiz}`).then(res => {
      this.sec_quiz = res.data;
       this.quizQuestion = res.data.questions
    })
    },
      addManyInQuiz(){
          this.isLoading = true
          this.$axios.post(`/quiz/${this.$route.query.quiz}/questions-new`, this.tapsQuestion).then(res => {
              let Notify = new Audio(this.successNotify);
              Notify.play()
              this.$vs.notify({title:"Success", title:"Questions Added To Quiz Succesfully",color:"success"});
              localStorage.removeItem("tapQuestion");
              this.tapsQuestion = []
              this.getQuiz()
          }).catch(error =>{
               this.$vs.notify({title:"Failed", title:"There Is Something Wrong",color:"danger"});
          }).finally(() => this.isLoading = false);
      },
      checkInTabs(ques){
         if(JSON.parse(localStorage.getItem("tapQuestion"))){
              var x = JSON.parse(localStorage.getItem("tapQuestion"));
              if(x.find(ele => ele.id === ques.id)) return true ;else return false
         }else{
             return false
         }
      },
      deleteQuestionToTap(ques){
          if(JSON.parse(localStorage.getItem("tapQuestion"))){
              let x = JSON.parse(localStorage.getItem("tapQuestion"))
              x.splice(x.findIndex(ele => ele.id === ques.id), 1)
              localStorage.removeItem("tapQuestion");
              localStorage.setItem("tapQuestion", JSON.stringify(x));
              this.tapsQuestion = x
          }
      },
    addQuestionToTap(ques){
        var x = 0;
        if(JSON.parse(localStorage.getItem("tapQuestion"))){
             x = JSON.parse(localStorage.getItem("tapQuestion"))
        }else{
            x = []
        }

        if(x.find(ele => ele.id === ques.id)){
            this.$vs.notify({title:"Already Exist",color:"danger"})
            }else{
                this.tapsQuestion.push(ques)
                localStorage.setItem("tapQuestion", JSON.stringify(this.tapsQuestion))
                
            
        }
        
    },
    getCourseQuestions(){
        this.$axios.get(`live/${this.$route.params.id}/questions`)
    .then(res => {
      console.log(res)
      this.compitationQuestions  = res.data.docs
      this.page = res.data.page;
      this.totalPages = res.data.totalPages;
      this.compitationQuestions.forEach(e => {
          e.point = ''
      })
    }).finally(() => this.isLoading = false)
    },
    delteQuestionCompitation(question){
      this.currQuestionToDelete = question
      this.$vs.dialog({title:"Delete Live Question", text:"Are You Sure , You Want To Delete This Question From This Live", color:"danger", accept: this.delteQuestionCompitationMain })
      //  this.$snotify.confirm("هل تريد حذف  النظام المُحدد ", " هل أنت متأكد", {
      //   showProgressBar: true,
      //   closeOnClick: true,
      //   pauseOnHover: true,
      //   buttons: [
      //     {
      //       text: "موافق",
      //       action: (toast) => {
      //         this.isLoading = false,
      //         this.$snotify.remove(toast.id);
      //         this.isLoading = true;
      //          
      //       },
      //     },
      //     {
      //       text: "إلغاء",
      //       action: (toast) => {
      //         this.$snotify.remove(toast.id);
      //       },
      //     },
      //   ],
      // });


     
    },
    delteQuestionCompitationMain(){
      this.$vs.loading();
      this.$axios.delete(`questions/${this.currQuestionToDelete.id}`).then(res => {
        console.log(res.data)
        let y = this.tapsQuestion.findIndex(ele => ele.id === this.currQuestionToDelete.id)
        this.tapsQuestion.splice(y , 1)
        localStorage.removeItem('tapQuestion')
        localStorage.setItem('tapQuestion', JSON.stringify(this.tapsQuestion))
        this.$vs.notify({title:"Success", title:"Question Deleted Succesfully",color:"success"});
        let Notify = new Audio(this.successNotify);
              Notify.play()
        window.scrollTo({
        top:0,
        behavior:"smooth"
        })
        this.getQuiz()
        this.getCourseQuestions()
      })
        .finally(() => (this.$vs.loading.close()));
    },
    setModalAnswer(e) {
        console.log("data", e);
        this.questionAnswerValidation = true;
      if (e.type == 1) {
        this.questions[e.index].modelAnswer = e.answer;
        if (e.answer.length > 0) {
          this.questions[e.index].numberOfInputs = e.answer.length;
        }
      } else if (e.type == 4) {
        this.groupQuestion.subQuestions[e.index].modelAnswer = e.answer;
      } else {
        this.question.modelAnswer = e.answer;
      }
    },
    // updateQuestionLevel() {
    //   this.question.difficultyLevel = this.question.level.value;
    // },
    // updateGroupQuestionLevel() {
    //   this.groupQuestion.difficultyLevel = this.groupQuestion.level.value;
    // },
    updateQuestionHead(e) {
        console.log("data", e);
        
      //  if(e.head != ''){
      //    this.questionHeadValidation = true;
      //  }else{
      //    this.questionHeadValidation = false;

      //  }
      //  console.log(this.questionAnswerValidation, this.questionHeadValidation)
      if (e.type == 1) {
        this.questions[e.index].head = e.head;
      } else if (e.type == 3) {
        this.groupQuestion.head = e.head;
      } else if (e.type == 4) {
        this.groupQuestion.subQuestions[e.index].head = e.head;
      } else {
        this.question.head = e.head;
      }
    },
    updateQuestionPoint(e){
      this.questions[e.index].point = e.point
      console.log("data", e)
    },
    editQuestionsWithPopUp(question){
      this.currentQuestionToEdit = {...question},
      this.popUpForEditQuestion = true
      this.url = question.image
      this.photo = question.image
      console.log(question)
    },
      editQuestionsWithPopUpMain(){
        let form_data = new FormData()
        form_data.append("head",this.currentQuestionToEdit.head)
        form_data.append("modelAnswer",this.currentQuestionToEdit.modelAnswer)
        form_data.append("image",this.photo)
        this.$axios.patch(`questions/${this.currentQuestionToEdit.id}`, form_data, {
          headers: { "Content-Type": "multipart/form-data" }
        }).then(res => {
          console.log(res)
          this.popUpForEditQuestion = false
          this.currentQuestionToEdit = {}
          this.photo = ''
          this.url
          this.$vs.notify({title:"Success", title:"Question Edited Succesfully",color:"success"});
          let Notify = new Audio(this.successNotify);
              Notify.play()
          let x = this.compitationQuestions.findIndex(obj => obj.id == res.data.id)
          this.compitationQuestions[x] = res.data
        this.getQuiz()
        this.getCourseQuestions()
          
        }).finally(() => (this.isLoading = false));
      },
    addQuestions() {
      // questions-all
      this.isLoading = true;
      console.log(this.questions)
      this.$axios
        .post(`quiz/${this.sec_quiz.id}/questions-new`, this.questions)
        .then((res) => {
          console.log("questions", res.data);
          let Notify = new Audio(this.successNotify);
              Notify.play()
          this.$vs.notify({title:"Success", title:"Questions Added Succesfully",color:"success"});
           this.getCourseQuestions()
           this.getQuiz()

          this.questions = [];
         
          // document.location.reload(true)
          // this.$router.push({ path: '/subjects' })
        })
        .catch((err) => {
          // this.isLoading = false
          console.log(err);
        })
        .finally(() => (this.isLoading = false));
    },
    fileSelected: function (e) {
      if (e.target.files.length > 0) {
        this.photo = e.target.files[0];
        this.url = URL.createObjectURL(this.photo);
      }
    },
    addQuestion() {
      // Add questions using form data

      let questionForm = new FormData();
      questionForm.append("head", this.question.head);
      questionForm.append("modelAnswer", this.question.modelAnswer);
      // questionForm.append("difficultyLevel", this.question.difficultyLevel);
      // questionForm.append("subject", this.question.subject);
      // questionForm.append("unit", this.question.unit);
      // questionForm.append("lesson", this.question.lesson);
      questionForm.append("type", this.question.type);

      // if (this.question.type == "complete") {
      //   questionForm.append("numberOfInputs", this.question.modelAnswer.length);
      // }
      if (this.question.choices) {
        
        for(let i = 0 ; i < this.question.choices.length ; i++){
          questionForm.append(`choices[${i}]`, this.question.choices[i]);
        }
      }

      if (this.question.image != null) {
        questionForm.append("image", this.question.image);
      }
      this.isLoading = true;

      this.$axios
        .post(`live/${this.$route.params.id}/question`, questionForm, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((res) => {
          this.question = null;
          this.getCourseQuestions()
          this.getQuiz()
          let Notify = new Audio(this.successNotify);
              Notify.play()
         this.$vs.notify({title:"Success", title:"Question Added Succesfully",color:"success"});
        })
        .catch((err) => {
          console.log(err);
        })
        .finally(() => (this.isLoading = false));
    },
    addGroupSubQuestion() {
      // Add questions using form data

      this.groupQuestion.subQuestions.forEach((question) => {
        let subQuestionForm = new FormData();
        subQuestionForm.append("head", question.head);
        subQuestionForm.append("modelAnswer", question.modelAnswer);
        subQuestionForm.append("weight", question.weight);
        subQuestionForm.append("type", question.type);

        if (question.type == "complete") {
          subQuestionForm.append("numberOfInputs", question.modelAnswer.length);
        }
        if (question.choices) {
          subQuestionForm.append("choices", question.choices);
        }

        if (question.image != null) {
          subQuestionForm.append("image", question.image);
        }
        this.isLoading = true;

        this.$axios
          .post(
            `questions/${this.groupQuestionId}/subquestions`,
            subQuestionForm,
            {
              headers: { "Content-Type": "multipart/form-data" },
            }
          )
          .then((res) => {
            let Notify = new Audio(this.successNotify);
              Notify.play()
          })
          .catch((err) => {
            console.log(err);
          }).finally(() => (this.isLoading = false));;
      });
      this.isLoading = false;
      this.groupQuestion = {
        type: "group",
        head: "",
        unit: "",
        subject: "",
        lesson: "",
        image: "",
        level: "",
        difficultyLevel: "",
        subQuestions: [],
      };
      this.$vs.notify({title:"Success", title:"Question Added Succesfully",color:"success"});
    },
    addGroupQuestion() {
      // Add questions using form data

      let groupQuestionForm = new FormData();
      groupQuestionForm.append("head", this.groupQuestion.head);
      groupQuestionForm.append(
        "difficultyLevel",
        this.groupQuestion.difficultyLevel
      );
      groupQuestionForm.append("subject", this.groupQuestion.subject);
      groupQuestionForm.append("unit", this.groupQuestion.unit);
      groupQuestionForm.append("lesson", this.groupQuestion.lesson);
      groupQuestionForm.append("type", this.groupQuestion.type);

      if (this.groupQuestion.image != null) {
        groupQuestionForm.append("image", this.groupQuestion.image);
      }

      this.$axios
        .post(`questions`, groupQuestionForm, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((res) => {
          this.groupQuestionId = res.data.id;

          this.addGroupSubQuestion();
          // console.log(question);
        })
        .catch((err) => {
          console.log(err);
        }).finally(() => (this.isLoading = false));;
    },
    deleteQuestion(index){
      // if(this.checkValidation){
      //   this.questionAnswerValidation = true
      // this.questionHeadValidation = true
      // }
      this.questions.splice(index, 1)
    },
    addNewQuestion() {
      // this.questionAnswerValidation = ''
      // this.questionHeadValidation = ''
      if (this.questionLevel.value != "" && this.questionType.value != "") {
        // console.log(this.questionLevel.value);
        if (this.questionType.value == "truefalse") {
          this.questions.push({
          
            type: this.questionType.value,
            typeName: this.questionType.name,
            head: "",
            point:"",
            difficultyLevel: this.questionLevel.value,
            level: this.questionLevel,
            modelAnswer: "",
          });
        } else if (this.questionType.value == "choose") {
          this.questions.push({
         
            type: this.questionType.value,
            typeName: this.questionType.name,
            head: "",
            difficultyLevel: this.questionLevel.value,
            level: this.questionLevel,
            modelAnswer: 0,
            point:"",
            choices: ["", "", "", ""],
          });
        }
      }
    },
    addSubQuestion() {
      
      if (this.questionLevel.value != "") {
        // console.log(this.questionLevel.value);
        if (this.questionType.value == "truefalse") {
          this.groupQuestion.subQuestions.push({
            type: this.questionType.value,
            typeName: this.questionType.name,
            head: "",
            weight: "",
            point:"",
            modelAnswer: "",
          });
        } else if (this.questionType.value == "choose") {
          this.groupQuestion.subQuestions.push({
            type: this.questionType.value,
            typeName: this.questionType.name,
            head: "",
            weight: "",
            point:"",

            modelAnswer: 0,
            choices: ["", "", "", ""],
          });
        } else if (this.questionType.value == "complete") {
          this.groupQuestion.subQuestions.push({
            type: this.questionType.value,
            typeName: this.questionType.name,
            head: "",
            weight: "",
            point:"",
            modelAnswer: [""],
          });
        } else if (this.questionType.value == "paragraph") {
          this.groupQuestion.subQuestions.push({
            type: this.questionType.value,
            typeName: this.questionType.name,
            head: "",
            weight: "",
            point:"",
            modelAnswer: "",
          });
        }
        this.questionType = "";
        this.questionLevel = "";
      }
    },
    setQuestionImage(e) {
      // alert("d");
      // console.log("image", e.image);
      if (e.type == 4) {
        this.groupQuestion.subQuestions[e.index].image = e.image;
      } else if (e.type == 2) {
        if (this.question != null) {
          this.question.image = e.image;
        }
      } else {
        this.groupQuestion.image = e.image;
      }
    },
    createQuestion() {
      if (this.questionSelectedType == null) {
        this.question = null;
        return;
      }
      if (
        this.questionLevel.value != "" &&
        this.questionSelectedType.value != ""
      ) {
        // console.log(this.questionLevel.value);
        if (this.questionSelectedType.value == "truefalse") {
          this.question = {
            
            type: this.questionSelectedType.value,
            typeName: this.questionSelectedType.name,
            head: "",
            point:"",
            // difficultyLevel: this.questionLevel.value,
            // level: this.questionLevel,
            modelAnswer: "",
            image: null,
          };
        } else if (this.questionSelectedType.value == "choose") {
          this.question = {
            
            type: this.questionSelectedType.value,
            typeName: this.questionSelectedType.name,
            head: "",
            // difficultyLevel: this.questionLevel.value,
            // level: this.questionLevel,
            modelAnswer: 0,
            point:"",
            choices: ["", "", "", ""],
            image: null,
          };
        } 
      }
    },
    
    playAudio: function () {
      document.getElementById("player").play();
    },
    pauseAudio: function () {
      document.getElementById("player").pause();
    },
    increaseVolume: function () {
      document.getElementById("player").volume += 0.1;
    },
    decreaseVolume: function () {
      document.getElementById("player").volume -= 0.1;
    },
  },
};
</script>

<style lang="scss">
.fill-the-ques {
  span {
    width: 100%;
  }
}

.general-exam-test {
  .deleteicon,
  .addicon {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .vs-collapse-item:last-child {
    background: #f2f2f2;
    position: relative;
    padding: 15px;
    &::after {
      background: linear-gradient(
        90deg,
        #003150 20%,
        #27ae60 0,
        #27ae60 40%,
        #d35400 0,
        #d35400 60%,
        #8e44ad 0,
        #8e44ad 80%,
        #c0392b 0
      );
      position: absolute;
      content: "";
      height: 6px;
      right: 0;
      right: 0;
      bottom: -3px;
    }
  }
  .general-exam-content {
    padding: 10px;
  }
  .vs-collapse-item--header,
  .vs-collapse-item--icon-header {
    color: #1f74ff;
    padding: 0;
  }
  .determine-collapse {
    .container {
      padding: 0;
    }
  }
  .determine-head {
    color: #1f74ff;
    overflow: hidden;
    h5 {
      color: #058ac6;
      margin: 0;
      padding: 0;
      display: block;
      float: right;
      margin-top: 5px;
    }
    i {
      font-size: 32px;
      float: right;
      margin-right: 15px;
    }
  }
  input[type="submit"] {
    display: block;
    width: 36%;
    text-align: center;
    margin: 36px auto;
    padding: 9px;
    background: #058ac6;
    color: #fff;
    border: 0;
    border-radius: 5px;
  }
  .audio-div {
    overflow: hidden;
    .audio-icon {
      display: block;
      width: 15%;
      float: right;
      text-align: center;
    }
    audio {
      display: block;
      width: 85%;
      float: right;
    }
  }
 
  // padding-top: 100px;
  margin-bottom: 50px;
  .title {
    overflow: hidden;
    margin-bottom: 5px;
    .sub-name {
      h4 {
           display: block;
    font-size: 25px;
    margin-right: 12px;
    margin-bottom: 8px;
    width: 100%;
      }
      img {
        display: block;
        width: 31px;
        float: right;
      }
    }
    .sub-name,
    .exam-level {
      display: block;
    
      padding-top: 13px;
    }
    .exam-level {
      text-align: right;
      padding: 20px 0;
      img {
        display: inline-block;
        width: 40px;
        margin-right: 17px;
        margin-top: -21px;
      }
      h6 {
        display: inline-block;
      }
    }
  }

  .form-group {
    .form-control {
      background: #fff;
      border: 0;
      box-shadow: 0px 0px 10px 1px #ddd;
      border-radius: 10px;
      color: #333;
      font-size: 16px;
    padding: 26px 42px;
    }
  }
  .disabled{
    pointer-events: none;
    opacity: .4;
  }
  .head-bar {
    background: #eee;
    position: relative;
    border-radius: 0;
    /* padding-right: 39px; */
    margin-top: 23px;
    margin: 14px 0 0 0;
    .determine-ques {
      border-radius: 0;
      background: #1f74ff;
      color: #fff;
      padding: 0 12px;
      h6 {
        font-size: 13px;
        padding: 10px 0;
        line-height: 30px;
        margin-bottom: 0;
      }
    }
    .v-select {
      margin-top: 6px;
      margin-bottom: 6px;
    }

    .div-icon {
      width: 60px;
      background: #1f74ff;
      text-align: center;
      position: absolute;
      right: 0;
      top: 0;
      height: 99%;
      margin: auto;
      text-align: center;
      border-radius: 0;
      color: #fff;
      padding: 16px;
      transition: all 0.5s ease;
    }
    .vs__dropdown-toggle {
      background: #fff;
      border: 0;
      box-shadow: 0px 0px 10px 1px #ddd;
      border-radius: 6px;
      color: #333;
      font-size: 16px;
      padding: 5px;
    }
  }
  .vs-tabs--btn {
    outline: none;
  }
  .con-vs-tabs.vs-tabs {
    position: relative;
  }
  .question-bannar {
    position: relative;
    &::after {
          background: linear-gradient(90deg, #d35400 20%, #333 0, #333 40%, #d35400 0, #d35400 60%, #333333 0, #222023 80%, #d35400 0);
    position: absolute;
    content: "";
    height: 6px;
    right: 0;
    right: 0;
    top: -1px;
    width: 100%;
    }
  }
   .basth-btn-primary{
     text-align: center;
    padding: 9px;
    background: #1f74ff;
    border: none;
    color: #FFF;
    width: 100%;
    border-radius: 5px;
    }
  .general-exam-content {
   
    .exam-cont-item {
      .questionHead {
        i {
          width: 60px;
          background: rgb(241, 75, 75);
          text-align: center;
          position: absolute;
          right: 0;
          top: 0;
          height: 99%;
          margin: auto;
          text-align: center;
          border-radius: 0;
          color: #fff;
          padding: 16px;
          transition: all 0.5s ease;
        }
        background: #f2f2f2;
        border-radius: 0;
        margin-bottom: 23px;
        .v-select {
          width: 47%;
          float: right;
          margin-top: 9px;
          .vs__clear {
            fill: #1f74ff;
            padding: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            margin-right: 8px;
            margin-right: 4px;
            margin-top: -4px;
          }

          .vs__open-indicator {
            fill: #1f74ff;
            transform: scale(1);
            transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
            transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
          }

          .vs__dropdown-toggle {
            margin: 0 4px;
            /* padding: 24px 11px; */
            box-shadow: 0px 1px 10px 1px #efefef;
            border: 0;
            /* border-radius: 7px; */
            background: #f7f7f7;
          }
        }
      }
      > div {
        // float: right;

        &:first-of-type {
          width: 9%;

          h6 {
            color: #ddd;
            background-color: #1f74ff;
            padding: 15px;
            text-align: center;
            border-radius: 0;
            margin-bottom: 0;
          }
        }
        &:last-of-type {
          width: 100%;
          background: #f2f2f2;
          border-radius: 9px 0 0 9px;
          margin-bottom: 23px;
        }
      }
    }
  }

 

  .compitation-question{
        padding: 10px;
    background: #FFF;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    margin-bottom: 15px;
    .compitation-foot{  
      text-align: right;
    margin-top: 20px;
    display: flex;
        padding: 5px;
    background: #f7f7f7;
    }
    .compitation-question-head{
      padding: 15px;
    background: #f7f7f7;
    position: relative;
    h4{
      margin-bottom: 0;
    }
    span{
          display: inline-block;
    color: #1f74ff;
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 10px;
    }
    }

    .compitation-question-body{
      padding: 15px;
      div{
        text-align: center;
         >div{
           display: inline-block;
                 overflow: hidden;
            margin: 0 10px;
        button{
          float: right;
          padding: 12px;
        text-align: center;
        }
      }
      }
      
    }
    
    .choices{
          text-align: center;
    margin-top: 18px;
        >div{
          display: inline-block;
          .modelAnswerChoose{
            color:#1f74ff;
            background: #fff;
          }
        button{
           
    background: #1f74ff;
    padding: 5px 13px;
    margin: 5px 3px;
    color: #FFF;
        }
        }
      }
  }
}


 .holamundo{
    .radio-form{
      text-align: center;
      >div{
        display: inline-block;
        margin: 0 15px;
      }
    }
    .selectedChoose{
      background: blue;
      color:#FFF
    }
  }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .general-exam-test .title .sub-name h4 {
    display: block;
    font-size: 31px;
    margin-right: 8px;
    margin-bottom: 10px;
    width: 73%;
    float: right;
    color: #058ac6;
  }
  .exam-cont-item {
    margin: 28px 0 !important;
  }
  .questionHead {
    margin-bottom: 0 !important;
  }
  .delete-red-icon {
    margin-bottom: 27px;
  }
  .question-type-res {
    margin: 20px auto;
  }
  .fixed-icon {
    width: 100%;
  }
  .general-exam-test
    .general-exam-content
    .exam-cont-item
    .questionHead
    .v-select {
    width: 75%;
    float: right;
  }
  .general-exam-test .general-exam-head > div:last-of-type h4 {
    width: 13%;
    margin-bottom: 16px;
    font-size: 17px;
  }
  .unit h6 {
    font-size: 13px;
  }
  .fill-the-ques {
    font-size: 10px !important;
  }
  .general-exam-test .general-exam-head > div:last-of-type {
    width: 100%;
  }
  .general-exam-test .general-exam-head > div:first-of-type {
    margin-bottom: 18px;
  }

  .general-exam-test {
    padding-top: 60px;
  }

  .deleteicon,
  .addicon {
    position: static !important;
    width: 100% !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .general-exam-test {
    padding-top: 60px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

.editor {
  clear: both;
  border: 1px solid #eee;
  padding: 0;
  .menubar {
    padding: 10px;
    background: #333;
  }
  .editor__content {
    padding: 4px 29px;
  }
}
.vs-collapse.default {
  padding: 0;
  margin-bottom: 19px;
}
.determine-collapse {
  margin-top: 50px;
  .icon-header.vs-collapse-item--icon-header {
    right: 23px !important;
    left: auto;
    border: none;
    i {
      font-size: 29px;
      color: #fff;
    }
  }
  h5 {
    color: #058ac6;
    padding: 10px 12px;
  }

  .determine-subject {
    padding-top: 13px !important;
    margin-top: 14px;
    .card-cont {
      border: 2px dashed #ddd;
      margin-top: 0;
      padding: 50px 17px;
    }
    padding-top: 80px;

    input[type="text"],
    input[type="password"],
    input[type="email"],
    .vs--searchable .vs__dropdown-toggle {
      padding: 24px 11px;
      box-shadow: 0px 1px 10px 1px #ddd;
      border: 0;
      border-radius: 7px;
      margin-top: 10px;
      margin-bottom: 21px;
    }
    .vs--searchable .vs__dropdown-toggle {
      padding: 8px;
    }

    input[type="submit"].fullWidthBtn {
      display: block;
      width: 100%;
      text-align: center;
      padding: 13px;
      border-radius: 6px;
      border: 0;
      color: #fff;
      background-color: #058ac6;
    }
    h6 {
    }
  }
}

.vs-pagination--ul{
  margin-bottom: 0;
}



 .file-choose{
        position: relative;
    width: 100%;
    margin-bottom: 15px;
    >img{
            max-height: 120px;
    }
   input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
   }
   >span{
       text-align: center;
       position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        padding-top: 20px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px dashed #e2e2e2;
        h6{
            color: #717171;
        }
   }
}


 .absthalk-radio {
    -webkit-appearance: none;
    width: 36px;
    display: block;
    height: 35px;
    /* background: #DDD; */
    padding: 15px 15px;
    border: 2px dotted #e3e3e3;
    outline: 0;
    position: relative;
    border-radius: 8px;
    &:checked {
      border: 2px dotted #058ac6;
      &::after {
        background-image: url("../../../assets/imgs/check.png");
            position: absolute;
    content: "";
    width: 76%;
    height: 76%;
    top: 3px;
    left: 4px;
    background-size: cover;
      }
    }
  }
</style>
