<template>
  <div class="comments-page">
      <div class="container">
        <Loading v-if="isLoading" />
        <NoData msg="No Comments For This Lesson" v-else-if="!isLoading && comments.length == 0" />
       <div v-else>
          <div class="comment-card" v-for="comment in comments" :key="comment.id">
          <h6 style="position: absolute;top: 10px;right: 15px;color: #b1b1b1;"> {{$moment(comment.createdAt).fromNow()}} </h6>
          <div style="display:flex;flex-wrap:wrap">
            <div v-if="comment.user">
              <vs-avatar size="70px" :src="comment.user.photo"></vs-avatar>
            </div>
            <div>
              <h5 style="margin-bottom:0;padding-top:10px"> {{comment.user.username}} </h5>
              <p> {{comment.content}} </p>
              <div>
                <vs-button @click="editComment(comment)" style="outline:none" color="primary"> <i class="fas fa-edit"></i> </vs-button>
                <vs-button @click="deleteComment(comment)" style="outline:none" color="danger"> <i class="fas fa-trash-alt"></i> </vs-button>
              </div>
            </div>
          </div>
        </div>

        <div>
          <vs-pagination :total="totalPages" v-model="page" v-if="totalPages > 1"></vs-pagination>
        </div>
       </div>

      </div>

      <vs-popup :active.sync="editCommentPopup" title="Edit Comment">
         <div style="width:100%;margin-bottom:5px">
             <vs-input style="width:100%" placeholder="Content" v-model="editCommentForm.content"/>
         </div>
         <vs-button @click="editCommentMain">Edit</vs-button>
      </vs-popup>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
import NoData from '@/components/NoData';
export default {
  middleware:['auth-teacher-admin'],
  components:{
    Loading,
    NoData
  },
  data(){
    return {
      isLoading: false,
      editCommentPopup: false,
      comments:[],
      totalPages:0,
      page:0,
      currComment:{},
      editCommentForm:{}
    }
  },
  watch:{
    page(val){
      this.isLoading = true;
    this.$axios.get(`lessons/${this.$route.params.id}/comments?page=${val}`).then(res => {
      this.comments = res.data.docs;
      this.totalPages = res.data.totalPages;
      this.page = res.data.page;
      console.log(res)
    }).finally(() => this.isLoading = false)
    }
  },
  created(){
    this.getAllComments()
  },
  methods:{
    
    editComment(comment){
      this.editCommentPopup = true
      this.editCommentForm.id = comment.id
      this.editCommentForm.content = comment.content
    },
    editCommentMain(){
      this.editCommentPopup = false
      this.$vs.loading();
      this.$axios.put(`/comments/${this.editCommentForm.id}`, this.editCommentForm).then(res => {
        this.$vs.notify({title:"Success", text:"Comment Edited Successfully", color:"success"});
        this.getAllComments()
      }).catch(error => {
         this.$vs.notify({title:"Failed", text:"There Are Something Wrong", color:"danger"});
      }).finally(() => this.$vs.loading.close())
    },
    getAllComments(){
      this.isLoading = true;
    this.$axios.get(`lessons/${this.$route.params.id}/comments`).then(res => {
      this.comments = res.data.docs;
      this.totalPages = res.data.totalPages;
      this.page = res.data.page;
      console.log(res)
    }).finally(() => this.isLoading = false)
    },
    deleteComment(comment){
      this.currComment = comment;
      this.$vs.dialog({title:"Delete Comment", text:"Are You Sure, You Want To Delete This Comment", color:"danger", accept:this.deleteCommentMain})
    },
    deleteCommentMain(){
      this.$vs.loading();
      this.$axios.delete(`comments/${this.currComment.id}`).then(res => {
        this.getAllComments()
        this.$vs.notify({title:"Success", text:"Comment Deleted Successfully", color:"success"});
      }).catch(error => {
        this.$vs.notify({title:"Failed", text:"There Are Something Wrong", color:"danger"});
      }).finally(() => this.$vs.loading.close())
    }
  }
}
</script>

<style lang="scss">
.comments-page{
  padding-top:50px;
  .comment-card{
    background: #FFF;
    position:relative;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
  }
  .con-vs-pagination{
    margin:auto;
    margin-bottom: 15px;
  }
  .vs-pagination--ul{
    margin-bottom: 0 !important;
  }
}
</style>