<template>
  <div class="subCate-page">

      <div class="container">
          <div class="subCate-head">
                  <div>
                      <h3 style="padding: 8px;background: #EEE;"> Courses Sub Categories </h3>
                  </div>


                  <div v-if="$auth.user.role == 'admin'">
                      <vs-button class="noOutline" @click="subCatePopup = true, photo = '', url = ''"> Add </vs-button>
                  </div>
              </div>
          <Loading v-if="isLoading" />
          <NoData v-else-if="!isLoading && allSubCate.length == 0" />
          <div class="subCate" v-else>
              


              <div class="all-subCate">
                  
                  <div class="row">
                      <div class="col-md-4" v-for="subCate in allSubCate" :key="subCate.id">
                          <div class="subCate-card">
                              <div class="row">
                                  <div @click="$router.push(`/second-sub-category/${subCate.id}`)" class="col-md-6" >
                                     <div class="subCate-logo" >
                                          <img :src="subCate.photo" alt="">
                                     </div>
                                  </div>
                                  <div class="col-md-6">
                                       <h6 @click="$router.push(`/second-sub-category/${subCate.id}`)"> {{subCate.nameEn}} </h6>
                                      <h6 @click="$router.push(`/second-sub-category/${subCate.id}`)"> {{subCate.nameAr}} </h6>
                                      <h6 @click="$router.push(`/second-sub-category/${subCate.id}`)">from: {{new Date(subCate.createdAt).toLocaleDateString()}} </h6>
                                      <div v-if="$auth.loggedIn && $auth.user.role == 'admin'">
                                            <vs-button  color="success" @click="editCategory(subCate)"> <i class="far fa-edit"></i> </vs-button>
                                            <vs-button color="danger" @click="deleteSubCategory(subCate)"> <i class="fas fa-trash-alt"></i> </vs-button>
                                        </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>    
                  </div>
              </div>
          </div>
      </div>


    <!-- Add Category (Admin) -->
      <vs-popup class="holamundo"  title="Category" :active.sync="subCatePopup">
      <div>
        <div class="form-group">
            <label for="nameAr">Name In Arabic</label>
            <input type="text" id="nameAr" class="form-control" v-model="addSubCate.nameAr"> 
        </div>
        <div class="form-group">
            <label for="nameEn">Name In English</label>
            <input type="text" id="nameEn" class="form-control" v-model="addSubCate.nameEn"> 
        </div>
        <div class="file-uploader">
            <input type="file" @change="file_selected">
            <img v-if="url" :src="url" alt="">
            <div v-else>
                <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                <h6>Attach Course Image</h6>
            </div>
        </div>

        <vs-button class="noOutline" @click="addSubCateFunction">Add Category</vs-button>
      </div>
    </vs-popup>



     <!-- Edit Category (Admin) -->
      <vs-popup class="holamundo"  title="Edit Category" :active.sync="editSubCatePopup">
      <div>
        <div class="form-group">
            <label for="nameAr">Name In Arabic</label>
            <input type="text" id="nameAr" class="form-control" v-model="editSubCategoryForm.nameAr"> 
        </div>
        <div class="form-group">
            <label for="nameEn">Name In English</label>
            <input type="text" id="nameEn" class="form-control" v-model="editSubCategoryForm.nameEn"> 
        </div>
        <div class="file-uploader">
            <input type="file" @change="file_selected">
            <img v-if="url" :src="url" alt="">
            <div v-else>
                <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                <h6>Attach Course Image</h6>
            </div>
        </div>

        <vs-button class="noOutline" @click="editSubCategoryMain">Add Sub Categories</vs-button>
      </div>
    </vs-popup>


  </div>
</template>

<script>
import Loading from '@/components/Loading';
import NoData from '@/components/NoData';

export default {
    middleware:['auth-teacher-admin'],
    components:{
        Loading,
        NoData
    },
    data(){
        return{
            subCatePopup: false,
            isLoading: true,
            addSubCate:{
                nameAr: '',
                nameEn:''
            },
            editSubCategoryForm:{},
            photo:"",
            editSubCatePopup: false,
            url:"",
            allSubCate: [],
            subCate:'',
            currCateToDelet:{},
            notifySuccess: require("@/assets/success.mp3")
     
        }
    },
    created(){
        this.fetchSubCate()
    },
    watch:{
       
    },
    methods:{
        fetchSubCate(){
            this.isLoading = true;
            this.$axios.get(`/category/${this.$route.params.id}/sub-category`).then(res => {
                this.allSubCate = res.data
            }).finally(() => this.isLoading = false)
        },
        // editCateg
        file_selected(e){
            if(e.target.files.length > 0){
                this.photo = e.target.files[0]
                this.url = URL.createObjectURL(e.target.files[0])
            }
        },
        addSubCateFunction(){
            this.$vs.loading()
            this.subCatePopup = false;
            let formData = new FormData()
            formData.append('nameAr', this.addSubCate.nameAr)
            formData.append('nameEn', this.addSubCate.nameEn)
            if(this.photo != ''){
                formData.append('photo', this.photo)
            }

            this.$axios.post(`/category/${this.$route.params.id}/sub-category`, formData, {
                headers: { 'Content-Type': 'multipart/form-data' }
            }).then(res => {
                this.addSubCate.nameEn = "";
                this.addSubCate.nameAr = "";
                this.photo = "";
                this.url = "";
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title: 'Success', text:"Category Added Successfully", color:"success"});
                this.fetchSubCate();
            }).catch(error => {
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"})
                console.log(error)
            }).finally(() => this.$vs.loading.close())
        },


        editCategory(cate){
            this.photo = "";
            this.url = "";
            this.editSubCatePopup = true;
            this.editSubCategoryForm.nameAr = cate.nameAr;
            this.editSubCategoryForm.nameEn = cate.nameEn;
            this.editSubCategoryForm.id = cate.id;
            this.photo = cate.photo;
            this.url = cate.photo;
        },
        editSubCategoryMain(){
            this.$vs.loading();
            this.editSubCatePopup = false;
            let formData = new FormData();
            formData.append('nameAr', this.editSubCategoryForm.nameAr);
            formData.append('nameEn', this.editSubCategoryForm.nameEn);
            if(this.photo != ''){
                formData.append('photo', this.photo);
            }
            this.$axios.patch(`/sub-category/${this.editSubCategoryForm.id}`, formData).then(res =>{
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title: 'Success', text:"Sub Category Updated Successfully", color:"success"});
                this.fetchSubCate();
            }).catch(error => {
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"});
            })
            .finally(() => this.$vs.loading.close())
        },
        deleteSubCategory(cate){
            this.currCateToDelet = cate;
            this.$vs.dialog({title:"Delete Category", text:"Are You Sure, That Mean All Courses Include To That Category Will Remove!", color:"danger", accept:this.deleteCategoryMean})
        },
        deleteCategoryMean(){
            this.$vs.loading();
            this.$axios.delete(`/sub-category/${this.currCateToDelet.id}`).then(res => {
                    let Notify = new Audio(this.notifySuccess);
                    Notify.play();
                 this.$vs.notify({title: 'Success', text:"Sub Category Deleted Successfully", color:"success"});
                 this.fetchSubCate();
            }).catch((error) => {
                 this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"});
            }).finally(() => this.$vs.loading.close());
        }



    }
}
</script>

<style lang="scss">
.subCate-page{
    padding-top: 50px;
    .subCate-head{
        display: flex;
        margin-bottom: 10px;
        flex-wrap: wrap;
        div{
            &:first-of-type{
                flex: 1;
            }
        }
    }
    .vs-button{
        outline: none !important;
    }
    .all-subCate{
        .subCate-card{
            background: #FFF;
            margin-bottom: 15px;
            box-shadow: 0 4px 20px 0 rgba(0 ,0 ,0 ,0.2);
            cursor: pointer;
            transition: all .5s linear;
            &:hover{
                transform: translateY(-10px);
            }
            .col-md-6{
                h6{
                    &:first-of-type{
                        margin-bottom: 0;
                        padding-top: 15px;
                    }
                    &:nth-of-type(2){
                        color: #949494;
                        font-size: 16px;
                        font-weight: 100;
                    }
                    &:last-of-type{
                        color: #dad9d9;
                    }
                }
            }
            div.subCate-logo{
                    height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    height: 135px;
                }
            }
            div{
                .vs-button{
                       padding: 3px 10px;
                }
            }
        }
    }
}



.file-uploader{
    position: relative;
        height: 130px;
    width: 160px;
    margin-bottom: 15px;
    >img{
        width: 100%;
    }
   input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
   }
   >div{
       text-align: center;
       position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        padding-top: 30px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px dashed #e2e2e2;
        h6{
            color: #717171;
        }
   }
}
</style>