<template>

  <div class="container">
      <div class="newCourse" style="padding-top:25px">
          <div >
              
              <form @submit.prevent="submitCourse" class="addCourseForm" style="    padding: 15px;box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);background: #FFF;padding-top:10px">
                  <div style="background:#5bc0de">
                      <h4 style="color: #fff;padding: 10px;margin-bottom: 13px;">Add New Course</h4>
                  </div>
               <div class="row">
                   <div class="col-md-6">
                       <div>

                           <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                        <label for="nameInArabic">Name In Arabic</label>
                                        <input id="nameInArabic" type="text" v-model="addCourse.nameAr" class="form-control">
                                    </div>
                               </div>
                               <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nameInEnglish">Name In English</label>
                                        <input id="nameInEnglish" type="text" v-model="addCourse.nameEn" class="form-control">
                                    </div>
                               </div>
                           </div>
                           
                          
                           <div class="form-group">
                               <label for="formDescription">Course Description</label>
                               <textarea class="form-control" id="formDescription" v-model="addCourse.description" ></textarea>
                           </div>
                           <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                        <label for="price">Price</label>
                                        <input id="price" type="number" v-model="addCourse.price" class="form-control">
                                    </div>
                               </div>
                               <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="level">Level</label>
                                        <b-form-select id="level" v-model="addCourse.level" :options="levelOptions"></b-form-select>
                                    </div>
                               </div>
                           </div>

                           <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                        <label for="language">Language</label>
                                        <input id="language" type="text" v-model="addCourse.language" class="form-control">
                                    </div>
                               </div>
                               <div class="col-md-6">
                                   <div class="form-group">
                                        <label for="numberOfInputs">Number Of Hours</label>
                                        <input id="numberOfInputs" type="number" v-model="addCourse.numberOfHours" class="form-control">
                                    </div>
                               </div>
                           </div>
                           

                            <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                        <label for="video">Video</label>
                                        <input id="video" type="text" v-model="addCourse.video" class="form-control">
                                    </div>
                               </div>
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label for="passingPerc">Passing Percentage</label>
                                       <input id="passingPerc" type="number" v-model="addCourse.passing_percentage" class="form-control">
                                   </div>
                               </div>

                               <div class="col-md-6">
                                   <div class="file-uploader">
                                        <input type="file" @change="file_selected">
                                        <img v-if="url" :src="url" alt="">
                                        <div v-else>
                                            <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                                            <h6>Attach Course Image</h6>
                                        </div>
                                    </div>
                               </div>
                           </div>

                       </div>
                   </div>

                   <div class="col-md-6">
                      <div style="  border-bottom: 1px solid #DDd;padding-bottom: 15px;margin-bottom: 15px;">
                         <div class="add-req" style="display:flex">
                              <h6 style="flex:1;padding-top:10px">Requirments</h6>
                                <vs-button style="    padding: 5px 10px;margin-bottom: 10px;" color="success" @click="addCourse.requirments.push('')"><i class="fas fa-plus"></i></vs-button>
                         </div>
                          <div class="form-group requirments"  v-for="(req,index) in addCourse.requirments" :key="index">
                             <div style="display:flex">
                                  <input style="height:100%" class="form-control" type="text" v-model="addCourse.requirments[index]">
                              <vs-button style="    height: 100%;padding: 5px 10px;margin-left: 5px;" color="danger" @click.native="addCourse.requirments.pop(req)"> <i class="fas fa-trash-alt"></i> </vs-button>
                             </div>
                          </div>
                            
                      </div>


                      <div  style="    border-bottom: 1px solid #DDd;padding-bottom: 15px;margin-bottom: 15px;">
                         <div class="add-req" style="display:flex">
                              <h6 style="flex:1;padding-top:10px">Includes</h6>
                                <vs-button style="    padding: 5px 10px;margin-bottom: 10px;" color="success" @click="addCourse.includes.push('')"><i class="fas fa-plus"></i></vs-button>
                         </div>
                          <div class="form-group requirments" v-for="(req,index) in addCourse.includes" :key="index">
                             <div style="display:flex">
                                  <input style="height:100%" class="form-control" type="text" v-model="addCourse.includes[index]">
                              <vs-button style="    height: 100%;padding: 5px 10px;margin-left: 5px;" color="danger" @click.native="addCourse.includes.pop(req)"> <i class="fas fa-trash-alt"></i> </vs-button>
                             </div>
                          </div>
                            
                      </div>



                      <div  style="    border-bottom: 1px solid #DDd;padding-bottom: 15px;margin-bottom: 15px;">
                         <div class="add-req" style="display:flex">
                              <h6 style="flex:1;padding-top:10px">objectives</h6>
                                <vs-button style="    padding: 5px 10px;margin-bottom: 10px;" color="success" @click="addCourse.objectives.push('')"><i class="fas fa-plus"></i></vs-button>
                         </div>
                          <div class="form-group requirments" v-for="(req,index) in addCourse.objectives" :key="index">
                             <div style="display:flex">
                                  <input style="height:100%" class="form-control" type="text" v-model="addCourse.objectives[index]">
                              <vs-button style="    height: 100%;padding: 5px 10px;margin-left: 5px;" color="danger" @click.native="addCourse.objectives.pop(req)"> <i class="fas fa-trash-alt"></i> </vs-button>
                             </div>
                          </div>
                            
                      </div>
                   </div>
               </div>

               <input type="submit" value="Add Course" class="btn btn-success">
           </form>


          </div>
      </div>
  </div>
</template>

<script>
export default {
    middleware:['auth-teacher-admin'],
    data(){
        return{
            cate_Courses: [],
            totalPages:0,
            isLoading: true,
            page:0,
            addCoursePopup:false,
            notifySuccess: require("@/assets/success.mp3"),
            addCourse:{
                nameAr:"",
                nameEn:"",
                description:"",
                level:"",
                language:"",
                video:"",
                numberOfHours:"",
                passing_percentage:"",
                includes:[""],
                price:"",
                requirments:[""],
                objectives:[""],
            },
            photo:"",
            url:"",
            currCourseToDelete:{},
            levelOptions:[
                {value:"All",text:"All Levels"},
                {value:"Beginner",text:"Beginners"},
                {value:"Intermediate",text:"Intermediate"},
                {value:"Expert",text:"Expert"},
            ]
        }
    },
    methods:{
        file_selected(e){
            if(e.target.files.length > 0){
                this.photo = e.target.files[0]
                this.url = URL.createObjectURL(e.target.files[0])
            }
        },
        deleteCourse(course){
            this.currCourseToDelete = course;
            this.$vs.dialog({title:"Delete Course", text:"Are You Sure You Want To Delete This Course", color:'danger', accept:this.deleteCourseMain})
        },
        deleteCourseMain(){
            this.$vs.loading();
            this.$axios.delete(`course/${this.currCourseToDelete.id}`).then(res => {
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title: 'Success', text:"Category Added Successfully", color:"success"});
                this.getCourses()
            }).catch(error => {
                this.$vs.notify({title: 'Failed', text:"There Are Something Wrong", color:"danger"});
            }).finally(() => this.$vs.loading.close())
        },
        submitCourse(){

            let formData = new FormData()
            formData.append('nameAr', this.addCourse.nameAr)
            formData.append('nameEn', this.addCourse.nameEn)
            formData.append('description', this.addCourse.description)
            formData.append('level', this.addCourse.level)
            formData.append('language', this.addCourse.language)
           if(this.addCourse.video){
                formData.append('video', this.addCourse.video)
           }
           if(this.photo){
                formData.append('photo', this.photo)
           }
            formData.append('price', this.addCourse.price)
            formData.append('numberOfHours', this.addCourse.numberOfHours)
            formData.append('passing_percentage', this.addCourse.passing_percentage)
            this.addCourse.includes.forEach((e,index) => {
                formData.append(`include[${index}]`, e)
            })
             this.addCourse.requirments.forEach((e,index) => {
                formData.append(`requirements[${index}]`, e)
            })
             this.addCourse.objectives.forEach((e,index) => {
                formData.append(`objectives[${index}]`, e)
            })
            this.addCoursePopup = false;

            this.$vs.loading()
            this.$axios.post(`second-sub-category/${this.$route.params.id}/course`, formData).then(res =>{
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title:"Success", text:"Course Added Successfully", color:"success"})
                document.querySelector(".addCourseForm").reset()
                this.addCourse.includes = [""]
                this.addCourse.requirments=[""]
                this.addCourse.objectives=[""]
                this.photo = ""
                this.$router.push('/myCourses')
            }).catch(error => {
                this.$vs.loading.close()
                this.$vs.notify({title:"Error", text:"There Is Something Wrong", color:"danger"})
            })
            .finally(() => this.$vs.loading.close())
        },
        getCourses(){
            this.isLoading = true;
        this.$axios.get(`/second-sub-category/${this.$route.params.id}/course`).then(res => {
            console.log(res)
            this.cate_Courses = res.data.docs;
            this.totalPages = res.data.totalPages;
            this.page = res.data.page;
        }).finally(() => this.isLoading = false)
        }
    },
}
</script>

<style>

</style>