<template>
  <div class="container">
      <Loading v-if="isLoading" />
      <div class="category-courses" v-else>
          <div class="category-head-title">
                  <div>
                      <h3>Courses</h3>
                  <vs-button v-if="$auth.loggedIn && $auth.user.role == 'teacher'" @click="$router.push(`/second-sub-category/${$route.params.id}/addNewCourse`)">Add Course</vs-button>
                  </div>
              </div>

        <NoData v-if="!isLoading && cate_Courses.length == 0" />
          <div class="row">
              
              <div class="col-md-3"  v-for="course in cate_Courses" :key="course.id">
                  <Course :course="course" @click.native="$router.push(`/course/${course.id}`)">

                      <div slot="btns" style="margin-top: 16px;" v-if="($auth.loggedIn && $auth.user.role == 'teacher' && course.teacher && $auth.user.id == course.teacher.id)">
                        <vs-button  color="success" @click.stop="$router.push(`/editCourse/${course.id}`)"> <i class="far fa-edit"></i> </vs-button>
                        <vs-button color="danger" @click.stop="deleteCourse(course)"> <i class="fas fa-trash-alt"></i> </vs-button>
                      </div>
                  </Course>
                  <!-- <div class="course-card">
                      
                      <div class="course-logo" @click="$router.push(`/course/${course.id}`)">
                        <img :src="course.photo" v-if="course.photo" alt="">
                      </div>
                      <div class="course-info">
                          <div @click="$router.push(`/course/${course.id}`)">
                              <h5> {{course.nameEn}} </h5>
                              <span> {{course.nameAr}} </span>
                          </div>
                          <div @click="$router.push(`/course/${course.id}`)">
                              <h6 v-if="course.teacher"> {{course.teacher.username}} </h6>
                              <b-form-rating disabled :value="course.rating" variant="warning" ></b-form-rating>
                          </div>
                           <div>
                                            <vs-button  color="success"> <i class="far fa-edit"></i> </vs-button>
                                            <vs-button color="danger" @click="deleteCourse(course)"> <i class="fas fa-trash-alt"></i> </vs-button>
                                        </div>
                      </div>


                      <div class="course-preview" @click="$router.push(`/course/${course.id}`)">
                    <div class="course-head">
                        <h5> {{course.nameEn}} </h5>
                        <div>
                            <span> {{course.numberOfHours}} hours </span>
                            <span> {{course.level}} </span>
                        </div>
                        <p style="font-size:12px">
                            {{course.description}}
                        </p>

                        <div>
                            <ul style="   padding-left: 15px;">
                            <li style="font-size:12px" v-for="(item,index) in course.objectives" :key="index"> {{item}} </li>
                            </ul>
                        </div>
                    </div>
                  </div>

                  </div> -->

                  

              </div>
          </div>
      </div>


       <!-- <vs-popup class="holamundo addNewCourse" fullscreen title="Course" :active.sync="addCoursePopup">
           
      </vs-popup> -->
  </div>
</template>

<script>
import Loading from'@/components/Loading';
import Course from'@/components/course-filip-card';
export default {
    middleware:['auth-teacher-admin'],
    components:{
        Loading,
        Course
    },
    data(){
        return{
            cate_Courses: [],
            totalPages:0,
            isLoading: true,
            page:0,
            addCoursePopup:false,
            notifySuccess: require("@/assets/success.mp3"),
            addCourse:{
                nameAr:"",
                nameEn:"",
                description:"",
                level:"",
                language:"",
                video:"",
                numberOfHours:"",
                passing_percentage:"",
                includes:[""],
                price:"",
                requirments:[""],
                objectives:[""],
            },
            photo:"",
            url:"",
            currCourseToDelete:{},
            levelOptions:[
                {value:"All",text:"All Levels"},
                {value:"Beginner",text:"Beginners"},
                {value:"Intermediate",text:"Intermediate"},
                {value:"Expert",text:"Expert"},
            ]
        }
    },
    methods:{
        file_selected(e){
            if(e.target.files.length > 0){
                this.photo = e.target.files[0]
                this.url = URL.createObjectURL(e.target.files[0])
            }
        },
        deleteCourse(course){
            this.currCourseToDelete = course;
            this.$vs.dialog({title:"Delete Course", text:"Are You Sure You Want To Delete This Course", color:'danger', accept:this.deleteCourseMain})
        },
        deleteCourseMain(){
            this.$vs.loading();
            this.$axios.delete(`course/${this.currCourseToDelete.id}`).then(res => {
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title: 'Success', text:"Course Deleted Successfully", color:"success"});
                this.getCourses()
            }).catch(error => {
                this.$vs.notify({title: 'Failed', text:"There Are Something Wrong", color:"danger"});
            }).finally(() => this.$vs.loading.close())
        },
        submitCourse(){

            let formData = new FormData()
            formData.append('nameAr', this.addCourse.nameAr)
            formData.append('nameEn', this.addCourse.nameEn)
            formData.append('description', this.addCourse.description)
            formData.append('level', this.addCourse.level)
            formData.append('language', this.addCourse.language)
           if(this.addCourse.video){
                formData.append('video', this.addCourse.video)
           }
           if(this.photo){
                formData.append('photo', this.photo)
           }
            formData.append('price', this.addCourse.price)
            formData.append('numberOfHours', this.addCourse.numberOfHours)
            formData.append('passing_percentage', this.addCourse.passing_percentage)
            this.addCourse.includes.forEach((e,index) => {
                formData.append(`include[${index}]`, e)
            })
             this.addCourse.requirments.forEach((e,index) => {
                formData.append(`requirements[${index}]`, e)
            })
             this.addCourse.objectives.forEach((e,index) => {
                formData.append(`objectives[${index}]`, e)
            })
            this.addCoursePopup = false;

            this.$vs.loading()
            this.$axios.post(`category/${this.$route.params.id}/course`, formData).then(res =>{
                
                this.$vs.notify({title:"Success", text:"Course Added Successfully", color:"success"})
                document.querySelector(".addCourseForm").reset()
                this.addCourse.includes = [""]
                this.addCourse.requirments=[""]
                this.addCourse.objectives=[""]
                this.photo = ""
                this.$router.push('/myCourses')
            }).catch(error => {
                this.$vs.loading.close()
                this.$vs.notify({title:"Error", text:"There Is Something Wrong", color:"danger"})
            })
            .finally(() => this.$vs.loading.close())
        },
        getCourses(){
            this.isLoading = true;
        this.$axios.get(`/second-sub-category/${this.$route.params.id}/course`).then(res => {
            console.log(res)
            this.cate_Courses = res.data.docs;
            this.totalPages = res.data.totalPages;
            this.page = res.data.page;
        }).finally(() => this.isLoading = false)
        }
    },
    created(){
        
        this.getCourses();
    }
}
</script>

<style lang="scss">

 .file-uploader{
        position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    >img{
        width: 120px;
            max-height: 100%;
    }
   input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
   }
   >div{
       text-align: center;
       position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        padding-top: 20px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px dashed #e2e2e2;
        h6{
            color: #717171;
        }
   }
}




.category-courses{
    padding-top:50px;


 
    .category-head-title{
        >div{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 25px;
            h3{
                flex:auto;
            }
        }
    }


    .course-card{
         &:hover{
                .course-preview{
                    top: 0;
                left: 10%;
                    height: 308px;
    overflow-y: scroll;
                opacity: 1;
                }
            }
    cursor: pointer;
    position: relative;
    background: #FFF;
    margin-bottom: 15px;
    padding-bottom: 15px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
        .course-logo{
                height: 200px;
            img{
                width:100%;
                height: 100%;
            }
        }
        .course-info{
               padding: 0 10px;
            div{
                &:first-of-type{
                    h5{
                        margin-bottom: 0;
                        margin-top: 5px;
                        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
                    }
                    span{
                        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
                    }
                }
                &:last-of-type{
                    h6{
                            color: #73726c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.4;
    font-size: 12px;
    margin-bottom: 2px;
                    }
                }
            }
        }
    

    }
     .course-preview{
       box-shadow: -3px 2px 5px 1px #5656562e;
    background: #FFF;
    padding: 12px;
    z-index: 999;
    height: 308px;
    overflow-y: scroll;
    position: absolute;
    transition: all .5s ease;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;


    /* width */
&::-webkit-scrollbar {
  width: 5px;
}

/* Track */
&::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
&::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


            >p{
                font-size: 12px;
                
            }
            
            
            >div{
                
                span{
                    &:first-of-type{
                        flex: auto;
                    }
                }
                
            }
        
        
    }
    .vs-pagination--ul{
        margin-bottom: 0 !important;
    }
    .con-vs-pagination{
        margin: auto;
            margin-top: 20px ;
    margin-bottom: 20px;
    }
}

.addNewCourse{
    .form-group{
        margin-bottom: 0 !important;
    }
}
</style>