<template>
  <div class="secondSub-page">

      <div class="container">
           <div class="secondSub-head">
                  <div>
                      <h3 style="padding: 8px;background: #EEE;"> Courses Second Sub Categories </h3>
                  </div>


                  <div v-if="$auth.user.role == 'admin'">
                      <vs-button class="noOutline" @click="secondSubPopup = true, photo = '', url = ''"> Add </vs-button>
                  </div>
              </div>
          <Loading v-if="isLoading" />
          <NoData v-else-if="!isLoading && allSecondSub.length == 0" />
          <div class="secondSub" v-else>
             


              <div class="all-secondSub">
                  
                  <div class="row">
                      <div class="col-md-4" v-for="secondSub in allSecondSub" :key="secondSub.id">
                          <div class="secondSub-card">
                              <div class="row">
                                  <div class="col-md-6" >
                                     <div class="secondSub-logo" >
                                          <img :src="secondSub.photo" alt="">
                                     </div>
                                  </div>
                                  <div class="col-md-6">
                                       <h6 > {{secondSub.nameEn}} </h6>
                                      <h6> {{secondSub.nameAr}} </h6>
                                      <h6>from: {{new Date(secondSub.createdAt).toLocaleDateString()}} </h6>
                                      <div>
                                            <vs-button v-if="$auth.loggedIn && $auth.user.role == 'admin'" @click="editSecondSubCategory(secondSub)" color="success"> <i class="far fa-edit"></i> </vs-button>
                                            <vs-button v-if="$auth.loggedIn && $auth.user.role == 'admin'" @click="deleteSecondSubCategory(secondSub)" color="danger"> <i class="fas fa-trash-alt"></i> </vs-button>
                                            <vs-button color="primary" @click="$router.push(`/second-sub-category/${secondSub.id}/courses`)"> <i class="fas fa-graduation-cap"></i> </vs-button>
                                            <vs-button color="warning" @click="$router.push(`/second-sub-category/${secondSub.id}/lives`)"> <i class="fas fa-wifi"></i> </vs-button>
                                        </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>    
                  </div>
              </div>
          </div>
      </div>


    <!-- Add Category (Admin) -->
      <vs-popup class="holamundo"  title="Category" :active.sync="secondSubPopup">
      <div>
        <div class="form-group">
            <label for="nameAr">Name In Arabic</label>
            <input type="text" id="nameAr" class="form-control" v-model="addSecondSub.nameAr"> 
        </div>
        <div class="form-group">
            <label for="nameEn">Name In English</label>
            <input type="text" id="nameEn" class="form-control" v-model="addSecondSub.nameEn"> 
        </div>
        <div class="file-uploader">
            <input type="file" @change="file_selected">
            <img v-if="url" :src="url" alt="">
            <div v-else>
                <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                <h6>Attach Course Image</h6>
            </div>
        </div>

        <vs-button class="noOutline" @click="addSecondSubFunc">Add Category</vs-button>
      </div>
    </vs-popup>



     <!-- Edit Category (Admin) -->
      <vs-popup class="holamundo"  title="Edit Category" :active.sync="editSubCatePopup">
      <div>
        <div class="form-group">
            <label for="nameAr">Name In Arabic</label>
            <input type="text" id="nameAr" class="form-control" v-model="editSecondSubForm.nameAr"> 
        </div>
        <div class="form-group">
            <label for="nameEn">Name In English</label>
            <input type="text" id="nameEn" class="form-control" v-model="editSecondSubForm.nameEn"> 
        </div>
        <div class="file-uploader">
            <input type="file" @change="file_selected">
            <img v-if="url" :src="url" alt="">
            <div v-else>
                <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                <h6>Attach Course Image</h6>
            </div>
        </div>

        <vs-button class="noOutline" @click="editSecondSubCategoryMain">Add Sub Categories</vs-button>
      </div>
    </vs-popup>


  </div>
</template>

<script>
import Loading from '@/components/Loading';
import NoData from '@/components/NoData';
export default {
    middleware:['auth-teacher-admin'],
    components:{
        Loading,
        NoData
    },
    data(){
        return{
            secondSubPopup: false,
            isLoading: true,
            addSecondSub:{},
            photo:"",
            editSecondSubPopup: false,
            url:"",
            editSubCatePopup: false,
            allSecondSub: [],
            notifySuccess: require("@/assets/success.mp3"),
            secondSub:'',
            currCateToDelet: {},
            editSecondSubForm:{},
     
        }
    },
    created(){
        this.fetchSecondSub()
    },
    watch:{
       
    },
    methods:{
        fetchSecondSub(){
            this.isLoading = true;
            this.$axios.get(`/sub-category/${this.$route.params.id}/second-sub-category`).then(res => {
                this.allSecondSub = res.data
            }).finally(() => this.isLoading = false)
        },
        // editCateg
        file_selected(e){
            if(e.target.files.length > 0){
                this.photo = e.target.files[0]
                this.url = URL.createObjectURL(e.target.files[0])
            }
        },
        addSecondSubFunc(){
            this.secondSubPopup = false,
            this.$vs.loading()
            let formData = new FormData()
            formData.append('nameAr', this.addSecondSub.nameAr)
            formData.append('nameEn', this.addSecondSub.nameEn)
            if(this.photo != ''){
                formData.append('photo', this.photo)
            }

            this.$axios.post(`/sub-category/${this.$route.params.id}/second-sub-category`, formData, {
                headers: { 'Content-Type': 'multipart/form-data' }
            }).then(res => {
                this.addSecondSub.nameAr = '';
                this.addSecondSub.nameEn = '';
                this.photo = "";
                this.url = "";
                  let Notify = new Audio(this.notifySuccess);
                    Notify.play();
                this.$vs.notify({title: 'Success', text:"Category Added Successfully", color:"success"})
                this.fetchSecondSub()
            }).catch(error => {
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"})
                console.log(error)
            }).finally(() => this.$vs.loading.close())
        },


        editSecondSubCategory(cate){
            this.photo = "";
                this.url = "";
            this.editSubCatePopup = true;
            this.editSecondSubForm.nameAr = cate.nameAr;
            this.editSecondSubForm.nameEn = cate.nameEn;
            this.editSecondSubForm.id = cate.id;
            this.photo = cate.photo;
            this.url = cate.photo;
        },
        editSecondSubCategoryMain(){
            this.$vs.loading();
            this.editSubCatePopup = false;
            let formData = new FormData();
            formData.append('nameAr', this.editSecondSubForm.nameAr);
            formData.append('nameEn', this.editSecondSubForm.nameEn);
            if(this.photo != ''){
                formData.append('photo', this.photo);
            }
            this.$axios.patch(`/second-sub-category/${this.editSecondSubForm.id}`, formData).then(res =>{
                this.photo = "";
                this.url = "";
                this.editSecondSubForm.nameAr = "";
                this.editSecondSubForm.nameEn = "";
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title: 'Success', text:"Second Sub Category Updated Successfully", color:"success"});
                this.fetchSecondSub();
            }).catch(error => {
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"});
            })
            .finally(() => this.$vs.loading.close())
        },
        deleteSecondSubCategory(cate){
            this.currCateToDelet = cate;
            this.$vs.dialog({title:"Delete Second Sub Category", text:"Are You Sure, That Mean All Courses Include To That Category Will Remove!", color:"danger", accept:this.deleteSecondSubCategoryMain})
        },
        deleteSecondSubCategoryMain(){
            this.$vs.loading();
            this.$axios.delete(`/second-sub-category/${this.currCateToDelet.id}`).then(res => {
                    let Notify = new Audio(this.notifySuccess);
                    Notify.play();
                 this.$vs.notify({title: 'Success', text:"Second Sub Category Deleted Successfully", color:"success"});
                 this.fetchSecondSub();
            }).catch((error) => {
                 this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"});
            }).finally(() => this.$vs.loading.close());
        }



    }
}
</script>

<style lang="scss">
.secondSub-page{
    padding-top: 50px;
    .secondSub-head{
        display: flex;
        margin-bottom: 10px;
        flex-wrap: wrap;
        div{
            &:first-of-type{
                flex: 1;
            }
        }
    }
    .vs-button{
        outline: none !important;
    }
    .all-secondSub{
        .secondSub-card{
            cursor: pointer;
            transition: all .5s linear;
            &:hover{
                transform: translateY(-10px);
            }
            background: #FFF;
            margin-bottom: 15px;
            box-shadow: 0 4px 20px 0 rgba(0 ,0 ,0 ,0.2);
            .col-md-6{
                h6{
                    &:first-of-type{
                        margin-bottom: 0;
                        padding-top: 15px;
                    }
                    &:nth-of-type(2){
                        color: #949494;
                        font-size: 16px;
                        font-weight: 100;
                    }
                    &:last-of-type{
                        color: #dad9d9;
                    }
                }
            }
            div.secondSub-logo{
                    height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    height: 135px;
                }
            }
            div{
                .vs-button{
                       padding: 3px 7px;
                }
            }
        }
    }
}



.file-uploader{
    position: relative;
        height: 130px;
    width: 160px;
    margin-bottom: 15px;
    >img{
        width: 100%;
    }
   input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
   }
   >div{
       text-align: center;
       position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        padding-top: 30px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px dashed #e2e2e2;
        h6{
            color: #717171;
        }
   }
}
</style>