<template>
  <div class="all-lives">
      <div class="container">
          <Loading v-if="isLoading" />
          <div v-else>
              <div style="display:flex">
                  <div style="flex:1">
                      <h4 style="margin-bottom:0;padding-top:10px">Lives</h4>
                  </div>
                  <div v-if="$auth.loggedIn && $auth.user.role == 'teacher'">
                      <vs-button @click="addNewLivePopup = !addNewLivePopup"> Add New Live</vs-button>
                  </div>
              </div>


              <div class="addNewLivePopup" v-if="addNewLivePopup">
                  <h6 style="  color:#fff;  font-size: 22px;
        background: #17b6ddad;
    padding: 9px;">Add New Live</h6>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label for=""> Arabic Name </label>
                        <input type="text" v-model="addNewLive.nameAr" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-6">
                       <div class="form-group">
                            <label for=""> English Name </label>
                            <input v-model="addNewLive.nameEn" type="text"  class="form-control">
                        </div>
                  </div>
              </div>
              
               
              <div class="row">
                  <div class="col-md-6">
                       <div class="form-group">
                  <label for=""> Passing Percentage </label>
                  <input type="number" v-model="addNewLive.passing_percentage"  class="form-control">
              </div>
              
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                  <label for=""> Price </label>
                  <input v-model="addNewLive.price" type="number"  class="form-control">
              </div>
                  </div>
              </div>

              <div class="row">
                  <!-- <div class="col-md-6">
                      <div>
                          <label for=""> Lecture Start At </label>
                          <datetime v-model="addNewLive.startedAt" />
                      </div>
                  </div> -->
                  <!-- <div class="col-md-6">
                      <div>
                          <label for=""> Lecture End At </label>
                          <datetime v-model="addNewLive.finishedAt" />
                      </div>
                  </div> -->
                  <div class="col-md-6">
                      <div>
                          <label for=""> Live Start At </label>
                          <datetime :min-datetime="new Date().toISOString()" v-model="addNewLive.liveStartedAt" type="datetime"/>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div>
                          <label for=""> Live End At </label>
                          <datetime :min-datetime="new Date().toISOString()" v-model="addNewLive.liveFinishedAt" type="datetime"/>
                      </div>
                  </div>
                  <!-- <div class="col-md-6">
                      <div>
                          <label for=""> discount </label>
                          <input v-model="addNewLive.discount" type="number" class="form-control">
                      </div>
                  </div> -->
                  <!-- <div class="col-md-6">
                      <div>
                          <label for="">status</label>
                           <b-form-select v-model="addNewLive.availability" :options="options"></b-form-select>
                      </div>
                  </div> -->

                  <div class="form-group" style="    width: 100%;margin: 5px 17px;">
                  <label for=""> Description </label>
                  <textarea v-model="addNewLive.description" style="height:70px;resize:none" class="form-control"></textarea>
              </div>
                  
                  <div class="file-uploader" style="     width: 100%;margin: 11px 15px 8px;">
                    <input type="file" @change="file_selected">
                    <img style="width:100px" v-if="url" :src="url" alt="">
                    <div v-else>
                        <img src="https://i.ibb.co/pfybPxs/noun-Camera-1903011.png" alt="">
                        <h6>Attach Course Image</h6>
                    </div>
                </div>

                <vs-button @click="addNewLiveMain" color="#17B6DD" style="width: 100%;font-weight: bold;outline:none;    margin: 0 14px;"> Add New Live </vs-button>
              </div>

              


          </div>


              <div class="row">
                  <div class="col-md-4" v-for="live in allLives" :key="live.id">
                      <div class="live-card">
                          <div class="live-photo" @click="$router.push(`/lives/${live.id}`)">
                              <img :src="live.photo" alt="">
                          </div>
                          <div class="category" @click="$router.push(`/lives/${live.id}`)">
                              <span> {{live.category.nameEn}} </span>
                              <span> {{live.subCategory.nameEn}} </span>
                              <span> {{live.secondSubCategory.nameEn}} </span>
                          </div>
                          <div @click="$router.push(`/lives/${live.id}`)">
                              <span> <span style="font-weight:bold">Start At : </span>{{new Date(live.liveStartedAt).toLocaleString() }} </span>
                              <br />
                              <span> <span style="font-weight:bold">Finish At : </span> {{new Date(live.liveFinishedAt).toLocaleString()}} </span>
                          </div>
                          <div style="display:flex" @click="$router.push(`/lives/${live.id}`)">
                              <div class="live-status">
                              <span class="online" v-if="live.isLive"> Online </span>
                              <span class="offline" v-else-if="!live.isLive"> Offline </span>
                            </div>
                            <div class="price" style="padding-top: 7px;padding-left: 9px;font-weight: bold;">
                                {{live.price}}$
                            </div>
                            <div class="offer" v-if="live.discount && live.discount.isValid">offer {{live.discount.percentage}} </div>

                          </div>

                          <div class="live-main-info" @click="$router.push(`/lives/${live.id}`)">
                              <h6> {{live.nameEn}} </h6>
                              <p> {{live.description}} </p>
                          </div>
                          

                          <div class="teacher-info" style="display:flex">
                              <div style="margin-right:5px">
                                  <vs-avatar v-if="live.teacher && live.teacher.photo" size="60px" :src="live.teacher.photo"></vs-avatar>
                                  <vs-avatar v-else size="60px" src="https://res.cloudinary.com/derossy-backup/image/upload/v1555206304/deross-samples/placeholder-profile-male.jpg"></vs-avatar>
                              </div>
                              <div>
                                  <h6 style="margin-bottom:0" v-if="live.teacher"> {{live.teacher.username}} </h6>
                                  <h6 style="font-weight: 400;font-size: 14px;margin-bottom:0" v-if="live.teacher"> {{live.teacher.email}} </h6>
                                  <b-form-rating
                                    :value="live.teacher.rating"
                                    readonly
                                    id="rating-readonly"
                                    v-if="live.teacher.rating"
                                    ></b-form-rating>
                                    <span v-if="live.teacher"> {{live.teacher.phone}} </span>
                              </div>
                          </div>

                           <!-- <div class="live-operations">
                              <vs-button color="#5bc0de" @click="editLiveFunc(live)"><i class="fas fa-edit"></i></vs-button>
                              <vs-button color="danger" @click="deleteLive(live)"><i class="fas fa-trash-alt"></i></vs-button>
                          </div> -->

                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</template>

<script>
import Loading from '@/components/Loading';
export default {
    middleware:['auth-teacher-admin'],
    components:{
        Loading
    },
    data(){
        return{
            isLoading: true,
            page:0,
            totalPages:0,
            url:'',
            photo:'',
            allLives: [],
            addNewLivePopup: false,
            notifySuccess: require("@/assets/success.mp3"),
            editLive:{},
            editLivePopup: false,
            addNewLive: {
                nameAr:'',
                nameEn:'',
                description:'',
                price:'',
                passing_percentage:'',
                startedAt:'',
                finishedAt:'',
                visibility:'',
                liveStartedAt:'',
                liveFinishedAt:'',
                discount:'',
                
            },
            currLiveToDelete:{},
            options:[
                {text:"Visible",value:true},
                {text:"Not Visible",value:false},
            ]
        }
    },
    created(){
        this.getSecondSub()
    },
    methods:{

        // deleteLive(live){
        //     this.currLiveToDelete = live
        //     this.$vs.dialog({title:"Delete Live", text:"Are You Sure You Want To Delete This Live", color:"danger", accept:this.deleteLiveMain})
        // },
        // deleteLiveMain(){
        //     this.$vs.loading();
        //     this.$axios.delete(`/live/${this.currLiveToDelete.id}`).then(res => {
        //         let Notify = new Audio(this.notifySuccess);
        //         Notify.play();
        //         this.getSecondSub()
        //         this.$vs.notify({title: 'Success', text:"Live Deleted Successfully", color:"success"});
        //     }).catch(error => {
        //         this.$vs.notify({title: 'Failed', text:"There Are Something Wrong", color:"danger"});
        //     }).finally(() => this.$vs.loading.close())
        // },

        // editLiveMain(){
        //     this.$vs.loading();
           

        //         let formData = new FormData();
        //     formData.append("nameAr", this.editLive.nameAr);
        //     formData.append("nameEn", this.editLive.nameEn);
        //     formData.append("description", this.editLive.description);
        //     formData.append("price", this.editLive.price);
        //     formData.append("passing_percentage", this.editLive.passing_percentage);
        //     formData.append("startedAt", this.editLive.startedAt);
        //     formData.append("finishedAt", this.editLive.finishedAt);
        //     formData.append("visibility", true);
        //     formData.append("liveStartedAt", this.editLive.liveStartedAt);
        //     formData.append("liveFinishedAt", this.editLive.liveFinishedAt);
        //     formData.append("discount", this.editLive.discount);
        //     if(this.photo){
        //         formData.append('photo', this.photo)
        //     }
        //     this.$axios.patch(`/live/${this.editLive.id}`, formData).then(res => {
        //         let Notify = new Audio(this.notifySuccess);
        //         Notify.play();
        //         this.getSecondSub()
        //         this.editLivePopup = false;
        //         this.$vs.notify({title: 'Success', text:"Live Updated Successfully", color:"success"});
        //     }).catch(error => {
        //         this.$vs.notify({title: 'Failed', text:"There Are Something Wrong", color:"danger"});
        //     }).finally(() => this.$vs.loading.close())
        // },
        // editLiveFunc(live){
        //     this.editLive = live;
        //      this.url = this.editLive.photo;
        //      this.photo = this.editLive.photo;
            
        //     this.editLivePopup = true
        // },



        getSecondSub(){
            this.isLoading = true;
        this.$axios.get(`/second-sub-category/${this.$route.params.id}/live`).then(res => {
            this.allLives = res.data.docs;
            this.page = 0;
            this.totalPages = 0;
        }).finally(() => this.isLoading = false)
        },
        addNewLiveMain(){
            this.$vs.loading()
            let formData = new FormData();
            formData.append("nameAr", this.addNewLive.nameAr);
            formData.append("nameEn", this.addNewLive.nameEn);
            formData.append("description", this.addNewLive.description);
            formData.append("price", this.addNewLive.price);
            formData.append("passing_percentage", this.addNewLive.passing_percentage);
            formData.append("startedAt", this.addNewLive.startedAt);
            formData.append("finishedAt", this.addNewLive.finishedAt);
            formData.append("visibility", true);
            formData.append("liveStartedAt", this.addNewLive.liveStartedAt);
            formData.append("liveFinishedAt", this.addNewLive.liveFinishedAt);
            formData.append("discount", this.addNewLive.discount);
            if(this.photo){
                formData.append('photo', this.photo)
            }
            this.$axios.post(`/second-sub-category/${this.$route.params.id}/live`, formData).then(res => {
                this.addNewLive.nameAr = '';
                this.addNewLive.nameEn = '';
                this.addNewLive.description = '';
                this.addNewLive.price = '';
                this.addNewLive.passing_percentage = '';
                this.addNewLive.startedAt = '';
                this.addNewLive.finishedAt = '';
                this.addNewLive.liveStartedAt = '';
                this.addNewLive.liveFinishedAt = '';
                this.addNewLive.discount = '';
                this.photo = '';
                this.url = '';
                this.addNewLivePopup = false;
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title: 'Success', text:"Live Added Successfully", color:"success"});
                this.getSecondSub()
            }).catch(error => {
                this.$vs.notify({title: 'Failed', text:"There Is Something Wrong", color:"danger"});
            }).finally(() => this.$vs.loading.close())
        },
        file_selected(e){
            if(e.target.files.length > 0){
                this.photo = e.target.files[0]
                this.url = URL.createObjectURL(e.target.files[0])
            }
        },
    }
}
</script>

<style lang="scss">
.all-lives{
    padding-top: 30px;
    .addNewLivePopup{
            background: #FFF;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #CCC;

        .vdatetime{
            input{
                display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
        }
    }
.live-card{
    position: relative;
    padding:15px;
    margin-top: 15px;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    cursor: pointer;
    transition: all .5s ease;
    &:hover{
        transform: translateY(-10px);
    }
    .live-photo{
        height:150px;
        img{
            width:100%;
            height:100%;
        }
    }
    .category{
        span{
            display: inline-block;
            display: inline-block;
            padding: 5px;
            margin: 2px;
            font-size: 13px;
            border-radius: 5px;
            &:first-of-type{
                color:#FFF;
                background: #333;
            }
            &:nth-of-type(2){
                color:#FFF;
                background: #D4338C;
            }
            &:last-of-type{
                color:#FFF;
                background: #F9CA71;
            }
        }
    }
    .live-status{
        span{
            color: #FFF;
            padding: 4px;
            margin-top: 8px;
            display: inline-block;
            border-radius: 5px;
            font-weight: bold;
            font-size: 11px;
        }
        .online{
            background: #2ecc71;
            color:#FFF;
        }
        .offline{
            background: #ff4757;
            color:#FFF;
        }
        
    }
    .live-main-info{
        h6{
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
    .teacher-info{
                display: flex;
    background: #FFF;
    padding: 10px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #CCC;
        .b-rating {
            text-align: center;
            background: transparent;
            border: 0;
            padding: 0;
            margin: 0;
            height: 16px;
            .b-rating-star{
                    color: #FFC107;
            }
        }
    }
    .offer{
                display: inline-block;
    background: #16ad56;
    color: #FFF;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
        }
}
}
</style>