<template>
  <div class="course-filip-card">

      <div class="front-card" >
          <div class="course-img">
              <img v-if="course.photo" :src="course.photo" alt="">
              <img v-else src="https://res.cloudinary.com/nile-pharmacy/image/upload/v1558858260/assets/placeholder_a1ubee.jpg" alt="">
              <div class="info">
                   <h6> {{course.nameEn}} </h6>
                   <h6> {{course.description}} </h6>
                   <b-form-rating disabled v-model="course.rating" variant="warning"></b-form-rating>

                   
              </div>
          </div>
      </div>
      <div class="back-card">
           <div>
               <h6> Price:  {{course.price}}$ </h6>
               <h6> Enrollments : {{course.numberOfEnrolledStudents}} </h6>
               <h6> Level : {{course.level}} </h6>

               <button style="margin-top:10px" class="btn btn-primary" @click.stop="$router.push(`/admin-stats/${course.id}`)"> Statistics </button>

               <slot name="btns"></slot>

               <div class="teacher" v-if="course.teacher && typeof(course.teacher) == 'object' ">
                   <div>
                       <vs-avatar size="40px" v-if="course.teacher.photo" :src="course.teacher.photo"></vs-avatar>
                       <vs-avatar size="40px" v-else src="https://res.cloudinary.com/derossy-backup/image/upload/v1555206304/deross-samples/placeholder-profile-male.jpg"></vs-avatar>
                   </div>
                   <div>
                       <h6> {{course.teacher.username}} </h6>
                       <h6> {{course.teacher.email}} </h6>
                       <h6> {{course.teacher.phone}} </h6>
                   </div>
               </div>
           </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            isHoverd: false
        }
    },
    props:{
            course: {
                type: Object,
                required: true
            }
    }
    
}
</script>

<style lang="scss">
body{
    perspective: 1200;
}
.course-filip-card{
        position: relative;
        cursor: pointer;
        height: 250px;
        transform-style: preserve-3d;
        transition: all 1.5s ease;
    margin-bottom: 15px;
    &:hover{
        transform:rotateY(180deg);
    }

    .front-card, .back-card{
        position: absolute;
        top:0;
        left:0;
        width:100%;
         transform-style: preserve-3d;
        height:100%
    }
    .front-card{
        backface-visibility: hidden;
        height: 100%;
        transition: all 1s ease;
        z-index: 2;
      
        .course-img{
            height:250px;
            position: relative;
            img{
                width: 100%;
                height:100%;
            }
            .info{
                position: absolute;
                bottom: 0;
                background: rgba(25, 42, 68 , .5);
                width: 100%;
                color: #FFF;
                padding: 11px 12px 0;
                h6{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0;
                }
            }
        }
    }
    .back-card{
        height:100%;
        z-index: 1;
        transform:rotateY(180deg);
        backface-visibility: hidden;
        background: #fff;
    border: 1px solid #CCC;
    color: #333;
    >div{
        margin-bottom: 0;
        padding: 15px;
            padding: 15px;
    position: relative;
    height: 100%;
        h6{
            margin-bottom: 0;
        }
        .teacher{
            display: flex;
    color: #4d5a6e;
    /* border: 1px solid #ccc; */
    position: absolute;
    bottom: 0px;
            h6{
                margin-bottom: 0;
                
                    font-size: 12px;
            }
        }
    }
        .course-img{
            height:250px;
            position: relative;
            img{
                width: 100%;
                height:100%;
            }
            .info{
                position: absolute;
                bottom: 0;
                background: rgba(25, 42, 68 , .5);
                width: 100%;
                color: #FFF;
                padding: 11px 12px 0;
                h6{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0;
                }
            }
        }
    }
}
</style>