<template>
  <div class="footer">
      <div class="container">
          <h6>Copyright &copy; By GOUD ,  All Right Reserved</h6>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.footer{
        background: #CCC;
    color: rgb(25 42 68);
    padding: 10px 0 3px;
}
</style>