<template>
  <div class="navbar">
    <vs-navbar v-model="activeItem" class="nabarx">
      <vs-navbar-item index="2" >
        
          <nuxt-link v-if="!$auth.loggedIn" to="/Login"> <vs-button>Login</vs-button> </nuxt-link>
          <span v-else @click="LogOut()"> <vs-button color="danger"><i class="fas fa-sign-out-alt"></i></vs-button> </span>
      </vs-navbar-item>


      <div slot="title">
        <vs-navbar-title @click.native="$router.push(`/`)">
            <div class="logo-container" style="border-radius:50%">
                <img src="@/assets/imgs/logo.png" alt="">
            </div>
             <!-- <div>
                 <div>
                      <h6>oud</h6>
                 </div>
             </div> -->
        </vs-navbar-title>
      </div>
    </vs-navbar>
  </div>
</template>
<script>
export default {
  data:()=>({
    activeItem: 0
  }),
  methods:{
    LogOut(){
      this.$auth.logout();
      this.$router.push('/login')
    }
  }
}
</script>

<style lang="scss">
.navbar{
    margin: 0 !important;
    padding: 0 !important;
    .logo-container{
    width:60px;
    // height:50px;
    img{
        width:100%;height:100%;
    }
}
    .vs-navbar--title{
        cursor: pointer;
        display: flex;
        padding-left: -20px !important;
            background: #FFF;
    padding: 5px 0;
    border-radius: 8px;
        
        div{
            span{
            font-size: 11px;
    color: #009edf;
    }
    h6{
           margin-bottom: 0;
    font-size: 26px;
    color: #fff;
    font-weight: bold;
    padding-top: 3px;
    margin-left: -10px;
        }
        }
    }
}
</style>