<template>
  <div class="nodata">
          <div class="nodata-content">
 <div
                    style="width:100%;margin: 69px auto;text-align:center"
                  >
                    <img
                      style="width: 255px;height:100%;"
                      src="@/assets/imgs/nodata.svg"
                      alt
                    />
                    <div class="alert" style="width:90%;margin:auto">
                                            <h6 style="text-align:center;" v-if="$route.path=='/orders'"> لاتوجد طلبات</h6>
                                            <h6 style="text-align:center;" v-if="msg">  {{msg}} </h6>

                    </div>
                  </div>
          </div>
  </div>
</template>

<script>
export default {
  props:['msg']
}
</script>

<style lang="scss">
.nodata-content{
    padding:15px;
    padding-top: 100px;

}
</style>