<template>
  <div>
       <vs-sidebar :reduce="reduce" :reduce-not-hover-expand="true" parent="body" default-index="1"  color="" class="sidebarx" spacer v-model="active">

    
      <vs-sidebar-group open title="Application">
        <vs-sidebar-item index="1" icon-pack="fas fa-stream" @click="reduce=!reduce">
        Toggle Sidebar
        </vs-sidebar-item>
        <vs-sidebar-item to="/profile" index="2" icon-pack="far fa-user">
          Profile
        </vs-sidebar-item>
        <!-- <vs-sidebar-group title="Store" icon-pack="fas fa-inbox">
          <vs-sidebar-item index="2.1" icon="store">
            My Inbox
          </vs-sidebar-item>
          <vs-sidebar-item index="2.2" icon="nature_people">
            Nature
          </vs-sidebar-item>
          <vs-sidebar-item index="2.3" icon="style">
            Style
          </vs-sidebar-item>
        </vs-sidebar-group> -->

        <vs-sidebar-item to="/categories" index="3" icon-pack="fas fa-user-graduate">
          Courses
        </vs-sidebar-item>
        <!-- <vs-sidebar-item index="4" icon-pack="far fa-address-card">
          Certificate
        </vs-sidebar-item> -->
        <vs-sidebar-item v-if="$auth.loggedIn && $auth.user.role == 'teacher'" index="5" to="/myLives" icon-pack="fas fa-signal">
          Lives
        </vs-sidebar-item>
        <!-- <vs-sidebar-item index="6" icon-pack="fab fa-opencart">
          Enrollments
        </vs-sidebar-item> -->
         <vs-sidebar-item v-if="$auth.loggedIn && $auth.user.role == 'teacher'" to="/myCourses" index="7" icon-pack="fas fa-book">
          My Courses
        </vs-sidebar-item>
        <vs-sidebar-item v-if="$auth.loggedIn && $auth.user.role == 'admin'" to="/adminRequests" index="8" icon-pack="fas fa-bell">
          Requests
        </vs-sidebar-item>
        <vs-sidebar-item v-if="$auth.loggedIn && $auth.user.role == 'admin'" to="/newTeacher" index="9" icon-pack="fas fa-chalkboard-teacher">
          Add Teacher
        </vs-sidebar-item>
        <vs-sidebar-item v-if="$auth.loggedIn && $auth.user.role == 'admin'" to="/students" index="10" icon-pack="fas fa-school">
          All Students
        </vs-sidebar-item>
        <vs-sidebar-item v-if="$auth.loggedIn" to="/inquiries" index="10" icon-pack="fas fa-headset">
          Inquiries
        </vs-sidebar-item>

        <vs-sidebar-item v-if="$auth.loggedIn && $auth.user.role == 'admin'" to="/copons" index="10" icon-pack="fas fa-percent">
          Copons
        </vs-sidebar-item>



        

        
      </vs-sidebar-group>


      <!-- <vs-divider icon="person" position="left">
        User
      </vs-divider>


      <vs-sidebar-item index="6" icon="account_box">
        Profile
      </vs-sidebar-item> -->

      <!-- <div class="footer-sidebar" slot="footer">
        <vs-button icon="settings" color="primary" type="border"></vs-button>
      </div> -->

    </vs-sidebar>
  </div>
</template>
<script>
export default {
  data:()=>({
    active:true,
    notExpand: false,
    reduce: true
  })
}
</script>

<style lang="scss">
header.vs-navbar{
    background: #192a44 !important;
    position: relative;
    z-index: 9999;
    padding:10px;
}
.vs-sidebar{
  z-index: 9999 !important;
  a:hover {
    color: #FFF !important;
    text-decoration: none !important;
}
}
.vs-sidebar-group .vs-icon {
    margin-right: 7px;
}
.vs-sidebar--items{
    padding-top: 30px;
}
.vs-sidebar.vs-sidebar-reduce {
    max-width: 54px;
    border-radius: 0 10px 10px 0;
    background: #192a44;
    color: #FFF;
}
.vs-sidebar.vs-sidebar-.vs-sidebar-reduceNotHoverExpand{
  background: #192a44;
    color: #FFF;
}
.header-sidebar{
    display :flex;
    align-items :center;
    justify-content :center;
    flex-direction :column;
    width :100%;
    h4{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        > button{
            margin-left :10px;
        }
    }
}
.footer-sidebar{
    display: flex;
  align-items: center;
  justify-content: space-between;
  width :100%;
  > button{
       border: 0px solid rgba(0,0,0,0) !important;
      border-left :1px solid rgba(0,0,0,.07) !important;
      border-radius: 0px !important;
  }
     
}
.vs-sidebar--background{
    position: static !important;
    display: none !important; 
}
.vs-sidebar.vs-sidebar-reduce .vs-sidebar--item i{
    padding-right: 20px;
}
</style>
