<template>
  <div class="teacher-filip-card">

      <div class="front-card" >
          <div class="course-img">
              <vs-avatar size="70px" v-if="teacher.photo" :src="teacher.photo" alt=""/>
              <img v-else src="https://res.cloudinary.com/nile-pharmacy/image/upload/v1558858260/assets/placeholder_a1ubee.jpg" alt="">
              <div class="info">
                   <h6> {{teacher.name}} </h6>
                   <span> {{$moment(teacher.createdAt).fromNow()}} </span>              
              </div>
          </div>
      </div>
      <div class="back-card">
           <div>
               <p class="details">{{teacher.details}} </p>
               <!-- <p v-if="teacher.email">{{teacher.email}} </p>
               <p v-if="teacher.phone">{{teacher.phone}} </p> -->
                <a class="btn btn-info" style="color:#fff;text-decoration:none" :href="teacher.cv"><i class="fas fa-file"></i> Resume  </a>
                <a class="btn btn-danger" target="_blank" style="color:#fff;text-decoration:none" :href="teacher.video"><i class="fab fa-youtube"></i> Preview  </a>
               <!-- <slot name="btns"></slot> -->

           </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            isHoverd: false
        }
    },
    props:{
            teacher: {
                type: Object,
                required: true
            }
    }
    
}
</script>

<style lang="scss">
body{
    perspective: 1200;
}
.teacher-filip-card{
        position: relative;
        cursor: pointer;
        height: 186px;
        transform-style: preserve-3d;
        transition: all 1.5s ease;
    margin-bottom: 15px;
    &:hover{
        transform:rotateY(180deg);
    }

    .front-card, .back-card{
        position: absolute;
        top:0;
        left:0;
        width:100%;
         transform-style: preserve-3d;
        height:100%
    }
    .front-card{
        backface-visibility: hidden;
        height: 100%;
        transition: all 1s ease;
        z-index: 2;
      
        .course-img{
           
                text-align: center;
    background: #FFF;
    padding: 15px;
    border: 1px solid #CCC;
            img{
                width: 100%;
                height:100%;
            }
            .info{
                >span{
                        background: #192a44;
    display: block;
    color: #FFF;
    padding: 8px;
    margin-top: 10px;
    border-radius: 10px;
                }
                h6{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0;
                }
            }
        }
    }
    .back-card{
        height:100%;
        z-index: 1;
        transform:rotateY(180deg);
        backface-visibility: hidden;
        background: #fff;
    border: 1px solid #CCC;
    color: #333;
    .details{
        height: 112px;
    overflow-y: scroll;
    font-size: 14px;
    }
    >div{
        margin-bottom: 0;
        padding: 15px;
            padding: 15px;
    position: relative;
    height: 100%;
        h6{
            margin-bottom: 0;
        }
        .teacher{
            display: flex;
    color: #4d5a6e;
    /* border: 1px solid #ccc; */
    position: absolute;
    bottom: 0px;
            h6{
                margin-bottom: 0;
                
                    font-size: 12px;
            }
        }
    }
        .course-img{
            height:250px;
            position: relative;
            img{
                width: 100%;
                height:100%;
            }
            .info{
                position: absolute;
                bottom: 0;
                background: rgba(25, 42, 68 , .5);
                width: 100%;
                color: #FFF;
                padding: 11px 12px 0;
                h6{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0;
                }
            }
        }
    }
}
</style>