<template>
  <div class="categories-page">

      <div class="container">
          <Loading v-if="isLoading" />
          <div class="categories" v-else>
              <div class="categories-head">
                  <div>
                      <h3 style="padding: 8px;background: #EEE;"> Courses Categories </h3>
                  </div>


                  <div v-if="$auth.user.role == 'admin'">
                      <vs-button class="noOutline" @click="categoryPopup = true"> Add </vs-button>
                  </div>
              </div>


              <div class="all-categories">
                  
                  <div class="row">
                      <div class="col-md-4" v-for="cate in allCategories" :key="cate.id">
                          <div class="cate-card">
                              <div class="row">
                                  <div class="col-md-6" @click="$router.push(`/subCategories/${cate.id}`)">
                                     <div class="cate-logo" >
                                          <img :src="cate.photo" alt="">
                                     </div>
                                  </div>
                                  <div class="col-md-6">
                                       <h6  @click="$router.push(`/subCategories/${cate.id}`)"> {{cate.nameEn}} </h6>
                                      <h6  @click="$router.push(`/subCategories/${cate.id}`)"> {{cate.nameAr}} </h6>
                                      <h6  @click="$router.push(`/subCategories/${cate.id}`)">from: {{new Date(cate.createdAt).toLocaleDateString()}} </h6>
                                      <div v-if="$auth.loggedIn && $auth.user.role == 'admin'">
                                            <vs-button @click="editCategory(cate)" color="success"> <i class="far fa-edit"></i> </vs-button>
                                            <vs-button @click="deleteCategory(cate)" color="danger"> <i class="fas fa-trash-alt"></i> </vs-button>
                                            <!-- <vs-button color="primary" @click="$router.push(`/categories/${cate.id}/courses`)"> <i class="fas fa-graduation-cap"></i> </vs-button> -->
                                        </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>    
                  </div>
              </div>
          </div>
      </div>


    <!-- Add Category (Admin) -->
      <vs-popup class="holamundo"  title="Category" :active.sync="categoryPopup">
      <div>
        <div class="form-group">
            <label for="nameAr">Name In Arabic</label>
            <input type="text" id="nameAr" class="form-control" v-model="addCate.nameAr"> 
        </div>
        <div class="form-group">
            <label for="nameEn">Name In English</label>
            <input type="text" id="nameEn" class="form-control" v-model="addCate.nameEn"> 
        </div>
        <div class="file-uploader">
            <input type="file" @change="file_selected">
            <img v-if="url" :src="url" alt="">
            <div v-else>
                <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                <h6>Attach Course Image</h6>
            </div>
        </div>

        <vs-button class="noOutline" @click="addCategory">Add Category</vs-button>
      </div>
    </vs-popup>



     <!-- Edit Category (Admin) -->
      <vs-popup class="holamundo"  title="Edit Category" :active.sync="editCategoryPopup">
      <div>
        <div class="form-group">
            <label for="nameAr">Name In Arabic</label>
            <input type="text" id="nameAr" class="form-control" v-model="editCategoryForm.nameAr"> 
        </div>
        <div class="form-group">
            <label for="nameEn">Name In English</label>
            <input type="text" id="nameEn" class="form-control" v-model="editCategoryForm.nameEn"> 
        </div>
        <div class="file-uploader">
            <input type="file" @change="file_selected">
            <img v-if="url" :src="url" alt="">
            <div v-else>
                <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                <h6>Attach Course Image</h6>
            </div>
        </div>

        <vs-button class="noOutline" @click="editCategoryMain">Add Category</vs-button>
      </div>
    </vs-popup>


  </div>
</template>

<script>
import Loading from '@/components/Loading';
export default {
    middleware:['auth-teacher-admin'],
    components:{
        Loading
    },
    data(){
        return{
            categoryPopup: false,
            isLoading: true,
            addCate:{
                nameAr: '',
                nameEn:''
            },
            editCategoryForm:{},
            photo:"",
            editCategoryPopup: false,
            url:"",
            allCategories: [],
            cate:'',
            subCate:'',
            secondSubCate:'',
            notifySuccess: require("@/assets/success.mp3")
        }
    },
    created(){
        this.fetchCategories()
    },
    watch:{
       
    },
    methods:{
        fetchCategories(){
            this.isLoading = true;
            this.$axios.get(`/category`).then(res => {
                this.allCategories = res.data
            }).finally(() => this.isLoading = false)
        },
        
        // editCateg
        file_selected(e){
            if(e.target.files.length > 0){
                this.photo = e.target.files[0]
                this.url = URL.createObjectURL(e.target.files[0])
            }
        },
        addCategory(){
            this.categoryPopup = false;
            this.$vs.loading()
            let formData = new FormData()
            formData.append('nameAr', this.addCate.nameAr)
            formData.append('nameEn', this.addCate.nameEn)
            if(this.photo != ''){
                formData.append('photo', this.photo)
            }

            this.$axios.post(`/category`, formData, {
                headers: { 'Content-Type': 'multipart/form-data' }
            }).then(res => {
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                
                this.$vs.notify({title: 'Success', text:"Category Added Successfully", color:"success"})
                this.fetchCategories();
            }).catch(error => {
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"})
                console.log(error)
            }).finally(() => this.$vs.loading.close())
        },
        editCategory(cate){
            this.editCategoryPopup = true;
            this.editCategoryForm.nameAr = cate.nameAr;
            this.editCategoryForm.nameEn = cate.nameEn;
            this.editCategoryForm.id = cate.id;
            this.photo = cate.photo;
            this.url = cate.photo;
        },
        editCategoryMain(){
            this.$vs.loading();
            this.editCategoryPopup = false;
            let formData = new FormData();
            formData.append('nameAr', this.editCategoryForm.nameAr);
            formData.append('nameEn', this.editCategoryForm.nameEn);
            if(this.photo != ''){
                formData.append('photo', this.photo);
            }
            this.$axios.patch(`/category/${this.editCategoryForm.id}`, formData).then(res =>{
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title: 'Success', text:"Category Updated Successfully", color:"success"});
                this.fetchCategories();
            }).catch(error => {
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"});
            })
            .finally(() => this.$vs.loading.close())
        },
        deleteCategory(cate){
            this.currCateToDelet = cate;
            this.$vs.dialog({title:"Delete Category", text:"Are You Sure, That Mean All Courses Include To That Category Will Remove!", color:"danger", accept:this.deleteCategoryMean})
        },
        deleteCategoryMean(){
            this.$vs.loading();
            this.$axios.delete(`/category/${this.currCateToDelet.id}`).then(res => {
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                 this.$vs.notify({title: 'Success', text:"Category Updated Successfully", color:"success"});
                 this.fetchCategories();
            }).catch(error => {
                 this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"});
            }).finally(() => this.$vs.loading.close());
        }
    }
}
</script>

<style lang="scss">
.categories-page{
    padding-top: 50px;
    .categories-head{
        display: flex;
        margin-bottom: 10px;
        flex-wrap: wrap;
        div{
            &:first-of-type{
                flex: 1;
            }
        }
    }
    .vs-button{
        outline: none !important;
    }
    .all-categories{
        .cate-card{
            background: #FFF;
            margin-bottom: 15px;
            box-shadow: 0 4px 20px 0 rgba(0 ,0 ,0 ,0.2);
            cursor: pointer;
            transition: all .5s linear;
            &:hover{
                transform: translateY(-10px);
            }
            .col-md-6{
                h6{
                    &:first-of-type{
                        margin-bottom: 0;
                        padding-top: 15px;
                    }
                    &:nth-of-type(2){
                        color: #949494;
                        font-size: 16px;
                        font-weight: 100;
                    }
                    &:last-of-type{
                        color: #dad9d9;
                    }
                }
            }
            div.cate-logo{
                    height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    height: 135px;
                }
            }
            div{
                .vs-button{
                       padding: 3px 10px;
                }
            }
        }
    }
}



.file-uploader{
    position: relative;
        height: 130px;
    width: 160px;
    margin-bottom: 15px;
    >img{
        width: 100%;
    }
   input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
   }
   >div{
       text-align: center;
       position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        padding-top: 30px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px dashed #e2e2e2;
        h6{
            color: #717171;
        }
   }
}
</style>