<template>
  <div class="stats-based-on-student">
    <div class="container">
      <Loading v-if="isLoading" />
      <NoData v-else-if="!isLoading && data.length == 0" />
      <div v-else>
        <div style="text-align:right">
          <div class="progress-stats">
            Course Lessons : {{ progress.numberOfCourseLessons }}
          </div>
        </div>
        <vs-table stripe :data="data">
          <template slot="header">
            <h3>
              Completed Lessons
            </h3>
          </template>
          <template slot="thead">
            <vs-th>
              Name
            </vs-th>
            <vs-th>
              duration
            </vs-th>
            <vs-th>
              Created At
            </vs-th>
            <vs-th>
              Last Update
            </vs-th>
            <vs-th>
              PDF
            </vs-th>
            <vs-th>
              Video
            </vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" v-for="(tr, indextr) in data">
              <vs-td :data="data[indextr].name">
                {{ data[indextr].nameEn }}
              </vs-td>

              <vs-td :data="data[indextr].duration">
                {{ data[indextr].duration }}
              </vs-td>

              <vs-td :data="data[indextr].createdAt">
                {{ $moment(data[indextr].createdAt).fromNow() }}
              </vs-td>

              <vs-td :data="data[indextr].updatedAt">
                {{ $moment(data[indextr].updatedAt).fromNow() }}
              </vs-td>
              <vs-td :data="data[indextr].pdf">
                <a target="_blank" :href="data[indextr].pdf">
                  <button class="btn btn-primary" >
                    <i class="fas fa-file-pdf"></i>
                  </button>
                </a>
              </vs-td>
              <vs-td :data="data[indextr].video">
                <a target="_blank" :href="data[indextr].video">
                  <button class="btn btn-success">
                  <i class="fas fa-video"></i>
                </button>
                </a>
                
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>


        <div class="student-exam-stats" v-if="examLastSolutions.length > 0">
        <h3 style="font-size: 23px;">Statistics In Exams</h3>
        <div class="row">
            <div class="col-md-12" v-for="last in examLastSolutions" :key="last.id">
                <div class="exams-and-last-sol">
                    <div class="quiz">
                        <h4>{{last.quiz.title}}</h4>
                        <div class="removed">
                            <span v-if="last.quiz.deleted == false"> <i class="far fa-trash-alt not-deleted"></i> </span>
                            <span v-if="last.quiz.deleted == true"> <i class="far fa-trash-alt"></i> </span>
                        </div>
                        <h6><i style="color: #e8cc1a;font-size: 22px;margin: 5px;" class="fas fa-coins"></i> {{last.points}}</h6>
                        <div>
                            <h6>Last Solutions</h6>
                            <div class="last-sol" v-for="lastSol in last.lastSolutions" :key="lastSol.id">
                                 <span> <span><i style="color: #e8cc1a;font-size: 15px" class="fas fa-coins"></i></span> {{lastSol.points}} </span>
                                 <span> <span>Submitted At: </span>  {{ $moment(lastSol.submittedAt).format("YYYY-MM-DD") }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>


      </div>

     
    </div>
  </div>
</template>

<script>
import Loading from "@/components/Loading";
import NoData from "@/components/NoData";
export default {
  data() {
    return {
      progress: [],
      data: [],
      isLoading: true,
      examLastSolutions:[]
    };
  },
  created() {
    this.$axios
      .get(
        `/course/${this.$route.params.id}/student/${this.$route.params.stud_id}/progress`
      )
      .then(res => {
        this.progress = res.data;
        this.data = res.data.lessons;
      })
      

      this.$axios.get(`/course/${this.$route.params.id}/student/${this.$route.params.stud_id}/exams`).then(res => {
          this.examLastSolutions = res.data;
          this.isLoading = true;
      }).finally(() => this.isLoading = false);
  }
};
</script>

<style lang="scss">
.stats-based-on-student {
  padding-top: 50px;

  padding: 25px;

  .progress-stats {
    color: #fff;
    display: inline-block;
    background: #6c5ce7;
    padding: 2px 12px;
  }
  .header-table.vs-table--header {
    h3 {
      margin-bottom: 15px;
      font-size: 23px;
    }
  }

  .student-exam-stats{
      .quiz{
                margin-bottom: 15px;

            background: #fff;
    border: 1px solid #CCC;
    padding: 15px;
     .not-deleted{
      position: relative;
      color:red;
      &::after{
        position: absolute;
        top: -6px;
        left: 5px;
        content: '';
        width: 2px;
        height: 28px;
        /* height: 5px; */
        background: #333;
        transform: rotate(-48deg);
      }
      
  }
    }
    .removed{
            position: absolute;
    top: 16px;
    right: 30px;
    }
    .last-sol{
            display: inline-block;
    background: #eee;
    padding: 7px 15px;
        >span{
                    text-align: center;

            display: block;
            span{
                   font-size: 11px;
    font-weight: bold;
    margin: 0 5px 0 0;
            }
        }
    }
  }
    
 
}
</style>
