<template>

  <div class="container">
      <Loading v-if="isLoading" />
      <div class="newCourse" v-else style="padding-top:25px">
          <div >
              
              <form @submit.prevent="submitCourse" class="addCourseForm" style="    padding: 15px;box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);background: #FFF;padding-top:10px">
                  <div style="background:#5bc0de">
                      <h4 style="color: #fff;padding: 10px;margin-bottom: 13px;">Edit Course</h4>
                  </div>
               <div class="row">
                   <div class="col-md-6">
                       <div>

                           <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                        <label for="nameInArabic">Name In Arabic</label>
                                        <input id="nameInArabic" type="text" v-model="editCourse.nameAr" class="form-control">
                                    </div>
                               </div>
                               <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nameInEnglish">Name In English</label>
                                        <input id="nameInEnglish" type="text" v-model="editCourse.nameEn" class="form-control">
                                    </div>
                               </div>
                           </div>
                           
                          
                           <div class="form-group">
                               <label for="formDescription">Course Description</label>
                               <textarea class="form-control" id="formDescription" v-model="editCourse.description" ></textarea>
                           </div>
                           <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                        <label for="price">Price</label>
                                        <input id="price" type="number" v-model="editCourse.price" class="form-control">
                                    </div>
                               </div>
                               <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="level">Level</label>
                                        <b-form-select id="level" v-model="editCourse.level" :options="levelOptions"></b-form-select>
                                    </div>
                               </div>
                           </div>

                           <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                        <label for="language">Language</label>
                                        <input id="language" type="text" v-model="editCourse.language" class="form-control">
                                    </div>
                               </div>
                               <div class="col-md-6">
                                   <div class="form-group">
                                        <label for="numberOfInputs">Number Of Hours</label>
                                        <input id="numberOfInputs" type="number" v-model="editCourse.numberOfHours" class="form-control">
                                    </div>
                               </div>
                           </div>
                           

                            <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                        <label for="video">Video</label>
                                        <input id="video" type="text" v-model="editCourse.video" class="form-control">
                                    </div>
                               </div>
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label for="passingPerc">Passing Percentage</label>
                                       <input id="passingPerc" type="number" v-model="editCourse.passing_percentage" class="form-control">
                                   </div>
                               </div>

                               <div class="col-md-6">
                                   <div class="file-uploader">
                                        <input type="file" @change="file_selected">
                                        <img v-if="url" :src="url" alt="">
                                        <div v-else>
                                            <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                                            <h6>Attach Course Image</h6>
                                        </div>
                                    </div>
                               </div>
                           </div>

                       </div>
                   </div>

                   <div class="col-md-6">
                      <div style="  border-bottom: 1px solid #DDd;padding-bottom: 15px;margin-bottom: 15px;">
                         <div class="add-req" style="display:flex">
                              <h6 style="flex:1;padding-top:10px">Requirments</h6>
                                <vs-button style="    padding: 5px 10px;margin-bottom: 10px;" color="success" @click="editCourse.requirements.push('')"><i class="fas fa-plus"></i></vs-button>
                         </div>
                          <div class="form-group requirments"  v-for="(req,index) in editCourse.requirements" :key="index">
                             <div style="display:flex">
                                  <input style="height:100%" class="form-control" type="text" v-model="editCourse.requirements[index]">
                              <vs-button style="    height: 100%;padding: 5px 10px;margin-left: 5px;" color="danger" @click.native="editCourse.requirements.pop(req)"> <i class="fas fa-trash-alt"></i> </vs-button>
                             </div>
                          </div>
                            
                      </div>


                      <div  style="    border-bottom: 1px solid #DDd;padding-bottom: 15px;margin-bottom: 15px;">
                         <div class="add-req" style="display:flex">
                              <h6 style="flex:1;padding-top:10px">Includes</h6>
                                <vs-button style="    padding: 5px 10px;margin-bottom: 10px;" color="success" @click="editCourse.include.push('')"><i class="fas fa-plus"></i></vs-button>
                         </div>
                          <div class="form-group requirments" v-for="(req,index) in editCourse.include" :key="index">
                             <div style="display:flex">
                                  <input style="height:100%" class="form-control" type="text" v-model="editCourse.include[index]">
                              <vs-button style="    height: 100%;padding: 5px 10px;margin-left: 5px;" color="danger" @click.native="editCourse.include.pop(req)"> <i class="fas fa-trash-alt"></i> </vs-button>
                             </div>
                          </div>
                            
                      </div>



                      <div  style="    border-bottom: 1px solid #DDd;padding-bottom: 15px;margin-bottom: 15px;">
                         <div class="add-req" style="display:flex">
                              <h6 style="flex:1;padding-top:10px">objectives</h6>
                                <vs-button style="    padding: 5px 10px;margin-bottom: 10px;" color="success" @click="editCourse.objectives.push('')"><i class="fas fa-plus"></i></vs-button>
                         </div>
                          <div class="form-group requirments" v-for="(req,index) in editCourse.objectives" :key="index">
                             <div style="display:flex">
                                  <input style="height:100%" class="form-control" type="text" v-model="editCourse.objectives[index]">
                              <vs-button style="    height: 100%;padding: 5px 10px;margin-left: 5px;" color="danger" @click.native="editCourse.objectives.pop(req)"> <i class="fas fa-trash-alt"></i> </vs-button>
                             </div>
                          </div>
                            
                      </div>
                   </div>
               </div>

               <input type="submit" value="Edit Course" class="btn btn-success">
           </form>


          </div>
      </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
export default {
    middleware:['auth-teacher-admin'],
    components:{
        Loading
    },
    data(){
        return{
            cate_Courses: [],
            isLoading: true,
            totalPages:0,
            isLoading: true,
            page:0,
            editCoursePopup:false,
            notifySuccess: require("@/assets/success.mp3"),
            editCourse:{
                nameAr:"",
                nameEn:"",
                description:"",
                level:"",
                language:"",
                video:"",
                numberOfHours:"",
                passing_percentage:"",
                include:[""],
                price:"",
                requirements:[""],
                objectives:[""],
            },
            photo:"",
            url:"",
            currCourseToDelete:{},
            notifySuccess: require("@/assets/success.mp3"),
            levelOptions:[
                {value:"All",text:"All Levels"},
                {value:"Beginner",text:"Beginners"},
                {value:"Intermediate",text:"Intermediate"},
                {value:"Expert",text:"Expert"},
            ]
        }
    },
    created(){
        this.isLoading = true;
        this.$axios.get(`/course/${this.$route.params.id}`).then(res => {
            this.editCourse = res.data;
            this.photo = res.data.photo;
            this.url = res.data.photo;
        }).finally(() => this.isLoading = false)
    },
    methods:{
        file_selected(e){
            if(e.target.files.length > 0){
                this.photo = e.target.files[0]
                this.url = URL.createObjectURL(e.target.files[0])
            }
        },
        // deleteCourse(course){
        //     this.currCourseToDelete = course;
        //     this.$vs.dialog({title:"Delete Course", text:"Are You Sure You Want To Delete This Course", color:'danger', accept:this.deleteCourseMain})
        // },
        // deleteCourseMain(){
        //     this.$vs.loading();
        //     this.$axios.delete(`course/${this.currCourseToDelete.id}`).then(res => {
        //         let Notify = new Audio(this.notifySuccess);
        //         Notify.play();
        //         this.$vs.notify({title: 'Success', text:"Category Added Successfully", color:"success"});
        //         this.getCourses()
        //     }).catch(error => {
        //         this.$vs.notify({title: 'Failed', text:"There Are Something Wrong", color:"danger"});
        //     }).finally(() => this.$vs.loading.close())
        // },
        submitCourse(){

            let formData = new FormData()
            formData.append('nameAr', this.editCourse.nameAr)
            formData.append('nameEn', this.editCourse.nameEn)
            formData.append('description', this.editCourse.description)
            formData.append('level', this.editCourse.level)
            formData.append('language', this.editCourse.language)
           if(this.editCourse.video){
                formData.append('video', this.editCourse.video)
           }
           if(this.photo){
                formData.append('photo', this.photo)
           }
            formData.append('price', this.editCourse.price)
            formData.append('numberOfHours', this.editCourse.numberOfHours)
            formData.append('passing_percentage', this.editCourse.passing_percentage)
            this.editCourse.include.forEach((e,index) => {
                formData.append(`include[${index}]`, e)
            })
             this.editCourse.requirements.forEach((e,index) => {
                formData.append(`requirements[${index}]`, e)
            })
             this.editCourse.objectives.forEach((e,index) => {
                formData.append(`objectives[${index}]`, e)
            })
            this.editCoursePopup = false;

            this.$vs.loading()
            this.$axios.patch(`/course/${this.$route.params.id}`, formData).then(res =>{
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title:"Success", text:"Course Edited Successfully", color:"success"})
                
                this.$router.push('/myCourses')
            }).catch(error => {
                this.$vs.loading.close()
                this.$vs.notify({title:"Error", text:"There Is Something Wrong", color:"danger"})
            })
            .finally(() => this.$vs.loading.close())
        },
        // getCourses(){
        //     this.isLoading = true;
        // this.$axios.get(`/second-sub-category/${this.$route.params.id}/course`).then(res => {
        //     console.log(res)
        //     this.cate_Courses = res.data.docs;
        //     this.totalPages = res.data.totalPages;
        //     this.page = res.data.page;
        // }).finally(() => this.isLoading = false)
        // }
    },
}
</script>

<style>

</style>