<template>
  <div class="check-box-ques">
    <h6>
      <section>
        <div style="margin-right:15px" v-if="type == 2 || type == 4">
          <input type="file" @change="fileSelected" />
          <i class="far fa-file-image"></i>
        </div>
      </section>
      <div class="form-group">
        <input v-model="head" @blur="isVaildFunction" @input="validateing" type="text" placeholder="Question Head" class="form-control" />
      </div>
    </h6>

    <selectedImg :imgUrl="url"></selectedImg>

    <div class="ques-answer-btns">
      <div class="row">
        <div class="col-md-6" v-for="(item, itemIndex) in choices" :key="itemIndex">
          <div class="form-group">
            <input v-model="choices[itemIndex]" type="text" class="form-control" />
            <div class="radio-btn">
              <input type="radio" v-model="answerData" :name="index" :value="itemIndex" id />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 150px;display: flex;float: right;" class="form-group" v-if="forQuiz">
      <label style=" display: inline-block;padding-top: 9px;margin-right: 7px;" for="">Degree:</label>
      <input type="number" style="padding:0" v-model="point"  class="form-control">
    </div>
  </div>
</template>

<script>
import selectedImg from "../selectedImg";
export default {
  components: {
    selectedImg,
  },
  props: {
    index: {
      type: Number,
      required: true,
    },
    type: {
      type: Number,
      required: true,
    },
    question: {
      type: Object,
      required: true,
    },
    forQuiz:{
      required: false
    }
  },
  data() {
    return {
      answerData: this.question.modelAnswer,
      head: this.question.head,
      choices: this.question.choices,
      point: '',
      imgShow: false,
      photo: null,
      url: null,
      isVaild: false
    };
  },
  watch: {
    point: function (val) {
      this.$emit("set-point", {
        answer: val,
        index: this.index,
        type: this.type,
        isVaild: this.isVaild,
        point: this.point

      });
    },
    answerData: function (val) {
      this.$emit("set-answer", {
        answer: val,
        index: this.index,
        type: this.type,
        isVaild: this.isVaild,
        point: this.point

      });
    },
    head: function (val) {
      this.$emit("set-question-head", {
        head: val,
        index: this.index,
        type: this.type,
                isVaild: this.isVaild,
                point: this.point

        
      });
    },
    photo: function (val) {
      this.$emit("set-image", {
        image: val,
        index: this.index,
        type: this.type,
                isVaild: this.isVaild,
                point: this.point


      });
    },
  },
  methods: {
    isVaildFunction(){
     this.$emit("is-valid", this.isVaild)
     console.log(this.isVaild)
    },
     validateing(){
      if(this.head == ''){
        this.isVaild = false
      }else{
        this.isVaild = true
      }
    },
    get_form_data() {
      this.$emit("get_form_data", {
        answerData: this.answerData,
        head: this.head,
        photo: this.photo,
        choices: this.choices,
        isVaild: this.isVaild

      });
    },
    fileSelected(e) {
      if (e.target.files.length > 0) {
        this.url = "";
        // console.log("files", e.target.files);
        this.photo = e.target.files[0];
        this.url = URL.createObjectURL(this.photo);
        // console.log(e.target.files[0]);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.ques-answer-btns {
  position: relative;
  input[type="text"] {
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 10px 1px #ddd;
    border-radius: 10px;
    font-family: "CustomFontRegular";
    font-weight: bold;
    color: #333;
    font-size: 16px;
    margin-bottom: 14px !important;
  }
  .radio-btn {
    position: absolute;
        top: 15px;
    left: 28px;
  }
   input {
        -webkit-appearance: none;
        border: 2px solid #ddd;
        padding: 10px;
        outline: none;
        border-radius: 43%;
        &:hover {
          cursor: pointer;
        }
        &:checked {
          border: 2px solid #1f74ff;
          position: relative;
          &::after {
            padding: 7px;
            background-color: #1f74ff;
            position: absolute;
            top: 3px;
            right: 3px;
            content: "";
            border-radius: 50%;
          }
        }
      }
}
.selected {
  background: #333 !important;
}
</style>
