<template>
  <div >
    <Navbar />
    <Sidebar />
    <div class="bg-color" style="min-height:83vh;padding-bottom:15px">
      <Nuxt />
    </div>
      <Footer />
  </div>
</template>


<script>
import Navbar from '@/components/Navbar'
import Footer from '@/components/Footer'
import Sidebar from '@/components/sidebar'
export default {
  
  components:{
    Navbar,
    Sidebar,
    Footer
  },
  created(){
    if(process.client){
      this.$vs.loading({background:'rgba(255,255,255,0.9)'});
    setTimeout(() => {
      this.$vs.loading.close()
    }, 3000);
    }
  },
  mounted(){
    if(JSON.parse(localStorage.getItem("user"))){
      this.$auth.setUser(JSON.parse(localStorage.getItem("user")))
    }
  }
}
</script>
<style lang="scss">


 .file-uploader{
        position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    >img{
            max-height: 100px;
    }
   input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
   }
   >div{
       text-align: center;
       position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        padding-top: 20px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px dashed #e2e2e2;
        h6{
            color: #717171;
        }
   }
}


.bg-color{
  background-image: url('../assets/imgs/clean-textile.png');
  padding: 0 0 0 50px;
}
button{
  outline: none !important;
}
.noOutline{
  outline: none !important;
}
.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}
.b-rating.disabled, .b-rating:disabled {
        color: #ffc107 !important;
        border: none !important;
        background: transparent !important;
        display: block !important;
        text-align: unset !important;
        padding:0 !important;
        .b-rating .b-rating-star{
          padding-right: 5px !important;
        }
    }
.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.con-vs-popup{
  z-index: 99999999999999;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
