<template>
<div class="admin-requests">
  <div class="container">
      <Loading v-if="isLoading" />
      <div v-else>
          <h3 class="head">Teacher Requests</h3>
      <div class="row">
          <div class="col-md-3" v-for="request in requests" :key="request.id">
              <TeacherCard :teacher="request" />
              
          </div>

      </div>

      <div>
        <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="page"></vs-pagination>
    </div>
      </div>
  </div>

</div>
</template>

<script>
import TeacherCard from '@/components/teacher-filip-card';
import Loading from '@/components/Loading'
export default {
    middleware:['auth-teacher-admin'],
    components:{
        TeacherCard,
        Loading
    },
    data(){
        return{
            requests:[],
            page:0,
            isLoading: true,
            totalPages:0
        }
    },
    created(){
        this.getRequests()
    },
    methods:{
        getRequests(){
            this.isLoading= true;
            this.$axios.get(`/requests`).then(res => {
                if(res.data.docs){
                    this.requests = res.data.docs;
                    this.totalPages = res.data.totalPages;
                    this.page = res.data.page;
                }else{
                    this.requests = res.data;
                }
            }).finally(() => this.isLoading = false)
        }
    }
}
</script>

<style lang="scss">
.admin-requests{
    padding-top: 40px;
    .head{
        margin-bottom: 10px;
    }
    .vs-pagination--ul{
        margin-bottom:0;
    }
    .con-vs-pagination{
        margin: auto;
    }
}
</style>