<template>
  <div class="copons-page">
    <div class="container">
      <div class="copons-inner">
        <button
         v-if=" $auth.loggedIn && $auth.user.role == 'admin'"
         @click="addCoponPopup = true" class="btn btn-info"
          >Add Copon</button
        >
        <Loading v-if="isLoading" />
        <NoData v-else-if="!isLoading && fetchCopons.length == 0" />
        <div v-else class="fetch-copons">
          <template>
            <span
              class="onecopon  mt-2"
              v-for="copon in fetchCopons"
              :key="copon.id"
            >
              <h6>
                  <span> Code:  </span>
                  <span>{{ copon.code }}</span>
              </h6>
              <!-- <h6>
                  <span> Start At:  </span>
                  <span>{{ new Date(copon.startedAt).toLocaleString() }}</span>
              </h6>
              <h6>
                  <span> Finish At:  </span>
                  <span>{{ new Date(copon.finishedAt).toLocaleString() }}</span>
              </h6> -->
              <!-- <h6>
                  <span> Limit:  </span>
                  <span>{{ copon.limit }}</span>
              </h6> -->
              <h6>
                  <span> Discount:  </span>
                  <span>{{ copon.discount }}</span>
              </h6>
              <div style="text-align:center">
                  <button
                v-if=" $auth.loggedIn && $auth.user.role == 'admin' "
                @click="editCoponHandle(copon)">
                    <i class="fas fa-edit"></i>
                </button>
                <button
                v-if=" $auth.loggedIn && $auth.user.role == 'admin' "
                @click="deleteCopon(copon)">
                    <i class="fas fa-trash-alt"></i>
              </button>
              </div>
            </span>
          </template>
        </div>
      </div>
    </div>

    <vs-popup
      class="holamundo"
      title="Add New Copon"
      :active.sync="addCoponPopup"
    >
      <Loading v-if="isLoading" />
      <div v-else>
        <div class="form-group">
            <label>Code</label>
          <input
            type="text"
            class="form-control"
            v-model="addCopon.code"
          />
        </div>
      
        <!-- <div class="form-group">
            <label>Start At</label>
          <datetime v-model="addCopon.startedAt" />
        </div>
        <div class="form-group">
            <label>Finish At</label>
          <datetime v-model="addCopon.finishedAt" />
        </div>

         <div class="form-group">
            <label>Limit</label>
           <input class="form-control" type="number" v-model="addCopon.limit" />
        </div> -->

         <div class="form-group">
            <label>Discount</label>
          <input class="form-control" type="number" v-model="addCopon.discount" />
        </div>

        <button class="btn btn-success" @click="addCoponMain" color="warning">Add Copon</button>
      </div>
    </vs-popup>

    <vs-popup
      class="holamundo"
      title="Edit This Copon"
      :active.sync="editCoponPopup"
    >
      <Loading v-if="isLoading" />
      <div v-else>
          <div class="form-group">
            <label>Code</label>
          <input class="form-control" v-model="editCopon.code" />
        </div>
       <!-- <div class="form-group">
            <label>Start At</label>
          <datetime v-model="editCopon.startedAt" />
        </div>
        <div class="form-group">
            <label>Finish At</label>
          <datetime v-model="editCopon.finishedAt" />
        </div>

         <div class="form-group">
            <label>Limit</label>
           <input class="form-control" type="number" v-model="editCopon.limit" />
        </div> -->

         <div class="form-group">
            <label>Discount</label>
          <input class="form-control" type="number" v-model="editCopon.discount" />
        </div>


        <button class="btn btn-success" @click="editCoponMain" color="warning">Edit Copon</button>
      </div>
    </vs-popup>
  </div>
</template>

<script>
import Loading from "@/components/Loading";
import NoData from "@/components/NoData";
export default {
  middleware: ["auth"],

  components: {
    Loading,
    NoData
  },
  data() {
    return {
      addCoponPopup: false,
      editCoponPopup: false,
      addCopon: {
        code: "",
        // startedAt: "",
        // finishedAt: "",
        // limit: "",
        discount: ""
      },
      editCopon: {
        code: "",
        // startedAt: "",
        // finishedAt: "",
        // limit: "",
        discount: ""
      },
      fetchCopons: [],
      isLoading: true,
      myPermission:{},
      currCopon:{}
    };
  },
  created() {
      console.log("auth ",this.$auth.user);
    this.$axios
      .get("codes")
      .then(res => {
        console.log(res);
        this.fetchCopons = res.data;
      })
      .finally(() => (this.isLoading = false));
  },
  methods: {
    
    deleteCopon(copon) {
        this.currCopon = copon;
      this.$vs.dialog({text:"Are You Sure , You Want To Delete This Copon", title:"Delete Copon!", color:'danger', accept: this.deleteCoponMain})
    },
    deleteCoponMain(){
        this.$axios
                .delete(`codes/${this.currCopon.id}`)
                .then(res => {
                  console.log(res);
                  let x = this.fetchCopons.find(obj => obj.id === this.currCopon.id);
                  let y = this.fetchCopons.indexOf(x);
                  this.fetchCopons.splice(y, 1);

                  this.$vs.notify({title:"Copon Deleted Successfully", color:'success'});
                })
                .catch(err => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                  console.log(err);
                  this.$vs.notify({title:"There Are Something Wrong", color:'danger'});

                })
                .finally(() => (this.isLoading = false));
    },
    editCoponHandle(copon) {
      this.editCoponPopup = true;
      this.editCopon = copon;
    },
    addCoponMain() {
        this.addCoponPopup = false;
      this.isLoading = true;
      this.$axios
        .post("codes", this.addCopon)
        .then(res => {
          console.log(res);
          this.fetchCopons.push(res.data);
          
          this.addCopon= {}
          this.$vs.notify({title:"Copon Added Successfully", color:'success'});
        }).catch(error => {
          this.$vs.notify({title:"You Added This Copon Before", color:'danger'});

        })
        .finally(() => (this.isLoading = false));
    },
    editCoponMain() {
      this.isLoading = true;
      this.$axios
        .put(`codes/${this.editCopon.id}`, this.editCopon)
        .then(res => {
          console.log(res);
          let coponIndex = this.fetchCopons.findIndex(
            obj => obj.id == this.editCopon.id
          );
          this.fetchCopons[coponIndex] = res.data;
          this.editCoponPopup = false;
          this.$vs.notify({title:"Copon Updated Successfully", color:'success'});
        })
        .finally(() => (this.isLoading = false));
    }
  }
};
</script>

<style lang="scss">
.copons-page {
  .copons-inner {
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;

    margin-top: 30px;
    background: #fff;
    margin-bottom: 30px;
    min-height: 400px;

    .fetch-copons {
      padding: 10px;
      background: #fdfdfd;
      padding: 15px;
      margin-top: 30px;
      border: 1px dashed #ccc;
      .onecopon {
        h6 {
        //   display: inline-block;
          margin-left: 15px;
          margin-bottom: 0;
          text-align: center;
          span{
              &:first-of-type{
                  font-weight: bold;
                  display: block;
                  text-align: center;
                  color:#333;
                  margin-bottom:5px;
              }
          }
        }
        button {
          cursor: pointer;
          background: none;
          border: none;
          outline: none;
          box-shadow: none;
          opacity: 0.5;
          transition: all 0.5s ease;
          &:hover {
            opacity: 1;
            transform: scale(1.2);
          }

          &:first-of-type {
            color: #0014ff;
            font-size: 21px;
          }
          &:last-of-type {
            color: #ff3a3a;
            font-size: 21px;
          }
        }
           margin-left: 15px;
    background-color: #ffffff;
    padding: 8px 19px 6px 7px;
    color: #828282;
    display: inline-block;
     box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
     transition: all .5s ease;
     &:hover{
         transform: translateY(-10px);
     }
    border-radius: 10px;
    padding: 17px;
      }
    }
  }
}
.vdatetime input{
        display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>
