<template>
  <div class="stats-page"> 
   <div class="container">
     <Loading v-if="isLoading" />
     <div v-else>

       <div class="general-stats" v-if="this.$auth.loggedIn && this.$auth.user.role == 'admin'"> 
          <div class="stats">
              <div class="row">
                <div class="col-md-3">
                  <div class="count-students">
                    <h5> Enrollments  </h5>
                    <i class="fas fa-money-check-alt"></i>
                    <span>{{stats.allEnrollments}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-teachers">
                    <h5>Categories</h5>
                    <i class="fas fa-code-branch"></i>
                    <span>{{stats.categories}}</span>
                  </div>
                </div>
                
                <div class="col-md-3">
                  <div class="count-reports">
                    <h5> Courses </h5>
                   <i class="fab fa-leanpub"></i>
                    <span>{{stats.courses}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-admins">
                    <h5>Courses Enrolled</h5>
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>{{stats.coursesEnrollments}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-reports" style="background-color:#40407a">
                    <h5>Gifts</h5>
                    <i class="fas fa-gift"></i>
                    <span>{{stats.gifts}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-students">
                    <h5> Inquiries </h5>
                    <i class="far fa-question-circle"></i>
                    <span>{{stats.inquiries}}</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="count-teachers">
                    <h5>Lectures</h5>
                    <i class="fas fa-chalkboard"></i>
                    <span>{{stats.lectures}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-students">
                    <h5>Lessons</h5>
                   <i class="fas fa-book"></i>
                    <span>{{stats.lessons}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-admins" style="background:#55efc4;border-color:#55efc4">
                    <h5>Lives Enrolled </h5>
                    <i class="fas fa-money-bill-alt"></i>

                    <span>{{stats.liveEnrollments}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-teachers" style="background-color:#218c74">
                    <h5> Lives</h5>
                   <i class="fas fa-signal"></i>
                    <span>{{stats.lives}}</span>
                  </div>
                </div>
               
                <div class="col-md-3">
                  <div class="count-students" style="background-color:#474787">
                    <h5>Quizes</h5>
                    <i class="far fa-file"></i>
                    <span>{{stats.quizes}}</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="count-students" style="background:#fd79a8;border-color:#fd79a8">
                    <h5>Second Sub Categories</h5>
                    <i class="fas fa-code-branch"></i>
                    <span>{{stats.secondSubCategories}}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="count-admins" @click="$router.push(`/students`)">
                    <h5>Students</h5>
                    <i class="fas fa-user-graduate"></i>

                    <span>{{stats.students}}</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="count-reports" style="background-color:#ff793f">
                    <h5>Sub Categories</h5>
                    <i class="fas fa-code-branch"></i>
                    <span>{{stats.subCategories}}</span>
                  </div>
                </div>
                <!-- <div class="col-md-3">
                  <div class="count-students" style="background-color:#fdcb6e;border-color:#fdcb6e">
                    <h5>عدد المعلمين</h5>
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>{{stats.teachers}}</span>
                  </div>
                </div>-->

                <div class="col-md-3">
                  <div class="count-students" style="background-color:#474787">
                    <h5>Instructors</h5>
                    <i class="fas fa-user-tie"></i>
                    <span>{{stats.teachers}}</span>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="count-students">
                    <h5>All Users</h5>
                    <i class="fas fa-users"></i>
                    <!-- <i class="fas fa-  time"></i> -->
                    <span>{{stats.users}}</span>
                  </div>
                </div>
              </div>
            </div>
       </div>

        <div class="top-rated-title">
        <div class="main-logo">
          <img src="@/assets/imgs/top-rated.png" alt="">
        </div>
        <div>
          <h3>Top Rated Teachers</h3>
        </div>
      </div>


      <div class="teacher-top">


        <vs-table :data="topTeachers">
      <!-- <template slot="header">
        <h3>
          Users
        </h3>
      </template> -->
      <template slot="thead">
        <vs-th>
          photo
        </vs-th>
        <vs-th>
          Name
        </vs-th>
        <vs-th>
          Email
        </vs-th>
        <vs-th>
          Gender
        </vs-th>
        <vs-th>
          Phone
        </vs-th>
        <vs-th>
          Country
        </vs-th>
        <vs-th>
          Rating
        </vs-th>
         <vs-th>
          Created At
        </vs-th>
      </template>

      <template slot-scope="{data}">
        <vs-tr :key="indextr" v-for="(tr, indextr) in data" >
          <vs-td :data="data[indextr].photo">
            <vs-avatar v-if="data[indextr].photo" size="50px" :src="data[indextr].photo" />
            <vs-avatar v-else size="50px" src="https://res.cloudinary.com/derossy-backup/image/upload/v1555206304/deross-samples/placeholder-profile-male.jpg" />
          </vs-td>

          <vs-td :data="data[indextr].username">
            {{data[indextr].username}}
          </vs-td>

          <vs-td :data="data[indextr].email">
            {{data[indextr].email}}
          </vs-td>

          <vs-td :data="data[indextr].gender">
            {{data[indextr].gender}}
          </vs-td>
          <vs-td :data="data[indextr].phone">
            {{data[indextr].phone}}
          </vs-td>
          <vs-td :data="data[indextr].country">
            {{data[indextr].country}}
          </vs-td>
          <vs-td :data="data[indextr].rating">
            <b-form-rating disabled v-model="data[indextr].rating" variant="warning"></b-form-rating>
          </vs-td>
          <vs-td :data="data[indextr].createdAt">
            {{$moment(data[indextr].createdAt).fromNow()}}
          </vs-td>
        </vs-tr>
      </template>
    </vs-table>



      </div>


    <!-- Start Top Courses  -->
      <div class="top-rated-title">
        <div class="main-logo">
          <img src="@/assets/imgs/top-rated.png" alt="">
        </div>
        <div>
          <h3>Top Rated Courses</h3>
        </div>
      </div>


     <div class="row">
       <div class="col-md-3" v-for="course in topCourses" :key="course.id">
         <CourseFlipCard @click.native="$router.push(`/course/${course.id}`)" :course="course" />
       </div>
     </div>

     </div>
   </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
import CourseFlipCard from '@/components/course-filip-card';
export default {
  middleware:['auth-teacher-admin'],
  components:{
    Loading,
    CourseFlipCard
  },
    
    created(){
      this.getTopTeachers();
      this.getTopCourses();
      if(this.$auth.loggedIn && this.$auth.user.role == 'admin'){
        this.fetchGeneralStatsForAdmin();
      }
    },
    data(){
      return {
        topTeachers:[],
        isLoading: true,
        topCourses:[],
        stats: []
      }
    },
    methods:{
      fetchGeneralStatsForAdmin(){
        this.isLoading = true;
        this.$axios.get(`/statistics/general`).then(res => {
          console.log("this is Stats => ",res.data);
          this.stats = res.data;
        }).finally(() => {
          this.isLoading = false;
        })
      },
      getTopTeachers(){
        this.isLoading = true;
        this.$axios.get(`/top/teachers`).then(res=>{
          this.topTeachers = res.data
        }).finally(() => {
          this.isLoading = false;
        })
      },
      getTopCourses(){
        this.isLoading = true;
        this.$axios.get(`/top/courses`).then(res => {
          this.topCourses = res.data;
        }).finally(() => {
          this.isLoading = false;
        })
      }
    }
}
</script>

<style lang="scss">
.stats-page{
  .col-md-3{
    margin-bottom: 15px;
  }
  .stats {
    padding: 25px;
    text-align: right;
    
    i {
      font-size: 62px;
      color: rgba(36, 36, 36, 0.41961);
      transition: all 0.3s linear;
    }
    span {
      display: inline-block;
      font-size: 43px;
      position: absolute;
      bottom: 35px;
      left: 40px;
      color: rgba(36, 36, 36, 0.41961);
    }
    h5 {
      margin-bottom: 30px;
      color: #f5f5f5;
      border-radius: 5px;
      font-size: 18px;
      text-align: left;
    }
    .count-admins {
      background: #dc3545;
      padding: 23px;
      border: 1px solid #dc3545;
      border-radius: 4px;
    }
    .count-reports {
      background-color: #ffc107;
      padding: 23px;
      border: 1px solid #ffc107;
      border-radius: 4px;
    }
    .count-students {
      background-color: #17a2b8;
      padding: 23px;
      border: 1px solid #17a2b8;
      border-radius: 4px;
    }
    .count-teachers {
      background-color: #28a745;
      padding: 23px;
      border: 1px solid 28a745;
      border-radius: 4px;
    }
  }



  .b-rating .b-rating-star, .b-rating .b-rating-value{
    padding:0 !important;
  }
  .main-logo{
  width:100px;
  // padding-top:50px;
  img{
    width:100%;
    height:100%;
    margin-left: 18px;
  }
}
.top-rated-title{
    >div{
      h3{
        font-size: 18px;
      }
    }
}
}

</style>