<template>
  <div class="inquiries">
      <div class="container">
          <Loading v-if="isLoading" />
          <NoData v-else-if="!isLoading && inquiries.length == 0" />
         <div v-else>
              <div class="inquiry-card" v-for="inquiry in inquiries" :key="inquiry.id">
                  <div v-if="$auth.loggedIn && $auth.user.role == 'admin'" @click="deleteInq(inquiry)" style="position: absolute;top: 11px;right: 11px;cursor: pointer;color: #dc3545;">
                      <i class="fas fa-trash-alt"></i>
                  </div>
                <div>
                    <vs-avatar v-if="inquiry.user && inquiry.user.photo" :src="inquiry.user.photo" size="60px"></vs-avatar>
                    <vs-avatar v-else src="https://res.cloudinary.com/derossy-backup/image/upload/v1555206304/deross-samples/placeholder-profile-male.jpg" size="50px"></vs-avatar>
                </div>
                <div style="width:100%">
                    <h6 v-if="inquiry.user"> {{inquiry.user.username}} </h6>
                    <span> {{$moment(inquiry.createdAt).fromNow()}} </span>
                    <span> {{inquiry.head}} </span>
                    <button v-if="$auth.loggedIn && $auth.user.role == 'admin'" @click="addAnswerMethod(inquiry)" class="btn btn-info" style="    padding: 2px 7px;">Answer</button>
                    <vs-collapse style="padding:0;" v-if="inquiry.answer">
                        <vs-collapse-item open style="padding:0">
                            <div slot="header" style="padding:0">
                                <h6> Answer </h6>
                            </div>
                           
                            <p v-if="inquiry.answer"> {{inquiry.answer}} </p>
                        </vs-collapse-item>
                    </vs-collapse>
                </div>
              </div>
          </div>
      </div>


       <vs-popup :active.sync="addAnswerPopup" title="Inquiry">
           <h6> {{currInquiry.head}} </h6>
           <div style="margin-bottom:0" class="form-group">
                <input type="text" placeholder="Send Your Answer" v-model="currInquiry.answer" class="form-control">
            </div>
            <button style="margin-top:10px;" @click="answerInquiry" class="btn btn-success">Answer</button>
       </vs-popup>
  </div>
</template>

<script>
export default {
    data(){
        return{
            inquiries:[],
            addAnswerPopup:false,
            page:1,
            totalPages:1,
            isLoading: true,
            myAnswer: "",
            currInquiryToDelete:{},
            currInquiry:{
                head:"",
                id:"",
                answer:""
            }
        }
    },
    methods:{
        deleteInq(inquiry){
            this.currInquiryToDelete = inquiry;
            this.$vs.dialog({title:"Are You Sure", text:"Are You Sure You Want To Delete This Inquiry", color:'danger', accept: this.deleteInqMain})
        },
        deleteInqMain(){
            this.isLoading = true;
            this.$axios.delete(`/inquiry/${this.currInquiryToDelete.id}`).then(res => {
                this.$vs.notify({title:"Success",text:"Inquiry Deleted Successfully", color:"success"});
                this.getInquiries();
            }).finally(() => this.isLoading = false);
        },
        answerInquiry(){
            this.isLoading = true;
            this.addAnswerPopup = false;
            this.$axios.patch(`/inquiry/${this.currInquiry.id}`, {answer: this.currInquiry.answer}).then(res => {
                this.$vs.notify({title:"Success",text:"Your Answer Submitted Successfully", color:"success"});
                this.getInquiries();
            }).finally(() => this.isLoading = false)
        },
        addAnswerMethod(inquiry){
            this.currInquiry.answer = "";
            console.log(inquiry)
            this.addAnswerPopup = true;
            this.currInquiry.head = inquiry.head;
            if(inquiry.answer){
                this.currInquiry.answer = inquiry.answer;
            }
            this.currInquiry.id = inquiry.id;
        },
        getInquiries(){
            this.isLoading = true;
        this.$axios.get(`/inquiry`).then(res => {
            this.inquiries = res.data.docs;
            this.page = res.data.page;
            this.totalPages = res.data.totalPages;
        }).finally(() => this.isLoading = false);
        }
    },
    created(){
        this.getInquiries();
    }
}
</script>

<style lang="scss">
.inquiries{
    padding-top:50px;
      .inquiry-card{
          position: relative;
        display: flex;
        margin-bottom: 15px;
        padding: 15px;
        background: #f7f7f7;
        border: 1px solid #d6d6d6;
        h6{
            font-weight: bold;
            margin-bottom: 0;
            padding-top: 9px;
        }
        span{
            display:block;
            &:first-of-type{
                font-size: 12px;
                color: #909090; 
            }
        }
        .vs-collapse-item--header{
            padding:0;
                width: 100%;
                display: inline-block;
    padding-right: 27px;
    h6{
        padding:0;
    }
        }
        .vs-collapse.default .open-item .con-content--item{
            padding:0;
            p{
                    display: block;
    padding: 10px 8px;
    background: #fff;
    border: 1px solid #CCC;
    margin: 0;
            }
        }
    }
}

</style>