<template>
  <div class="login-page">
      <div class="container">

          <div class="row">
              

              <div class="col-md-6 order-2 order-lg-1">
                  <div class="loginform">
                       <form @submit.prevent="SubmitForm">
              <div class="form-group">
                  <label for="userNameLogin">User Name</label>
                  <input type="text" v-model="login.email" id="userNameLogin" class="form-control">
              </div>
              <div class="form-group">
                  <label for="passwordLogin">Password</label>
                  <input type="password" v-model="login.password" id="passwordLogin" class="form-control">
              </div>

              <input type="submit" value="Login" class="btn btn-primary form-control">
          </form>
          <div>
                  <nuxt-link to="/resetPassword">
                      Forget Password ?
                  </nuxt-link>
                  </div>
                  </div>
              </div>

              <div class="col-md-6 order-1 order-lg-2">
                  <div class="login-svg">
                      <img src="@/assets/imgs/undraw_mobile_login_ikmv.svg" alt="">
                  </div>
                  
              </div>


          </div>
         
      </div>
  </div>
</template>

<script>
export default {
    middleware:['guest-or-loggedIn'],
    data(){
        return{
            login:{
                email:"",
                password:""
            },
            notifySuccess: require("@/assets/success.mp3")
        }
    },
    methods:{
        async SubmitForm(){
            this.$vs.loading()
            try {
                let response = await this.$auth.loginWith('local', { data: this.login })
                console.log(response)
                if(response.data.user.role == 'teacher' || response.data.user.role == 'admin'){
                    console.log("hello instructor")
                    this.$auth.setUser(response.data.user)
                    localStorage.setItem('user', JSON.stringify(response.data.user))
                    this.$router.push('/')
                    this.$vs.loading.close()
                //     let Notify = new Audio(this.notifySuccess);
                // Notify.play();
                    this.$vs.notify({title:`Welcome ${response.data.user.username}`,text:'Welcome Back',color:'success'})
                }
                console.log(this.$auth.user)
            } catch (err) {
                console.log(err)
                this.$vs.notify({title:'Failed',text:'There Is Something Wrong',color:'danger'})
                this.$vs.loading.close()
            }
        }
    }
}
</script>

<style lang="scss">
.login-page{
    .loginform{
        padding-top: 140px;
    }
    .login-svg{
        img{
            width: 100%;
            height:100%
        }
    }
}

</style>