<template>
  <div>
      <div class="container">
          <Loading v-if="isLoading" />
          <div class="category-courses" v-else>
          <div class="category-head-title">
                  <div>
                      <h3>Courses</h3>
                  <vs-button @click="$router.push(`/categories`)">Add Course</vs-button>
                  </div>
              </div>
          <div class="row">
              
              <div class="col-md-3" v-for="course in teacher_Courses" :key="course.id">
                  <Course :course="course" @click.native="$router.push(`/course/${course.id}`)">
                      <div slot="btns">
                          <div style="margin-top: 15px;">
                              <h6 v-if="course.visibility == true" style="margin-bottom: 0;text-align: center;color: #28a745;padding: 10px 0;"> Enable </h6>
                            <h6 v-else style="margin-bottom: 0;text-align: center;color: #dc3545;padding: 10px 0;"> Disable </h6>
                          </div>
                           <div style="display:flex;">
                               <vs-button style="flex-grow:1" color="danger" @click.stop="deleteCourse(course)"><i class="fas fa-trash-alt"></i></vs-button>
                                <vs-button style="flex-grow:1" color="warning" v-if="course.visibility != true" @click.stop="activateCourse(course)">Enable</vs-button>
                                <vs-button style="flex-grow:1" color="warning" v-else @click.stop="deactivateCourse(course)">Disable</vs-button>
                                <vs-button style="flex-grow:1" color="success" @click.stop="$router.push(`/editCourse/${course.id}`)"><i class="fas fa-edit"></i></vs-button>
                           </div>
                      </div>
                  </Course>
                  <!-- <div class="course-card">
                      
                      <div class="course-logo" @click="$router.push(`/course/${course.id}`)">
                        <img :src="course.photo" v-if="course.photo" alt="">
                      </div> 
                      <div class="course-info" >
                          <div>
                              <h5> {{course.nameEn}} </h5>
                              <span> {{course.nameAr}} </span>
                          </div>
                          <div>
                              <h6 v-if="course.teacher"> {{course.teacher.username}} </h6>
                                <b-form-rating disabled :value="course.rating" variant="warning" ></b-form-rating>
                          </div>
                          <h6 v-if="course.visibility == true" style="margin-bottom: 0;text-align: center;background: #28a745;padding: 10px 0;color: #FFF;"> Enable </h6>
                          <h6 v-else style="margin-bottom: 0;text-align: center;background: #dc3545;padding: 10px 0;color: #FFF;"> Disable </h6>

                         <div style="display:flex;margin:5px 0">
                              <vs-button style="flex-grow:1" color="danger">Delete</vs-button>
                          <vs-button style="flex-grow:1" color="warning" v-if="course.visibility != true" @click="activateCourse(course)">Enable</vs-button>
                          <vs-button style="flex-grow:1" color="warning" v-else @click="deactivateCourse(course)">Disable</vs-button>
                          <vs-button style="flex-grow:1" color="success">Edit</vs-button>
                         </div>
                      </div>


                      <div class="course-preview" @click="$router.push(`/course/${course.id}`)">
                    <div class="course-head">
                        <h5> {{course.nameEn}} </h5>
                        <div>
                            <span> {{course.numberOfHours}} hours </span>
                            <span> {{course.level}} </span>
                        </div>
                        <p style="font-size:1211pxpx">
                            {{course.description}}
                        </p>

                        <div>
                            <ul style="   padding-left: 15px;">
                            <li style="font-size:11px" v-for="(item,index) in course.objectives" :key="index"> {{item}} </li>
                            </ul>
                        </div>
                    </div>
                  </div>

                  </div> -->

                  

              </div>

              


          </div>
           <div v-if="totalPages > 1">
                    <vs-pagination :total="totalPages" v-model="page"></vs-pagination>
                </div>
      </div>


      </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
import Course from '@/components/course-filip-card';
// import { delete } from 'vue/types/umd';

export default {
    middleware:['auth-teacher-admin'],
    components:{
        Loading,
        Course
    },
    data(){
        return{
            teacher_Courses:[],
            totalPages:0,
            isLoading: false,
            page:0,
            currCourse:'',
            activeEnable:false,
            currCourseToDelete:{},
            notifySuccess: require("@/assets/success.mp3"),
        }
    },
    watch:{
        page(val){
            this.isLoading = true;
        
        this.$axios.get(`/teacher/courses?page=${val}&limit=12`).then(res => {
            console.log(res)
            this.teacher_Courses = res.data.docs;
            this.totalPages = res.data.totalPages;
            this.page = res.data.page;
        }).finally(() => this.isLoading = false)
    }
        
    },
 created(){
        this.getMyCourses()
    },
    methods:{
        deleteCourse(course){
            this.currCourseToDelete = course;
            this.$vs.dialog({title:"Delete Course", text:"Are You Sure You Want To Delete This Course", color:"danger", accept:this.deleteCourseMain})
        },
        deleteCourseMain(){
            this.$vs.loading();
            this.$axios.delete(`/course/${this.currCourseToDelete.id}`).then(res => {
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title: 'Success', text:"Course Deleted Successfully", color:"success"});
                this.getMyCourses();
            }).catch(error => {
                this.$vs.notify({title: 'Failed', text:"There Are Something Wrong", color:"danger"});
            }).finally(() => this.$vs.loading.close())
        },
        deactivateCourse(course){
            this.currCourse = course
            this.$vs.dialog({title:"Hide ", text:"Hide This Course, Students Not Able To Show Your Course", color:"danger",type:"confirm", accept: this.deleteActiveExam})
        },
        getMyCourses(){
            this.isLoading = true;
        this.$axios.get(`/teacher/courses?limit=12`).then(res => {
            console.log(res)
            this.teacher_Courses = res.data.docs;
            this.totalPages = res.data.totalPages;
            this.page = res.data.page;
        }).finally(() => this.isLoading = false)
        },
        activateCourse(course){
            this.currCourse = course
            this.$vs.dialog({title:"Enable", text:"Enable This Course To Make Students Able To Enroll", color:"primary",type:"confirm", accept: this.acceptActiveExam})
        },
        acceptActiveExam(){
            this.$vs.loading()
            this.$axios.patch(`/course/${this.currCourse.id}`, {visibility: true}).then(res => {
                 let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title:"Success", text:"Course Enabled Successfully",color:"success"})
                this.getMyCourses()
            }).catch(err => {
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong",color:"danger"})
            }).finally(() => this.$vs.loading.close())
        },
        deleteActiveExam(){
            this.$vs.loading()
            this.$axios.patch(`/course/${this.currCourse.id}`, {visibility: false}).then(res => {
                 let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title:"Success", text:"Course Enabled Successfully",color:"success"})
                this.getMyCourses()
            }).catch(err => {
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong",color:"danger"})
            }).finally(() => this.$vs.loading.close())
        }
    }
}
</script>

<style lang="scss">
   .file-uploader{
        position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    >img{
        width: 150px !important;
    max-height: 130px;
    }
   input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
   }
   >div{
       text-align: center;
       position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        padding-top: 20px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px dashed #e2e2e2;
        h6{
            color: #717171;
        }
   }
}




.category-courses{
    padding-top:50px;


 
    .category-head-title{
        >div{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 25px;
            h3{
                flex:auto;
            }
        }
    }


    .course-card{
         &:hover{
                .course-preview{
                        top: 0;
    left: 10%;
    height: 236px;
    overflow-y: scroll;
    opacity: 1;
                }
            }
    cursor: pointer;
    position: relative;
    background: #FFF;
    margin-bottom: 15px;
    padding-bottom: 15px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
        .course-logo{
                height: 115px;
            img{
                width:100%;
                height: 100%;
            }
        }
        .course-info{
               padding: 0 10px;
            div{
                &:first-of-type{
                    h5{
                        margin-bottom: 0;
                        margin-top: 5px;
                        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
                    }
                    span{
                        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
                    }
                }
                &:last-of-type{
                    h6{
                            color: #73726c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.4;
    font-size: 11px;
    margin-bottom: 2px;
                    }
                }
            }
        }
    

    }
     .course-preview{
       box-shadow: -3px 2px 5px 1px #5656562e;
    background: #FFF;
    padding: 12px;
    z-index: 999;
    height: 236px;
    overflow-y: scroll;
    position: absolute;
    transition: all .5s ease;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;


    /* width */
&::-webkit-scrollbar {
  width: 5px;
}

/* Track */
&::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
&::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


            >p{
                font-size: 11px;
                
            }
            
            
            >div{
                
                span{
                    &:first-of-type{
                        flex: auto;
                    }
                }
                
            }
        
        
    }
    .vs-pagination--ul{
        margin-bottom: 0 !important;
    }
    .con-vs-pagination{
        margin: auto;
            margin-top: 20px ;
    margin-bottom: 20px;
    }
}


</style>