<template>
  <div class="my-Lives">
     <div class="container">
         <Loading v-if="isLoading"/>
         <div v-else>
            <div style="display:flex">
                 <div style="flex:1">
                     <h4>My Lives</h4>
                 </div>
                 <div style="flex:1;text-align: right;">
                     <vs-button @click="$router.push(`/categories`)">Add Lives</vs-button>
                 </div>
            </div>

             <transition mode="out-in" enter-active-class="" leave-active-class="">
                 <!-- Start Of Edit Lives -->
                              <div class="addNewLivePopup" v-if="editLivePopup">
                  <h6 style="  color:#fff;  font-size: 22px;
        background: #17b6ddad;
    padding: 9px;">Edit Live</h6>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label for=""> Arabic Name </label>
                        <input type="text" v-model="editLive.nameAr" class="form-control">
                      </div>
                  </div>
                  <div class="col-md-6">
                       <div class="form-group">
                            <label for=""> English Name </label>
                            <input v-model="editLive.nameEn" type="text"  class="form-control">
                        </div>
                  </div>
              </div>
              
               
              <div class="row">
                  <div class="col-md-6">
                       <div class="form-group">
                  <label for=""> Passing Percentage </label>
                  <input type="number" v-model="editLive.passing_percentage"  class="form-control">
              </div>
              
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                  <label for=""> Price </label>
                  <input v-model="editLive.price" type="number"  class="form-control">
              </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div>
                          <label for=""> Lecture Start At </label>
                          <datetime v-model="editLive.startedAt" />
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div>
                          <label for=""> Lecture End At </label>
                          <datetime v-model="editLive.finishedAt" />
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div>
                          <label for=""> Live Start At </label>
                          <datetime v-model="editLive.liveStartedAt" type="datetime"/>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div>
                          <label for=""> Live End At </label>
                          <datetime v-model="editLive.liveFinishedAt" type="datetime"/>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div>
                          <label for=""> discount </label>
                          <input v-model="editLive.discount" type="number" class="form-control">
                      </div>
                  </div>
                  <!-- <div class="col-md-6">
                      <div>
                          <label for="">status</label>
                           <b-form-select v-model="addNewLive.availability" :options="options"></b-form-select>
                      </div>
                  </div> -->

                  <div class="form-group" style="    width: 100%;margin: 5px 17px;">
                  <label for=""> Description </label>
                  <textarea v-model="editLive.description" style="height:70px;resize:none" class="form-control"></textarea>
              </div>
                  
                  <div class="file-uploader" style="     width: 100%;margin: 11px 15px 8px;">
                    <input type="file" @change="file_selected">
                    <img style="width:100px" v-if="url" :src="url" alt="">
                    <div v-else>
                        <img src="https://i.ibb.co/pfybPxs/noun-Camera-1903011.png" alt="">
                        <h6>Attach Course Image</h6>
                    </div>
                </div>

                <vs-button  @click="editLiveMain" color="#17B6DD" style="width: 100%;font-weight: bold;outline:none;    margin: 0 14px;"> Edit Live </vs-button>
              </div>

              


          </div>
             <!-- End Of Edit Lives -->

             </transition>
              <div class="row">
           <div class="col-md-4" v-for="live in allLives" :key="live.id">
                      <div class="live-card">
                          <div class="live-photo" @click="$router.push(`/lives/${live.id}`)">
                              <img :src="live.photo" alt="">
                          </div>
                          <div v-if="live.category && live.subCategory && live.secondSubCategory" class="category" @click="$router.push(`/lives/${live.id}`)">
                              <span> {{live.category.nameEn}} </span>
                              <span> {{live.subCategory.nameEn}} </span>
                              <span> {{live.secondSubCategory.nameEn}} </span>
                          </div>
                          <div @click="$router.push(`/lives/${live.id}`)">
                              <span> <span style="font-weight:bold">Start At : </span>{{new Date(live.liveStartedAt).toLocaleString() }} </span>
                              <br />
                              <span> <span style="font-weight:bold">Finish At : </span> {{new Date(live.liveFinishedAt).toLocaleString()}} </span>
                          </div>
                          <div style="display:flex" @click="$router.push(`/lives/${live.id}`)">
                              <div class="live-status">
                              <span class="online" v-if="live.isLive"> Online </span>
                              <span class="offline" v-else-if="!live.isLive"> Offline </span>
                            </div>
                            <div class="price" style="padding-top: 7px;padding-left: 9px;font-weight: bold;">
                                {{live.price}}$
                            </div>
                            <div class="offer" v-if="live.discount && live.discount.isValid">offer {{live.discount.percentage}} </div>

                          </div>

                          <div class="live-main-info" @click="$router.push(`/lives/${live.id}`)">
                              <h6> {{live.nameEn}} </h6>
                              <p> {{live.description}} </p>
                          </div>

                          <div class="live-operations">
                              <vs-button color="#5bc0de" @click="editLiveFunc(live)"><i class="fas fa-edit"></i></vs-button>
                              <vs-button color="danger" @click="deleteLive(live)"><i class="fas fa-trash-alt"></i></vs-button>
                          </div>
                      </div>
                  </div>
      </div>
      <div v-if="totalPages > 1">
                    <vs-pagination :total="totalPages" v-model="page"></vs-pagination>
                </div>
         </div>
     </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
export default {
    components:{
        Loading
    },
    data(){
        return{
            allLives: [],
            isLoading: true,
            currLiveToDelete:{},
            notifySuccess: require("@/assets/success.mp3"),
            editLive:{},
            editLivePopup: false,
            url:"",
            photo:"",
            totalPages:0,
            page:0
        }
    },
    created(){
        this.getMyLives();
    },
    watch:{
        page(val){
             this.isLoading = true
        this.$axios.get(`/teacher/live?page=${val}&limit=12`).then(res =>{
            this.allLives = res.data.docs;
            this.page= res.data.page;
            this.totalPages= res.data.totalPages;
        }).finally(() => this.isLoading = false)
        }
    },
    methods:{
        file_selected(e){
            if(e.target.files.length > 0){
                this.photo = e.target.files[0]
                this.url = URL.createObjectURL(e.target.files[0])
            }
        },
        editLiveMain(){
            this.$vs.loading();
           

                let formData = new FormData();
            formData.append("nameAr", this.editLive.nameAr);
            formData.append("nameEn", this.editLive.nameEn);
            formData.append("description", this.editLive.description);
            formData.append("price", this.editLive.price);
            formData.append("passing_percentage", this.editLive.passing_percentage);
            formData.append("startedAt", this.editLive.startedAt);
            formData.append("finishedAt", this.editLive.finishedAt);
            formData.append("visibility", true);
            formData.append("liveStartedAt", this.editLive.liveStartedAt);
            formData.append("liveFinishedAt", this.editLive.liveFinishedAt);
            formData.append("discount", this.editLive.discount);
            if(this.photo){
                formData.append('photo', this.photo)
            }
            this.$axios.patch(`/live/${this.editLive.id}`, formData).then(res => {
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.getMyLives()
                this.editLivePopup = false;
                this.$vs.notify({title: 'Success', text:"Live Updated Successfully", color:"success"});
            }).catch(error => {
                this.$vs.notify({title: 'Failed', text:"There Are Something Wrong", color:"danger"});
            }).finally(() => this.$vs.loading.close())
        },
        editLiveFunc(live){
            this.editLive = live;
             this.url = this.editLive.photo;
             this.photo = this.editLive.photo;
            
            this.editLivePopup = true
        },
        getMyLives(){
            this.isLoading = true
        this.$axios.get(`/teacher/live?limit=12`).then(res =>{
            this.allLives = res.data.docs;
            this.page= res.data.page;
            this.totalPages= res.data.totalPages;
        }).finally(() => this.isLoading = false)
        },
        deleteLive(live){
            this.currLiveToDelete = live
            this.$vs.dialog({title:"Delete Live", text:"Are You Sure You Want To Delete This Live", color:"danger", accept:this.deleteLiveMain})
        },
        deleteLiveMain(){
            this.$vs.loading();
            this.$axios.delete(`/live/${this.currLiveToDelete.id}`).then(res => {
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.getMyLives()
                this.$vs.notify({title: 'Success', text:"Live Deleted Successfully", color:"success"});
            }).catch(error => {
                this.$vs.notify({title: 'Failed', text:"There Are Something Wrong", color:"danger"});
            }).finally(() => this.$vs.loading.close())
        }
    }
}
</script>

<style lang="scss">
.my-Lives{
    padding-top: 30px;
    .addNewLivePopup{
            background: #FFF;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #CCC;

        .vdatetime{
            input{
                display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
        }
    }
.live-card{
    position: relative;
    padding:15px;
    margin-top: 15px;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    cursor: pointer;
    transition: all .5s ease;
    &:hover{
        transform: translateY(-10px);
    }
    .live-photo{
        height:150px;
        img{
            width:100%;
            height:100%;
        }
    }
    .category{
        span{
            display: inline-block;
            display: inline-block;
            padding: 5px;
            margin: 2px;
            font-size: 13px;
            border-radius: 5px;
            &:first-of-type{
                color:#FFF;
                background: #333;
            }
            &:nth-of-type(2){
                color:#FFF;
                background: #D4338C;
            }
            &:last-of-type{
                color:#FFF;
                background: #F9CA71;
            }
        }
    }
    .live-status{
        span{
            color: #FFF;
            padding: 4px;
            margin-top: 8px;
            display: inline-block;
            border-radius: 5px;
            font-weight: bold;
            font-size: 11px;
        }
        .online{
            background: #2ecc71;
            color:#FFF;
        }
        .offline{
            background: #ff4757;
            color:#FFF;
        }
        
    }
    .live-main-info{
        h6{
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
    .teacher-info{
                display: flex;
    background: #FFF;
    padding: 10px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #CCC;
        .b-rating {
            text-align: center;
            background: transparent;
            border: 0;
            padding: 0;
            margin: 0;
            height: 16px;
            .b-rating-star{
                    color: #FFC107;
            }
        }
    }
    .offer{
                display: inline-block;
    background: #16ad56;
    color: #FFF;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
        }
}
.vs-pagination--ul{
    margin-bottom: 0;
}
.con-vs-pagination{
        margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}
}
</style>
