<template>
  <div class="newTeacher">
      <div class="container">
          <Loading v-if="isLoading" />
          <div v-else class="new-teacher-form">
              <h3>Add New Teacher</h3>

              <form @submit.prevent="">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                                <label for="UserName">Teacher Name</label>
                                <input type="text" v-model="addTeacher.name" id="UserName" class="form-control">
                            </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                                <label for="UserName">Teacher Email</label>
                                <input type="text" v-model="addTeacher.email" id="Email" class="form-control">
                            </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="UserName">Teacher Password</label>
                            <input type="text" v-model="addTeacher.password" id="Password" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                           <div>
                                <label for="Country">Teacher Country</label>
                                <b-form-select style="width:100%;margin-bottom:5px" id="Country" v-model="addTeacher.country" :options="countries"></b-form-select>
                            </div>
                      </div>
                      <div class="col-md-6">
                           <div>
                                <label for="Gender">Teacher Gender</label>
                                <b-form-select style="width:100%;margin-bottom:5px" id="Gender" v-model="addTeacher.gender" :options="genderOpt"></b-form-select>
                            </div>
                      </div>
                      <div class="col-md-6">
                           <div class="form-group">
                                <label for="Phone">Teacher Phone</label>
                                <input type="number" v-model="addTeacher.phone" id="Phone" class="form-control">
                            </div>
                      </div>
                  </div>
                  
                  
                 
                 
                 
                  <div class="from-group">
                      <label for="TextArea">Teacher Experiance</label>
                      <textarea style="resize:none;height:100px;margin-bottom:10px" class="form-control" id="TextArea" v-model="addTeacher.details"></textarea>
                  </div>
                  <div class="file-uploader">
                        <input type="file" @change="file_selected">
                        <img v-if="url" :src="url" alt="">
                        <div v-else>
                            <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                            <h6>Attach Personal Image</h6>
                        </div>
                    </div>

                    <button @click="addNewTeacher" class="btn btn-info">Add New Teacher</button>
              </form>
          </div>
      </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
export default {
    middleware:['auth-teacher-admin'],
    components:{
        Loading
    },
    data(){
        return {
            addTeacher:{},
            isLoading: false,
            genderOpt:[
                {text:"Male", value:"male"},
                {text:"Female", value:"female"},
            ],
            countries:[
                {text:"Egypt", value:"egypt"},
                {text:"Saudi Aribia", value:"saudi arabia"},
                {text:"Palastina", value:"palastina"},
                {text:"Kuwait", value:"Kuwait"},
            ],
            photo:"",
            url:"",
            notifySuccess: require("@/assets/success.mp3"),
        }
    },
    methods:{
         file_selected(e){
            if(e.target.files.length > 0){
                this.photo = e.target.files[0]
                this.url = URL.createObjectURL(e.target.files[0])
            }
        },
        addNewTeacher(){
            this.$vs.loading()
            let formData = new FormData();
            formData.append("username", this.addTeacher.name);
            formData.append("email", this.addTeacher.email);
            formData.append("password", this.addTeacher.password);
            formData.append("country", this.addTeacher.country);
            formData.append("gender", this.addTeacher.gender);
            formData.append("phone", this.addTeacher.phone);
            formData.append("details", this.addTeacher.details);
            if(this.photo){
                formData.append("photo", this.photo);
            }
            this.$axios.post(`/register/teacher`, formData).then(res => {
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.$vs.notify({title: 'Success', text:"Teacher Added Successfully", color:"success"});
                this.addTeacher = {};
                this.url = "";
                this.photo = "";
            }).catch(error => {
                this.$vs.notify({title: 'Failed', text:"There Are Something Wrong", color:"danger"});
            }).finally(() => this.$vs.loading.close())
        }
    }
}
</script>

<style lang="scss">
.newTeacher{
    padding-top: 40px;
    .new-teacher-form{
        padding: 10px;
    background: #FFF;
    h3{
            background: #17a2b8;
    padding: 7px;
    color: #FFF;
    margin-bottom: 14px;
    }
}
}
 .file-uploader{
        position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    >img{
            max-height: 100px;
    }
   input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
   }
   >div{
       text-align: center;
       position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        padding-top: 20px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px dashed #e2e2e2;
        h6{
            color: #717171;
        }
   }
}
</style>