<template>
  <div class="profile" style="padding-top:50px">
      
      <div class="container" >
          <Loading v-if="isLoading" />
            <div v-else>
                <div style="background:#fff;padding:15px;box-shadow:0 4px 25px 0 rgba(0,0,0,.1)">
                      <div style="display:flex; flex-wrap:wrap ">
                      <div style="padding-top: 26px;margin-left: 17px;">
                      <vs-avatar size="250px" v-if="profile && profile.photo" :src="profile.photo"></vs-avatar>
                  </div>
                  <div>
                      <h6 style="    font-size: 35px;margin-top: 50px;"> {{profile.username}} </h6>
                      <h6 style="font-size: 18px;font-weight: 400;text-align: center;"> {{profile.email}} </h6>
                          <h6 style="font-size: 18px;font-weight: 400;text-align: center;"> {{profile.country}} </h6>
                            <h6 style="font-size: 18px;font-weight: 400;text-align: center;"> {{profile.phone}} </h6>
                      <h6 style="font-size: 18px;font-weight: 400;text-align: center;"> {{profile.gender}} </h6>
                      
                           <div class="rate" style="text-align:center">
                              <b-form-rating style="    font-size: 22px;" disabled :value="profile.rating"></b-form-rating>
                          </div>
                  </div>
                  </div>

                  <p style=" display: inline-block;padding-left: 20px;">
                      {{profile.details}}
                  </p>

                  <div style="margin-top:15px">
                      <vs-button style="outline:none" @click="editProfileAssign" color="primary">Edit Information</vs-button>
                      <vs-button style="outline:none" @click="changePasswordPopup = true" color="success">Change Password</vs-button>
                  </div>
                  </div>
          </div>


                </div>                  
           <vs-popup
           class="addLessonClass"
        color="primary"
        title="Add Lesson"
        :active.sync="editInfoPopup"
        >
       <div class="con-exemple-prompt editProfile">
       Update Your Information

       <div class="row">
           <div class="col-md-6">
               <div slot="input" style="width:100%;margin-bottom:5px">
                    <vs-input style="width:100%" placeholder="User Name" v-model="updateProfile.username"/>
                </div>
           </div>
           <div class="col-md-6">
               <div slot="input" style="width:100%;margin-bottom:5px">
                    <vs-input style="width:100%" placeholder="Email" v-model="updateProfile.email"/>
                </div>
           </div>
           <div class="col-md-6">
               <div slot="input" style="width:100%;margin-bottom:5px">
            <b-form-select style="width:100%" v-model="updateProfile.gender" :options="genders"></b-form-select>
         </div>
           </div>
           <div class="col-md-6">
               <div slot="input" style="width:100%;margin-bottom:5px">
                    <b-form-select style="width:100%;margin-bottom:5px" v-model="updateProfile.country" :options="countries"></b-form-select>
                </div>
           </div>
           <div class="col-md-6">
               <div slot="input" style="width:100%;margin-bottom:5px">
                    <vs-input style="width:100%" type="number" placeholder="Duration" v-model="updateProfile.phone"/>
                </div>
           </div>
           <div class="col-md-6">
                <div slot="input" style="width:100%;margin-bottom:5px">
                    <!-- <vs-input type="datetime-local" placeholder="Duration" v-model="updateProfile.birthdate"/> -->
                    <datetime style="width:100%" v-model="updateProfile.birthdate" />
                </div>
           </div>
       </div>
         

         <div slot="input" style="width:100%;margin-bottom:5px">
             <textarea class="form-control" style="resize:none;height:120px;width:100%" placeholder="Write Your Experiance And Skills" v-model="updateProfile.details"/>
         </div>

         

         <div class="file-uploader">
            <input type="file" @change="file_selected">
            <img v-if="url" :src="url" alt="">
            <div v-else>
                <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                <h6>Attach Personal Image</h6>
            </div>
        </div>

        <vs-button @click="updateProfileMain" color="primary">
            Update Profile
        </vs-button>
       </div>
           </vs-popup>





    <vs-popup class="holamundo"  title="Change Password" :active.sync="changePasswordPopup">
             <vs-input style="width:100%;margin-bottom:5px" type="email" placeholder="Email" v-model="changePass.email"/>        
             <vs-input style="width:100%;margin-bottom:5px" type="password"  placeholder="Old Password" v-model="changePass.oldpassword"/>
             <vs-input style="width:100%;margin-bottom:5px" type="password"  placeholder="New Password" v-model="changePass.newpassword"/>
         <vs-button :disabled="changePass.email == '' || changePass.oldpassword == '' || changePass.newpassword == ''" @click="changePasswordMain">Change</vs-button>
    </vs-popup>


  </div>
</template>

<script>
import Loading from '@/components/Loading';
export default {
    middleware:['auth-teacher-admin'],
    components:{
        Loading
    },
    created(){
        this.getMyProfile()
    },
    data(){
        return{
            profile: {},
            isLoading: true,
            editInfoPopup:false,
            updateProfile:{},
            url:'',
            photo:'',
            country:"",
            changePass:{
                email:"",
                oldpassword:"",
                newpassword:""
            },
            countries:[
                {text:"Saudi Arabia",value:"Saudi"},
                // {text:"Saudi Arabia",value:"Saudi"},
                {text:"kuwait",value:"kuwait"},
            ],
            genders:[
                {text:"Male",value:"male"},
                {text:"Female",value:"female"},
            ],
            changePasswordPopup: false
        }
    },
    computed:{
        validForm(){
            return (this.updateProfile.username !== '',this.updateProfile.email !== '',this.updateProfile.phone !== '',this.updateProfile.birthdate !== '',this.updateProfile.gender !== '',this.updateProfile.country !== '')
        }
    },
    methods:{
        changePasswordMain(){
            this.changePasswordPopup = false;
            this.isLoading = true
            this.$axios.put(`/change-password`, this.changePass).then(res => {
                this.getMyProfile()
                this.$vs.notify({title:"Success",text:"Password Updated Suucessfully", color:"success"})
            }).catch(error => {
                this.$vs.notify({title:"Failed",text:"There is Something Wrong", color:"danger"})
            }).finally(() => this.isLoading = false)
        },
        editProfileAssign(){
            this.editInfoPopup = true
            this.updateProfile.username = this.profile.username,
            this.updateProfile.email = this.profile.email,
            this.updateProfile.phone = this.profile.phone,
            this.updateProfile.country = this.profile.country,
            this.updateProfile.id = this.profile.id,
            this.updateProfile.gender = this.profile.gender,
            this.updateProfile.birthdate = this.profile.birthdate,
            this.updateProfile.details = this.profile.details,
            this.url = this.profile.photo
            this.photo = this.profile.photo
        },
        updateProfileMain(){
            this.$vs.loading()
            this.editInfoPopup = false;
            let formData = new FormData();
            formData.append('username', this.updateProfile.username)
            formData.append('email', this.updateProfile.email)
            formData.append('phone', this.updateProfile.phone)
            formData.append('gender', this.updateProfile.gender)
            formData.append('country', this.updateProfile.country)
            formData.append('birthdate', this.updateProfile.birthdate)
            formData.append('details', this.updateProfile.details)
            if(this.photo){
            formData.append('photo', this.photo)
                
            }
            this.$axios.patch(`/profile`, formData).then(res => {
                this.getMyProfile()
                this.$vs.notify({title:"Success",text:"Profile Updated Suucessfully", color:"success"})
            }).catch(error => {
                this.$vs.notify({title:"Failed",text:"There is Something Wrong", color:"danger"})
            }).finally(() => this.$vs.loading.close())
        },
         file_selected(e){
            if(e.target.files.length > 0){
                this.photo = e.target.files[0]
                this.url = URL.createObjectURL(e.target.files[0])
            }
        },
        getMyProfile(){
                this.isLoading = true;
                this.$axios.get(`/profile`).then(res=>{
                    this.profile = res.data
                }).finally(() => this.isLoading = false)
            
        }
    }
}
</script>

<style lang="scss">
.editSectionClass, .addLessonClass{
.vs-dialog{
.vs-dialog-accept-button{
            display: none !important;
        }
        .vs-dialog-cancel-button{
             display: none !important;
        }
.editProfile{
    position: relative;
    height:510px !important;
       
        button.handle-accept{
                position: absolute;
    bottom: -10px;
    right: 0;
    height: 43px;
    padding: 0 10px;
    border: none;
    color: #FFF;
    background: #46c93a;
    // border-radius: 5px 0 0 5px;
    font-weight: bold;
    z-index: 9;
        }
    }
    .vs-component.vs-con-input-label.vs-input{
        width: 100%;
        margin-bottom: 5px;
    }
    .editProfile{
        .handle-accept{
            background: #307efe !important;
        }

         .file-uploader{
        position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    >img{
            max-height: 100px;
    }
   input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        cursor: pointer;
        opacity: 0;
   }
   >div{
       text-align: center;
       position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        padding-top: 20px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px dashed #e2e2e2;
        h6{
            color: #717171;
        }
   }
}


    }
}
}


.vdatetime-input{
    width:100%;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

</style>