<template>
  <div class="resetPassword-page">
      <div class="container">
          <Loading v-if="isLoading" />
          <div class="row" v-else>
              <div class="col-md-6 order-1 order-lg-2">
                  <div class="resetPAss">
                      <img src="@/assets/imgs/undraw_authentication_fsn5.svg" alt="">
                  </div>
              </div>

              <div class="col-md-6 order-2 order-lg-1">
                  <div class="formToReset">
                      <div class="reset-head">
                          <h3>Reset Your Password</h3>
                      </div>
                      <form @submit.prevent="sendEmailToResetPAssword" v-if="!showVerify">
                           <div class="form-group">
                            <label for="emailToReset">Email</label>
                            <input type="email" v-model="emailAddress" class="form-control" id="emailToReset">
                           </div>

                           <input type="submit" class="btn btn-primary form-control" value="Send Verification Code">
                      </form>

                       <div v-else>
                  <div class="form-groub">

                    <client-only placeholder="Loading ...">
                      <CodeInput
                        :fields="count"
                        :loading="false"
                        class="input"
                        v-on:complete="onComplete"
                      />
                    </client-only>
                  </div>
                  <div class="form-groub new-password-reset">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="New Password"
                      v-model="newPassword"
                    />
                  </div>
                  <input
                    type="button"
                    @click="resetPasswordByCode"
                    class="btn btn-primary form-control"
                    value="Change Password"
                  />
                </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
export default {
    middleware:['guest-or-loggedIn'],
    components:{
        Loading,
        CodeInput: () =>
        process.client
            ? import('vue-verification-code-input')
            : Promise.resolve({ render: () => h('div') }),
    },
    data(){
        return {
            count: 5,
            showVerify:false,
            code:"",
            emailAddress:"",
            isLoading: false,
            newPassword:""
        }
    },
    methods:{
        onComplete(code){
            console.log("hello")
            this.code = code
        },
        verifyEmail(){

        },
        sendEmailToResetPAssword(){
            this.$vs.loading()
            this.$axios.post(`/resend`,{email:  this.emailAddress}).then(res => {
                this.$vs.notify({title:'Success',text:'Send Code Successfully , Check Your Email',color:'success'})
                this.showVerify = true;
            }).catch(error => {
                this.$vs.notify({title:'Failed',text:'There Is Something Wrong',color:'danger'})
            }).finally(() => this.$vs.loading.close())
        },
        resetPasswordByCode(){
            this.$vs.loading()
            this.$axios.post(`/reset-password`, {
                email: this.emailAddress,
                code: this.code,
                password: this.newPassword
            }).then(res => {
                this.$vs.notify({title:'Success',text:'Your Password Updated',color:'success'})
                this.$router.push('/login')
            }).catch(error => {
                this.$vs.notify({title:'Failed',text:'There Is Something Wrong',color:'danger'})
            }).finally(() => this.$vs.loading.close())
        }
    }
}
</script>

<style lang="scss">
.resetPassword-page{
    padding-top: 50px;
    .resetPAss{
        img{
            width:100%;
            height:100%;
        }
    }
    .formToReset{
        padding-top: 80px;
        .reset-head{
            margin-bottom: 15px;
            h3{
                    font-size: 33px;
    /* font-weight: bold; */
    color: #5790be;
            }
        }
    }
    .input.react-code-input-container{
        width:100% !important;
    }
    .new-password-reset{
        padding-bottom: 15px;
    }
    .react-code-input{
        text-align: center;
        margin: 15px 0;
        >input{
            width:20% !important;
        }
    }
}
</style>