<template>
  <div class="clients">
    <div class="container">
      <div class="row" style="margin-bottom:15px;">
        <div class="col-md-4">
          <input
            type="text"
            class="form-control"
            v-model="searchNameClients"
            placeholder="Search By Name"
            id=""
            @keydown.enter="searchClients"
          />
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="form-control"
            v-model="searchEmailClients"
            placeholder="Search By Email"
            id=""
            @keydown.enter="searchClients"
          />
        </div>
        <div class="col-md-3">
          <input
            type="text"
            class="form-control"
            v-model="searchPhoneClients"
            placeholder="Search By Phone"
            id=""
            @keydown.enter="searchClients"
          />
        </div>
        <vs-button
          class="col-md-1 text-center"
          color="warning"
          style="padding:0"
          @click="searchClients"
        >
          Search
        </vs-button>
      </div>
     
      <Loading v-if="isLoading" />
      <div v-else>
        <div class="row">
          <div class="col-md-4" v-for="client in clients" :key="client.id">
            <div class="client-card">
              <div class="client-img">
                <vs-avatar :src="client.photo" size="70px" />
              </div>
              <div class="client-name">
                <h5>{{ client.username }}</h5>
              </div>
              <div class="client-email">
                <h6>{{ client.email }}</h6>
              </div>
              <div class="client-type">
                <h6>{{ client.type }}</h6>
              </div>
              <div class="client-points">
                <h6>{{ client.points }}</h6>
              </div>
            </div>
          </div>
        </div>

        <div>
          <vs-pagination
            color="warning"
            v-if="totalPages > 1"
            prev-icon="chevron_right"
            next-icon="chevron_left"
            :total="totalPages"
            v-model="page"
          ></vs-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from "@/components/Loading";
export default {
  components: {
    Loading
  },
  data() {
    return {
      clients: [],
      searchNameClients: null,
      searchEmailClients: null,
      searchPhoneClients: null,
      isLoading: true,
      page: 0,
      totalPages: 0
    };
  },
  methods: {
    searchClients: function() {
      this.isLoading = true;
      let replacedSearch = "";
      let searchParam = `students?${this.searchNameClients ? "name=" + this.searchNameClients +'&' : ""}${this.searchEmailClients ? "email=" + this.searchEmailClients+'&' : ""}${this.searchPhoneClients ? "phone=" + this.searchPhoneClients+'&' : ""}`;
      console.log(searchParam);
      if (searchParam.startsWith("email", 8)) {
        replacedSearch = searchParam.replace("&", "?");
        console.log(replacedSearch);
      } else if (searchParam.startsWith("phone", 8)) {
        replacedSearch = searchParam.replace("&", "?");
        console.log(replacedSearch);
      } else {
        replacedSearch = searchParam;
      }
      this.$axios
        .get(replacedSearch)
        .then(res => {
          console.log(res);
          this.clients = res.data.docs;
          this.page = res.data.page;
          this.totalPages = res.data.totalPages;
        })
        .finally(() => (this.isLoading = false));
    }
  },
  watch: {
    page: function(val) {
      this.isLoading = true;
      this.$axios
        .get(`students?page=${val}`)
        .then(res => {
          console.log(res);
          this.clients = res.data.docs;
          this.page = res.data.page;
          this.totalPages = res.data.totalPages;
        })
        .finally(() => (this.isLoading = false));
    }
  },
  created() {
    this.$axios
      .get(`students`)
      .then(res => {
        console.log(res);
        this.clients = res.data.docs;
        this.page = res.data.page;
        this.totalPages = res.data.totalPages;
      })
      .finally(() => (this.isLoading = false));
  }
};
</script>

<style lang="scss">
.clients {
    padding-top:50px;
  .client-card {
    text-align: center;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin-bottom: 19px;

    .client-name {
      h5 {
        text-align: center;
      }
    }
    .client-img {
      text-align: center;
    }
    .client-email,
    .client-type,
    .client-points {
      h6 {
        text-align: center;
      }
    }
  }
  .con-vs-pagination.vs-pagination-warning {
    margin: auto;
    margin-bottom: 25px;
    .vs-pagination--ul {
      margin-bottom: 0;
    }
  }
}
</style>
