<template>
  <div class="course-page">
      <div class="container">
          <Loading v-if="isLoading" />
          <div class="specific-course" v-else>
              <div class="course-questions" v-if="$auth.loggedIn && $auth.user && $auth.user.role == 'teacher' && course.teacher && course.teacher.id === $auth.user.role.id">
                  <vs-button @click="$router.push(`/course/${$route.params.id}/questions`)"> Course Questions </vs-button>
              </div>
             <div class="course-info">
                  <div class="row">
                  <div class="col-md-6">
                      <div class="course-category">
                          <vs-avatar size="35px" v-if="course.category && course.category.photo" :src="course.category.photo" />
                          <h6 v-if="course.category"> {{course.category.nameEn}} </h6>
                      </div>

                      <div class="course-basic-info">
                          <h3> {{course.nameEn}} </h3>
                          <p> {{course.description}} </p>
                      </div>

                      <div class="course-rating">
                          <div class="rateNumber">
                              <h6> {{course.rating}}(5) </h6>
                          </div>
                          <div class="rate">
                              <b-form-rating disabled :value="course.rating"></b-form-rating>
                          </div>
                          <div>
                              <h6>( {{course.numberOfEnrolledStudents}} ) Students</h6>
                          </div>
                      </div>

                      <div class="course-author">
                          <h5>Created By: </h5>
                          <h6 v-if="course.teacher"> {{course.teacher.username}} </h6>
                      </div>
                     
                      <div class="course-updated">
                          <div>
                              <h5>Last Updated: </h5>
                              <h6> {{new Date(course.updatedAt).toLocaleDateString()}} </h6>
                          </div>
                          <div>
                              <h5>Languages: </h5>
                              <h6> {{course.language}} </h6>
                          </div>
                          <div>
                              <h5>level: </h5>
                              <h6> {{course.level}} </h6>
                          </div>
                      </div>

                  </div>
                  <div class="col-md-6">
                     <div class="preview">
                          <div class="video-priview">
                            <iframe v-if="course.embed && course.photo" controls :poster="course.photo ? course.photo : ''" :src="course.embed"></iframe>
                            <img style="width:100%;height:100%" v-else-if="!course.embed && course.photo" :src="course.photo" alt="">
                            <img style="width:100%;height:100%" v-else-if="!course.embed && !course.photo" src="https://res.cloudinary.com/nile-pharmacy/image/upload/v1558858260/assets/placeholder_a1ubee.jpg" alt="">
                          </div>
                          <!-- <div class="course-buttons">
                              <vs-button color="primary"> </vs-button>
                          </div> -->
                          <div class="course-includes">
                              <h6 style="margin-bottom:0"> {{course.numberOfHours}} Hours </h6>
                              <h6>This course includes:</h6>
                              <ul>
                                  <li v-for="(item,index) in course.include" :key="index"> {{item}} </li>
                              </ul>
                              <span style="width:100%;margin-bottom:5px;display:block;    padding: 8px;color:#FFF" class="bg-success"> <span style="font-weight:bold">Pass Percentage:</span>  {{course.passing_percentage}} % </span>
                              <span style="width:100%;margin-bottom:5px;display:block;padding: 8px;color:#FFF" class="bg-info"> <span style="font-weight:bold">Price:</span>  {{course.price}} $ </span>
                          </div>
                     </div>
                  </div>

                
              </div>
             </div>


              <div class="objectives">
                  <div class="row">
                      <div class="col-md-8">
                          <div class="course-objectives">
                              <h4>What you'll learn</h4>
                              <div class="row">
                                  <div class="col-md-6" :key="index" v-for="(item,index) in course.objectives">
                                      <h6> {{item}} </h6>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="requirments">
                  <h6 style="margin-bottom: 5px;margin-top: 15px;font-size:20px">Requirments</h6>
                  <div>
                      <ul style="    padding-left: 23px;">
                      <li v-for="(req,index) in course.requirements" :key="index"> {{req}} </li>
                  </ul>
                  </div>
              </div>


              <div class="course-main-content">
                

                  <div class="row">
                     <div class="col-md-8">
                          <div style="display:flex;margin-bottom:15px">
                      <h5 style="    flex-grow: 1;padding-top:7px">
                      Course content
                  </h5>
               <template v-if="$auth.user.role == 'teacher' && course.teacher && course.teacher.id == $auth.user.id">
                    <vs-button style="margin:0 2px" @click="addSectionPopup = true"> <i class="fas fa-puzzle-piece"></i> Add </vs-button>
                <vs-button :disabled="$auth.loggedIn && course && course.teacher && (course.teacher.id != $auth.user.id)" v-if="!finalQuiz" color="success" style="margin:0 2px" @click="addFinalQuizPopup = true"> <i class="far fa-sticky-note"></i> Final Quiz </vs-button>
               </template>
                 </div>
                          <vs-collapse accordion  v-if="content" >
                          <vs-collapse-item @click.native="getLessons(section)" v-for="section in content"  :key="section.id"> 
                              <div slot="header">
                                  <h6 > {{section.nameEn}} </h6>
                              </div>
                             <div>


                                  
                              <div>
                                  <ul>
                                      <li>
                                          <div class="lessons" v-for="lesson in currLessons" v-if="section.id === lesson.section.id" :key="lesson.id">
                                              <div> <h6> {{lesson.nameEn}} </h6> </div>
                                              <div v-if="lesson.isPassPrevSection"> <nuxt-link to="">Preview</nuxt-link> </div>
                                              <div class="duration">25.25</div>
                                               <div  v-if="$auth.user.role == 'teacher' && course.teacher && course.teacher.id == $auth.user.id">
                                                <vs-tooltip style="display:inline-block" text="File Of Lesson">
                                                    <a target="_blank" :href="lesson.pdf">
                                                         <img src="@/assets/imgs/pdf-icon.png" style="width:20px;height:20px;cursor:pointer;opacity:.7" alt="">
                                                    </a>
                                                 </vs-tooltip>
                                                 <vs-tooltip style="display:inline-block" text="Timeline Of Lesson">
                                                      <img @click="$router.push(`/lesson/${lesson.id}/comments`)" style="width:20px;height:20px;cursor:pointer;opacity: 0.5;" src="@/assets/imgs/comments.png">
                                                 </vs-tooltip>
                                                 <vs-tooltip v-if="$auth.loggedIn && $auth.user.role == 'teacher'" style="display:inline-block" text="Edit Lesson">
                                                     <img @click="editLessonMethod(lesson)"  style="width:20px;height:20px;cursor:pointer" src="@/assets/imgs/edit-icons.png">
                                                 </vs-tooltip>
                                                 <vs-tooltip v-if="$auth.loggedIn && $auth.user.role == 'teacher'" style="display:inline-block" text="Delete Lesson">
                                                     <img @click="deleteLesson(lesson)"  style="width:20px;height:20px;cursor:pointer" src="@/assets/imgs/delete-icons.png">
                                                 </vs-tooltip>
                                                
                                              </div>
                                          </div>
                                         
                                      </li>

                                  </ul>
                                   <!-- v-for="quiz in sectionQuiz" :key="quiz.id" -->
                                    <nuxt-link  :to="`/course/${$route.params.id}/section/${section.id}?quiz=${section.quiz.id}`" v-if="section.quiz"> {{section.quiz.title}} </nuxt-link>
                              </div>

                               <div class="section-operations"  v-if="$auth.user.role == 'teacher' && course.teacher && course.teacher.id == $auth.user.id">
                                   

                                    <vs-tooltip v-if="$auth.loggedIn && $auth.user.role == 'teacher'" color="success" style="display: inline-block;" text="Edit Section">
                                        <vs-button @click="editSectionIcon(section)" color="success"><i style="font-size:20px" class="fas fa-pen-square"></i></vs-button>
                                    </vs-tooltip>
                                    <vs-tooltip color="danger" style="    display: inline-block;" text="Delete Section">
                                        <vs-button @click="deleteSection(section)" color="danger"><i style="font-size:20px" class="fas fa-trash-alt"></i></vs-button>
                                    </vs-tooltip>
                                    <vs-tooltip color="primary" style="    display: inline-block;" text="Add Lesson">
                                        <vs-button @click="addLessonForm(section)" color="primary"><i style="font-size:20px" class="fas fa-plus"></i></vs-button>
                                    </vs-tooltip>
                                    <vs-tooltip v-if="!section.quiz" color="warning" style="    display: inline-block;" text="Add Quiz">
                                        <vs-button @click="addQuizForm(section)" color="warning"><i style="font-size:20px" class="far fa-sticky-note"></i></vs-button>
                                    </vs-tooltip>

                                </div>



                             </div>

                          </vs-collapse-item>
                         
                      </vs-collapse>
                      <div v-if="finalQuiz">
                        <h6 > <nuxt-link :to="`/quiz/${finalQuiz.id}?course=${$route.params.id}`">{{finalQuiz.title}}</nuxt-link> </h6>
                      </div>
                     </div>
                  </div>
              </div>
          </div>
      </div>

        <!-- **************************** Start Of PopUps *********************************** -->

           <vs-popup
           class="editSectionClass"
        color="success"
        title="Edit Section"
        :active.sync="editSectionPopup"
        >
       <div class="con-exemple-prompt editSection">
       Update Section Name In English And Arabic
         <div slot="input">
             <vs-input placeholder="English Name" style="width:100%;margin-bottom:5px" v-model="editSection.nameEn"/>
         </div>
         <div slot="input">
             <vs-input placeholder="Arabic Name" style="width:100%;margin-bottom:5px" v-model="editSection.nameAr"/>
         </div>

         <vs-alert :active="!validName" color="danger" icon="new_releases" >
           Fields can not be empty please enter the data
         </vs-alert>
         <vs-button  @click="editSectionMain">
             accept
         </vs-button>
       </div>
     </vs-popup>




     <vs-popup
           class="editSectionClass"
        color="success"
        title="Add New Section"
        :active.sync="addSectionPopup"
        >
       <div class="con-exemple-prompt editSection">
       Add Section Name In English And Arabic
         <div slot="input" style="width:100%;margin-bottom:5px">
             <vs-input style="width:100%" placeholder="English Name" v-model="addSection.nameEn"/>
         </div>
         <div slot="input" style="width:100%;margin-bottom:5px">
             <vs-input style="width:100%" placeholder="Arabic Name" v-model="addSection.nameAr"/>
         </div>

         <vs-alert :active="!validName" color="danger" icon="new_releases" >
           Fields can not be empty please enter the data
         </vs-alert>
         <vs-button  @click="addSectionMain">
             accept
         </vs-button>
       </div>
     </vs-popup>



     <vs-popup
           class="editSectionClass"
        color="success"
        title="Add New Section"
        :active.sync="addQuizPopup"
        >
       <div class="con-exemple-prompt editSection">
       
         <div slot="input" style="width:100%;margin-bottom:5px">
             <vs-input style="width:100%" placeholder="Title" v-model="addQuiz.title"/>
         </div>
         <vs-button  @click="addQuizMain">
             accept
         </vs-button>
       </div>
     </vs-popup>
     


       <vs-popup
           class="addLessonClass"
        color="primary"
        title="Add Lesson"
        :active.sync="editLessonPopup"
        >
       <div class="con-exemple-prompt addLesson">
       Edit Lesson Form
         <div slot="input" style="width:100%;margin-bottom:5px">
             <vs-input style="width:100%" placeholder="English Name" v-model="editLesson.nameEn"/>
         </div>
         <div slot="input" style="width:100%;margin-bottom:5px">
             <vs-input style="width:100%" placeholder="Arabic Name" v-model="editLesson.nameAr"/>
         </div>
         <div slot="input" style="width:100%;margin-bottom:5px">
             <vs-input style="width:100%" placeholder="Video" v-model="editLesson.video"/>
         </div>
         <div slot="input" style="width:100%">
             <vs-input style="width:100%" type="number" placeholder="Duration" v-model="editLesson.duration"/>
         </div>

         <div class="file-uploader">
            <input type="file" @change="file_selected">
            <img v-if="url != ''" src="@/assets/imgs/pngtree-video-editing-software-icon-image_1144462-removebg-preview.png" alt="">
            <div v-else>
                <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                <h6>Attach Lesson PDF</h6>
            </div>
        </div>

         <vs-alert :active="!validEditLesson" color="danger" icon="new_releases" >
           Fields can not be empty 
         </vs-alert>
         <vs-button :disabled="!validEditLesson" @click="editLessonMain">
             accept
         </vs-button>
       </div>
     </vs-popup>


        <vs-popup class="holamundo"  title="Add Lesson" :active.sync="addLessonPopup">
        <div class="con-exemple-prompt addLesson">
       Update Section Name In English And Arabic
         <div slot="input" style="width:100%;margin-bottom:5px">
             <vs-input style="width:100%" placeholder="English Name" v-model="addLesson.nameEn"/>
         </div>
         <div slot="input" style="width:100%;margin-bottom:5px">
             <vs-input style="width:100%" placeholder="Arabic Name" v-model="addLesson.nameAr"/>
         </div>
         
         <div slot="input" style="width:100%;margin-bottom:5px">
             <vs-input style="width:100%" type="number" placeholder="Duration" v-model="addLesson.duration"/>
         </div>

         <div class="file-uploader">
            <input type="file" @change="file_selectedVideo">
            <img v-if="videoURLLesson != ''" src="@/assets/imgs/pngtree-video-editing-software-icon-image_1144462-removebg-preview.png" alt="">
            <div v-else>
                <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                <h6>Attach Lesson Video</h6>
            </div>
        </div>

         <div class="file-uploader">
            <input type="file" @change="file_selected">
            <img v-if="url != ''" src="@/assets/imgs/pngtree-video-editing-software-icon-image_1144462-removebg-preview.png" alt="">
            <div v-else>
                <img  src="@/assets/imgs/noun_Camera_1903011.png" alt="">
                <h6>Attach Lesson PDF</h6>
            </div>
        </div>

         <vs-alert color="danger" icon="new_releases" >
           Fields can not be empty
         </vs-alert>
         <vs-button :disabled="!validNameLesson" @click="addLessonMain">
             accept
         </vs-button>
       </div>
        </vs-popup>


        <vs-popup title="Add Final Quiz To Course" :active.sync="addFinalQuizPopup">
            <div class="form-group">
                <label for="finalQuizToCourse">Final Quiz Title:</label>
                <input type="text" class="form-control" v-model="finalQuizTitle" id="finalQuizToCourse">
            </div>
            <vs-button @click="addFinalQuiz">Add</vs-button>
        </vs-popup>


  </div>
</template>

<script>
import Loading from '@/components/Loading';
export default {
    middleware:['auth-teacher-admin'],
    components:{
        Loading
    },
    data(){
        return{
            finalQuizTitle:"",
            isLoading:false,
            addFinalQuizPopup:false,
            course:{},
            videoURLLesson:"",
            videoBinary:"",
            content:{},
            currCourse:{},
            sectionQuiz:{},
            editSection:{
                nameAr:"",
                nameEn:"",
                id:""
            },
            addSection:{
                nameAr:"",
                nameEn:"",
            },
            addQuiz:{},
            
            addLesson:{
                nameAr:"",
                nameEn:"",
                video:"",
                duration:"",
                id:""
            },
            addQuizPopup: false,
            currLessons: [],
            editLesson:{
                nameAr:"",
                nameEn:"",
                video:"",
                duration:"",
                id:""
            },
            currLesson:{},
            addSectionPopup: false,
            currSection2: {},
            pdf:'',
            url:"",
            finalQuiz:'',
            editSectionPopup: false,
            addLessonPopup: false,
            editLessonPopup: false,
            notifySuccess: require("@/assets/success.mp3"),
        }
    },
    computed:{
        validName(){
            return (this.editSection.nameEn != '' && this.editSection.nameAr != '')
        },
        validNameLesson(){
            return (this.addLesson.nameEn != '' && this.addLesson.nameAr != '', this.videoBinary != '' && this.addLesson.duration != '' && this.pdf != '' && this.url != '')
        },
        validEditLesson(){
            return (this.editLesson.nameEn != '' && this.editLesson.nameAr != '', this.videoBinary != '' && this.editLesson.duration != '' && this.pdf != '' && this.url != '')
        }
    },
    watch:{
        addLessonPopup(val){
            if(val == false){
                this.addLesson.nameEn='',
            this.addLesson.nameAr='',
            this.addLesson.video='',
            this.addLesson.duration='',
            this.pdf='',
            this.url=''
            }
        },
        editSectionPopup(val){
            if(val == false){
            this.pdf='',
            this.url=''
            }
        },
        editLessonPopup(val){
            if(val == false){
            this.pdf='',
            this.url=''
            }
        }
    },
    methods:{
        getFinalQuiz(){
            this.isLoading = true;
            this.$axios.get(`/course/${this.$route.params.id}/quiz`).then(res => {
                this.finalQuiz = res.data;
            }).finally(() => this.isLoading = false)
        },
        addFinalQuiz(){
            this.$axios.post(`/course/${this.$route.params.id}/quiz`, {title: this.finalQuizTitle}).then(res => {
                let Notify = new Audio(this.notifySuccess);
                Notify.play();
                this.addFinalQuizPopup = false;
                this.$vs.notify({title:"Success", text:"Quiz Added Successfully", color:"success"})
                this.getFinalQuiz();
            }).catch(error => {
                this.$vs.notify({title:"Failed", text:"There Are Something Wrong", color:"danger"})
            })
        },
        getLessons(section){
            this.currSection2 = section;
            this.$axios.get(`/section/${section.id}/lesson`).then(res => {
                this.currLessons = res.data;
            })
        },
        editLessonMethod(lesson){
            this.editLessonPopup = true;
             this.editLesson.nameEn = lesson.nameEn,
            this.editLesson.nameAr = lesson.nameAr,
            this.editLesson.id = lesson.id
            this.editLesson.video = lesson.video
            this.editLesson.duration = lesson.duration
            this.url = lesson.pdf;
            this.pdf = lesson.pdf;
        },
        deleteLesson(lesson){
            this.currLesson = lesson
            this.$vs.dialog({title:"Are You Sure",text:"Do You Want To Delete This Lesson",color:"danger",accept:this.deleteLessonMain})
        },
        deleteLessonMain(){
            if(process.client){
                this.$vs.loading()
            }
            this.$axios.delete(`/lesson/${this.currLesson.id}`).then(_ => {
                this.getCourseContent();
                this.$vs.notify({title:"Success", text:"Lesson Deleted Successfully", color:"success"})
            }).catch(error =>{
                 this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"})
            }).finally(() => this.$vs.loading.close())
        },
        file_selected(e){
            if(e.target.files.length > 0){
                

                 if(e.target.files[0].name.match(/\.(pdf)$/)){
                    this.pdf = e.target.files[0]
                    this.url = URL.createObjectURL(e.target.files[0])
                    console.log(e.target.value)
                }else{
                    e.target.value = "";
                    this.addLessonPopup = false;
                    this.$vs.notify({time: 10000,color:"danger",position: "top-center",title: "Oops!" , text: "Please Attach a PDF file"});
                }

            }
        },
        file_selectedVideo(e){
            this.videoBinary = '';
            this.videoURLLesson = ''
            
            
            if(e.target.files.length > 0){
                
                
                if(e.target.files[0].name.match(/\.(mp4|webm|mov)$/)){
                    this.videoBinary = e.target.files[0];
                    this.videoURLLesson = URL.createObjectURL(e.target.files[0]);
                    console.log(e.target.value)
                }else{
                    e.target.value = "";
                    this.addLessonPopup = false;
                    this.$vs.notify({time: 10000,color:"danger",position: "top-center",title: "Oops!" , text: "Format Of This Video Not Supported please Convert it into One Of (Mp4 - Webm - Mov)"});
                }
                
            }
        },
        addQuizForm(section){
            this.addQuizPopup = true;
            this.currSection = section
        },
        addQuizMain(){
            this.$vs.loading();
            this.$axios.post(`/section/${this.currSection.id}/quiz`, this.addQuiz).then(res => {
                this.addQuizPopup = false;
                this.$vs.notify({title:"Success", text:"Quiz Added Successfully", color:"success"});
                this.getCourseContent()
            }).catch(error => {
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"});
            }).finally(() => this.$vs.loading.close())
        },
        addLessonForm(section){
            this.addLessonPopup = true;
            this.currCourse = section
            // this.addLesson.nameEn = lesson.nameEn,
            // this.addLesson.nameAr = lesson.nameAr,
            // this.addLesson.id = lesson.id
            // this.addLesson.video = lesson.video
            // this.addLesson.duration = lesson.duration
            // this.url = lesson.pdf;
            // this.pdf = lesson.pdf;
        },
        colseAlert(){
             this.$vs.notify({
        color:'danger',
        title:'Closed',
        text:'You close a dialog!'
      })
        },
        addLessonMain(){
            this.addLessonPopup = false
            if(process.client){
                this.$vs.loading({type:"sound", text:"The Video Upload Now, Keep Calm"})
            }
            let formData = new FormData()
            formData.append("nameAr", this.addLesson.nameAr)
            formData.append("nameEn", this.addLesson.nameEn)
            if(this.videoBinary){
                formData.append("video", this.videoBinary)
            }
            formData.append("duration", this.addLesson.duration)
            if(this.pdf){
                formData.append("pdf", this.pdf)
            }
            this.$axios.post(`/section/${this.currCourse.id}/lesson`, formData).then(res => {
                this.getCourseContent()
                this.$vs.notify({title:"Success", text:"Lesson Added Successfully", color:"success"})
            }).catch(error =>{
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"})
            }).finally(() => this.$vs.loading.close())
        },
        editLessonMain(){
            this.editLessonPopup = false
            if(process.client){
                this.$vs.loading()
            }
            let formData = new FormData()
            formData.append("nameAr", this.editLesson.nameAr)
            formData.append("nameEn", this.editLesson.nameEn)
            formData.append("video", this.editLesson.video)
            formData.append("duration", this.editLesson.duration)
            if(this.pdf){
                formData.append("pdf", this.pdf)
            }
            this.$axios.patch(`/lesson/${this.editLesson.id}`, formData).then(res => {
                this.getCourseContent()
                this.$vs.notify({title:"Success", text:"Lesson Edited Successfully", color:"success"})
            }).catch(error =>{
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"})
            }).finally(() => this.$vs.loading.close())
        },
        editSectionMain(){
            this.editSectionPopup = false
            if(process.client){
                this.$vs.loading()
            }
            this.$axios.patch(`/section/${this.editSection.id}`, this.editSection).then(res => {
                this.getCourseContent()
                this.$vs.notify({title:"Success", text:"Section Edited Successfully", color:"success"})
            }).catch(error =>{
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"})
            }).finally(() => this.$vs.loading.close())
        },
        addSectionMain(){
            this.addSectionPopup = false
            if(process.client){
                this.$vs.loading()
            }
            this.$axios.post(`course/${this.$route.params.id}/section`, this.addSection).then(res => {
                this.getCourseContent()
                this.$vs.notify({title:"Success", text:"Section Added Successfully", color:"success"})
            }).catch(error =>{
                this.$vs.notify({title:"Failed", text:"There Is Something Wrong", color:"danger"})
            }).finally(() => this.$vs.loading.close())
        },
        editSectionIcon(section){
            this.editSection.nameEn = section.nameEn,
            this.editSection.nameAr = section.nameAr,
            this.editSection.id = section.id
            this.editSectionPopup = true
        },
        getCourse(){
           this.isLoading=true;
        this.$axios.get(`/course/${this.$route.params.id}`).then(res => {
            console.log("course ", res.data)
            this.course = res.data
            if(this.course && this.course.video){
         
                this.course.embed = this.course.video.replace("watch?v=", "embed/")
            }
        }).finally(() => this.isLoading = false)
        },
        getCourseContent(){
           this.isLoading=true;
            this.$axios.get(`/course/${this.$route.params.id}/section`).then(res => {
                if(res.data.sections){
                    this.content = res.data.sections
                }else{
                    this.content = res.data
                }
            }).finally(() => this.isLoading = false)
           
        },
        deleteSection(course){
            this.currCourse = course;
            this.$vs.dialog({type:"confirm",color:"danger",title:"Delete Section", text:"Delete This Section Mean Delete All Lessons and Materials That Section Include It .", accept:this.deleteSectionMain})
        },
        deleteSectionMain(){
            if(process.client){
                this.$vs.loading({background:"rgba(255,255,255,.8)"})
            }
            this.$axios.delete(`/section/${this.currCourse.id}`).then(res =>{
                this.getCourseContent();
                this.$vs.notify({title:"Success",text:"Section Deleted Successfully",color:"success"})
            }).catch(error => {
                this.$vs.notify({title:"Failed",text:"There Is Something Wrong",color:"danger"})
            }).finally(() => this.$vs.loading.close())
        },
        getCourseQuizes(section){
            this.$vs.loading()
            this.$axios.get(`section/${section.id}/quiz`).then(res => {
                this.sectionQuiz = res.data;
                console.log("quiz", res.data)
            }).finally(() => this.$vs.loading.close())
        }
    },
    created(){
        this.getCourse();
        this.getCourseContent();
        this.getFinalQuiz();
    }
}
</script>

<style lang="scss">
.course-page{
    .addLesson{
        height:305px;
    }
    .duration{
        padding-top:13px !important;
        text-align: center;
    }
    padding-top: 25px;
    .specific-course{
        .course-questions{
            margin-bottom: 15px;
        }
       .course-info{
            background: #FFF;
    padding: 15px;

    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
       }
    .preview{
         position: fixed;
    top: 15%;
    right: 10%;
    width: 325px;
     background: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    }
    .video-priview{
            
         
        iframe{
                width: 100%;
    height: 230px;
    border: none;
        }
    }
        .course-category{
            display: flex;
            h6{
                padding-top: 12px;
                text-transform: capitalize;
            }
        }
        .course-basic-info{
            h3, p{
                text-transform: capitalize;
            }
            p{
                margin-bottom: 0;
            }
        }
        .course-rating{
            display: flex;
            div{
                h6{
                    margin-bottom: 0;
                    padding-top: 8.1px;
                }
            }
            .rate{
                padding-top: 9px;
            }
            .rateNumber{
                h6{
                    color:#ffc415;
                }
            }
            .b-rating {
                text-align: center;
                background: transparent;
                border: none;
                color: #ffc107;
                margin: 0;
                padding: 0;
            }
        }
        .course-author{
            display: flex;
            margin-top: -10px;
            h5{
                padding-right:5px;
                font-size: 16px;
            }
            h6{
                
            }
        }
        .course-includes{
            h6{
                margin-bottom: 0;
                margin-top: 10px;
            }
            ul{
                    padding: 4px 0;
    height: 100px;
    overflow-y: scroll;
                li{
                    list-style: none;
                    font-size: 12px;
                }
            }
        }
        .course-updated{
            display: flex;
            flex-wrap: wrap;
            >div{
                display: flex;
                flex-grow: 1;
            }
            h5{
                padding-right: 5px;
    font-size: 16px;
    font-size: 15px;
            }
            h6{
                        font-size: 15px;
    font-weight: 400;
            }
        }
    }

    .course-objectives{
        background: #FFF;
        padding: 15px;
        margin-top:25px;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);

    h6{
        &::first-letter{
            font-weight:bold;
            font-size: 20px;
        }
            font-weight: 400;
    font-size: 15px;
    }
    }

    .course-main-content{
        .vs-collapse{
            background: #FFF;
            border: 1px solid #CCC;
            border-bottom: 1px solid #CCC !important;
            padding:0;
            .section-operations{
                text-align: right;
                button{
                    outline: none !important;
                }
                img{
                    width:24px;
                    height:24px
                }
            }
        }
        li{
            .lessons{
                display: flex;
                flex-wrap: wrap;
                
                div{
                        
                    h6{
                        font-weight: 400;
                        margin-bottom: 0;
                            padding-top: 8px;
                    }
                    padding:5px 0;
                    flex-grow: 1;
                 
                    &:first-of-type{
                        flex-grow: 20;
                    }
                }
            }
        }
    }
    
}
.editSectionClass, .addLessonClass{
.vs-dialog{
.vs-dialog-accept-button{
            display: none !important;
        }
.editSection, .addLesson{
    position: relative;
    // height:305px !important;
       
        button.handle-accept{
                position: absolute;
    bottom: -55px;
    right: 64px;
    height: 43px;
    padding: 0 10px;
    border: none;
    color: #FFF;
    background: #46c93a;
    border-radius: 5px 0 0 5px;
    font-weight: bold;
    z-index: 9;
        }
    }
    .vs-component.vs-con-input-label.vs-input{
        width: 100%;
        margin-bottom: 5px;
    }
    .addLesson{
        .handle-accept{
            background: #307efe !important;
        }

        


    }
}
}
.course-page .course-main-content .vs-collapse{
    margin-bottom:0;
}
 

 @media (max-width: 575.98px) {
     .preview{
         position: static !important;
         width:auto !important;
     }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .preview{
         position: static !important;
         width:auto !important;
     }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .preview{
         position: static !important;
         width:auto !important;
     }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
</style>