<template>
  <div class="stats-based-on-course-container">
      <div class="container">
          <h3> Course Statistics </h3>
          <Loading v-if="isLoading" />
          <NoData v-else-if="!isLoading && statsCourse.length == 0" />
          <div class="row">
              <div class="col-md-4" v-for="stats in statsCourse" :key="stats.id" @click="$router.push(`/admin-stats/${$route.params.id}/student/${stats.user.id}/progress`)">
                  <div class="stats-based-on-course">
                      <vs-avatar size="70px" v-if="stats.user && stats.user.photo" :src="stats.user.photo" />
                      <vs-avatar size="70px" v-else src="https://res.cloudinary.com/derossy-backup/image/upload/v1555206304/deross-samples/placeholder-profile-male.jpg" />
                      <h6> {{stats.user.username}} </h6>
                      <h6> {{stats.user.email}} </h6>
                      <h6> {{stats.user.phone}} </h6>

                      <div class="student-stats">
                          <span> Num Of Course Lessons: {{stats.numberOfCourseLessons}} </span>
                          <span> Num Of Completed Lessons: {{stats.lessons.length}} </span>
                      </div>
                  </div>
              </div>

              <div style="width:100%" v-if="totalPages > 1">
                        <vs-pagination :total="totalPages" v-model="page"></vs-pagination>
                    </div>  
          </div>
      </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading';
import NoData from '@/components/NoData';
export default {
    components:{
        NoData,
        Loading
    },
    data(){
        return {
            statsCourse: [],
            page:1,
            totalPages:1,
            isLoading: true
        }
    },
    watch:{
        page(val){
            this.isLoading = true;
            this.$axios.get(`/course/${this.$route.params.id}/statistics?page=${val}`).then(res => {
                console.log(res.data)
                this.statsCourse = res.data.docs
                this.page = res.data.page;
                this.totalPages = res.data.totalPages;
        }).finally(() => this.isLoading = false);
        }
    },
    created(){
        this.$axios.get(`/course/${this.$route.params.id}/statistics`).then(res => {
            console.log(res.data)
            this.statsCourse = res.data.docs
            this.page = res.data.page;
            this.totalPages = res.data.totalPages;
        }).finally(() => this.isLoading = false);
    }
}
</script>

<style lang="scss">
.stats-based-on-course-container{
    padding-top: 25px;
    .stats-based-on-course{
    text-align: center;
        background: #FFF;
    padding: 5px;
    border: 1px solid #CCC;
    margin-bottom: 15px;
    .student-stats{
        span{
                padding: 4px;
    border-radius: 5px;
    color: #FFF;
    margin-bottom: 5px;
            display: inline-block;
            padding:5px;
            background: #ff7675;
            &:first-of-type{
                background: #6c5ce7;
            }

        }
    }
}
.col-md-4{
    cursor: pointer;
}
}

</style>