<template>
  <div class="lec-attendees">
      <div class="container">
          <Loading v-if="isLoading" />
          <div v-else>
              <h3>Lecture Attendees</h3>
              <div class="row">
                  <div class="col-md-4" v-for="std in lecAttendees" :key="std.id">
                      <div class="std_attendees">
                          <div class="teacher-card" style="    margin: 12px 0px;"  >
              <div class="teacher-img">
                <i
                  style="color:#2295c9;color: rgb(57 160 207);padding: 0 12px;"
                  class="fas fa-star"
                ></i>
                <div>
                  <img v-if="std.photo" :src="std.photo" />
                  <img
                    v-else
                    src="https://res.cloudinary.com/derossy-backup/image/upload/v1555206304/deross-samples/placeholder-profile-male.jpg"
                  />
                </div>
              </div>
              <div class="teacher-info" style="padding:0">
                <!-- <h6 v-if="teacher.enable"> <i class="fas fa-circle"></i>  متاح </h6>
                <h6 v-else>  <i class="fas fa-circle"></i>  متاح </h6>-->
                <h6 style="font-size:13px">{{std.email}}</h6>
                                    <b-form-rating disabled v-model="std.rating" variant="warning"></b-form-rating>

              </div>
              <div class="teacher-body">
                   <h6 style="font-family: CustomFontBold;margin-bottom: 0px;font-size: 19px;background: rgba(255, 255, 255, 0.1);padding: 10px;display: inline-block;width: 85%;"><i class="fas fa-circle"></i>
                   {{std.username}}
                   </h6>
                           
              </div>
            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import Loading from "@/components/Loading";
export default {
    components:{
        Loading
    },
    data(){
        return{
            lecAttendees:[],
            isLoading: true,
        }
    },
    created(){
        this.$axios.get(`/lecture/${this.$route.params.id}/attendees`).then(res => {
            this.lecAttendees = res.data;
        }).finally(() => this.isLoading = false)
    }
}
</script>

<style lang="scss">
.lec-attendees{
     .teacher-card {
    margin-bottom: 15px;
    padding-top: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 20px 40px -15px rgba(0,0,0,.05);
    &:hover {
      transform: translateY(-10px);
    }
    .b-rating.disabled, .b-rating:disabled{
      display:block !important;
    }
    .teacher-img {
      padding-bottom: 15px;
      > div {
        height: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .teacher-info {
        h6{
                &:first-of-type{
                        text-align: center;
    font-size: 13px;
    margin-bottom: 6px;
    color: #525252;
                }
                &:last-of-type{
                    text-align: center;
    font-size: 19px;
    margin-bottom: 15px;
    color: #525252;
                }
      }
    }
    .teacher-body {
      h6{
            font-family: CustomFontBold;
    margin-bottom: 0px;
    font-size: 19px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    display: inline-block;
    width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
      }
          width: 104%;
    background: #2295c9;
    color: #fff;
    padding: 0;
    position: relative;
    /* border-radius: 0 0 5px 4px; */
    padding-bottom: 2px;
    left: -11px;
      &::after {
        position: absolute;
        top: -16px;
        content: "";
        left: 0;
        border-width: 5px 2px 11px 8px;
        border-color: transparent #39a0cf #39a0cf transparent;
        border-style: solid;
      }
    }
  }
}
</style>