<template>
  <div class="student-live-exam">
      <div class="container">
          <Loading v-if="isLoading" />
          <NoData v-else-if="!isLoading && studExams.length == 0" />
          <div class="row" v-else>
              <div class="col-md-3" v-for="exam in studExams" :key="exam.id">
                  <div class="quiz-live-to-stud" v-if="exam.quiz">
                      <h6 class="header"> {{exam.quiz.title}} </h6>
                      <h6> <span>questions: </span> {{exam.quiz.questions.length}} </h6>
                      <h6> <span>type: </span> {{exam.quiz.type}} </h6>
                      <h6><i style="color: #e8cc1a;font-size: 22px;margin: 5px;" class="fas fa-coins"></i> {{exam.mark}} / {{exam.quiz.points}} </h6>
                      <div>
                          <span class="status"> {{exam.status}} </span>
                      </div>
                  </div>
              </div>
              <div style="width:100%" v-if="totalPages > 1">
                  <vs-pagination :total="totalPages" v-model="page"></vs-pagination>
                </div>
          </div>
      </div>
  </div>
</template>

<script>
import Loading from "@/components/Loading";
import NoData from '@/components/NoData'
export default {
    components:{
        Loading,
        NoData
    },
    data(){
        return {
            studExams: [],
            page:1,
            totalPages:1,
            isLoading: true
        }
    },
    created(){
        this.isLoading = true;
        this.$axios.get(`/live/${this.$route.params.id}/students/${this.$route.params.stud_id}/exams`).then(res => {
            console.log(res.data)
            this.studExams = res.data.docs;
            this.page = res.data.page;
            this.totalPages = res.data.totalPages;
        }).finally(() => this.isLoading = false)
    },
    watch:{
        page(val){
            this.isLoading = true;
            this.$axios.get(`/live/${this.$route.params.id}/students/${this.$route.params.stud_id}/exams?page=${val}`).then(res => {
            console.log(res.data)
            this.studExams = res.data.docs;
            this.page = res.data.page;
            this.totalPages = res.data.totalPages;
        }).finally(() => this.isLoading = false)
        }
    }
}
</script>

<style lang="scss">
.student-live-exam{
    padding-top: 25px;
    .quiz-live-to-stud{
        text-align: center;
        padding: 15px;
        background: #fff;
        border: 1px solid #CCC;
        span{
            font-size: 11px;
        }
        h6.header{
            padding: 7px;
            background: #f7f7f7;
            border-bottom: 1px solid #CCC;
        }
        .status{
                background: #6c5ce7;
    padding: 4px 13px;
    color: #FFF;
    border-radius: 5px;
    font-size: 15px;
        }
    }
}

</style>