<template>
  <div class="attendees-page">
      <div class="container">
          <Loading v-if="isLoading" />
          <NoData v-else-if=" attendees.length == 0&& !isLoading" />
         <div v-else>
              <h4> Attendees  </h4>
                <div class="row">
                    <div class="col-md-3" v-for="lec in attendees" :key="lec.id">
                        <div class="attendess-card">
                            <h6> {{lec.title}} </h6>
                                <h6> {{ $moment(lec.time).format("YYYY-MM-DD") }} </h6>
                        </div>
                    </div>  
                    <div style="width:100%" v-if="totalPages > 1">
                        <vs-pagination :total="totalPages" v-model="page"></vs-pagination>
                    </div>  
                </div>
         </div>
      </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            attendees: [],
            page:1,
            totalPages: 1,
            isLoading: true
        }
    },
    created(){
        this.isLoading = true;
        this.$axios.get(`/live/${this.$route.params.id}/student/${this.$route.params.stud_id}/lectures`).then(res => {
            console.log(res)
            this.attendees = res.data.docs;
            this.page = res.data.page;
            this.totalPages = res.data.totalPages;
        }).finally(() => this.isLoading = false);
    },
    watch:{
        page(val){
            this.isLoading = true;
             this.$axios.get(`/live/${this.$route.params.id}/student/${this.$route.params.stud_id}/lectures?page=${val}`).then(res => {
                console.log(res)
                this.attendees = res.data.docs;
                this.page = res.data.page;
                this.totalPages = res.data.totalPages;
            }).finally(() => this.isLoading = false);
        }
    }
}
</script>

<style lang="scss">
.attendees-page{
    padding-top:25px;
    .attendess-card{
        padding:5px;
        border:1px solid #CCC;
        background: #FFF;
        margin-bottom:15px;
        h6{
            text-align: center;
                &:first-of-type{
                    padding: 5px;
                    background: #f7f7f7;
                    
                    border-bottom: 1px solid #CCC;
                }
        }
    }
}

</style>